@import "../common.scss";

#theme_name {
  #finance {
    height: 100%;
    > div {
      width: 1200px;
      height: 750px;
      padding: 95px 0;
    }
    .mainList {
      width: 100%;
      padding-right: 5px;
      > div {
        width: 100%;
        cursor: pointer;
        @include flex('flex-center');
        p {
          @include flex('flex-center');
          span {
            @include flex('flex-center');
          }
        }
      }
      .abacusUp {
        min-height: 200px;
        max-height: 200px;
        p {
          width: 60px;
          height: 40px;
          i {
            width: 24px;
            height: 24px;
          }
        }
      }
      .abacusDown {
        height: 410px;
        p {
          width: 60px;
          height:200px;
          padding-top: 30px;
          span {
            font-family: 'jingDianXingShu';
            letter-spacing: 10px;
            font-size: 30px;
          }
        }
      }
      &:hover {
        > div {
          p {
            color: $colorFFF;
          }
        }
      }
    }
    .mainList.finance2 {
      .abacusUp {
        .icons {
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}

#theme_name.theme1 {

}

#theme_name.theme2 {
  #finance {

  }
}

#theme_name.theme3 {
  #finance {

  }
}

#theme_name.theme4 {
  #finance {

  }
}
