@import "../../../common.scss";

#theme_name {
  #rewardDown {

  }
}

#theme_name.theme1 {
  #rewardDown {
    .header_right {
      display: flex;
      flex-direction: row-reverse;
      .icon-add {
        width: 30px;
        height: 30px;
        display: inline-block;
        @include flex('flex-center');
        cursor: pointer;
        background-color: #CF2E33;
        b {
          color: $colorFFF;
          font-size: 30px;
          margin-bottom: 6px;
        }
      }
    }
  }
}

#theme_name.theme2 {
  #rewardDown {

  }
}

#theme_name.theme3 {
  #rewardDown {

  }
}

#theme_name.theme4 {
  #rewardDown {

  }
}
