@import "../../../common.scss";

#theme_name {
  #departManage {
    .dialog_container {
      .departPosition {
        flex-direction: column;
        .mainTop {
          height: 100px;
          span {
            cursor: pointer;
            padding: 8px 40px;
            margin-right: 20px;
          }
          .hover {
            color: $colorFFF;
          }
          .add {
            width: 30px;
            height: 30px;
            @include radius(6px);
            cursor: pointer;
            background-color: #CF2E33;
            @include flex('flex-center');
            b {
              padding-bottom: 6px;
              color: $colorFFF;
              font-size: 30px;
            }
          }
        }
        .staffManage, .orgManage {
          background-color: $colorFFF;
          height: 100%;
          > div {
            float: left;
          }
        }
        .staffManage {
          > div {
            margin: 60px 0 0 36px;
            position: relative;
            cursor: pointer;
            p {
              width: 58px;
              height: 58px;
              margin-right: 15px;
              img {
                @include radius(50%);
              }
            }
            div {
              h5 {
                color: $color2D2;
                margin-top: 6px;
              }
            }
          }
        }
        .orgManage {
          > div {
            cursor: pointer;
            padding: 6px;
            width: 60px;
            height: 220px;
            border: 1px solid $color874;
            background-color: $color2F2;
            margin: 60px 0 0 60px;
            p {
              height: 100%;
              padding: 10px 0;
              background-color: $colorFFF;
              border: 1px solid $color874;
            }
          }
        }
        //员工/部门 add
        .depart_visible {
          width: 88%;
          height: 100%;
          padding: 30px 0 20px;
          @include flex('bet-column');
          .multi-input {
            > div + div {
              margin-top: 20px;
            }
            .first {
              @include flex('items-center');
              label {
                min-width: 30px;
                height: 30px;
                color: #CF2E33;
                border: 1px solid #CF2E33;
                border-radius: 50%;
                line-height: 24px;
                font-size: 30px;
                margin-left: 15px;
                cursor: pointer
              }
            }
          }
        }
      }
      //权限
      .powerContent {
        padding: 0 60px;
        text-align: left;
        .powerHead {
          margin: 20px 0 60px;
          .inputLabel {
            @include flex('items-center');
            h4 {
              margin-right: 20px;
            }
          }
          i {
            font-size: 28px;
            color: $colorE33;
          }
        }
        .powerTabs {
          margin-bottom: 30px;
          .childPower {
            padding: 0 15px;
            span {
              cursor: pointer;
              margin-right: 30px;
            }
            .hover {
              color: $colorE33;
            }
          }
        }
        .powerMain {
          height: 80%;
          padding: 40px 0;
          background-color: $colorFFF;
          > div:first-child {
            padding: 0 40px;
          }
          > div {
            .el-checkbox-group {
              padding: 0 40px;
              border-left: 1px dashed $color2D2;
              label {
                margin-bottom: 15px;
              }
            }
          }
        }
      }
      .footerBtn.right {
        justify-content: flex-end;
        padding-right: 60px;
      }
    }
  }
}

#theme_name.theme1 {
  #departManage {

  }
}

#theme_name.theme2 {
  #departManage {

  }
}

#theme_name.theme3 {
  #departManage {

  }
}

#theme_name.theme4 {
  #departManage {

  }
}
