.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

#theme_name #departManage .dialog_container .dialog_header span {
  font-size: 24px; }
#theme_name #departManage .dialog_container .dialog_main {
  flex-direction: column; }
  #theme_name #departManage .dialog_container .dialog_main .mainTop {
    height: 100px; }
    #theme_name #departManage .dialog_container .dialog_main .mainTop span {
      cursor: pointer;
      padding: 8px 40px;
      margin-right: 20px; }
    #theme_name #departManage .dialog_container .dialog_main .mainTop .hover {
      color: #FFFFFF; }
    #theme_name #departManage .dialog_container .dialog_main .mainTop .add {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      cursor: pointer;
      background-color: #CF2E33;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center; }
      #theme_name #departManage .dialog_container .dialog_main .mainTop .add b {
        padding-bottom: 6px;
        color: #FFFFFF;
        font-size: 30px; }
  #theme_name #departManage .dialog_container .dialog_main .staffManage, #theme_name #departManage .dialog_container .dialog_main .orgManage {
    background-color: #FFFFFF;
    height: 100%; }
    #theme_name #departManage .dialog_container .dialog_main .staffManage > div, #theme_name #departManage .dialog_container .dialog_main .orgManage > div {
      float: left; }
  #theme_name #departManage .dialog_container .dialog_main .staffManage > div {
    margin: 60px 0 0 36px;
    position: relative;
    cursor: pointer; }
    #theme_name #departManage .dialog_container .dialog_main .staffManage > div p {
      width: 58px;
      height: 58px;
      margin-right: 15px; }
      #theme_name #departManage .dialog_container .dialog_main .staffManage > div p img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
    #theme_name #departManage .dialog_container .dialog_main .staffManage > div div h5 {
      color: #D2D2D2;
      margin-top: 6px; }
  #theme_name #departManage .dialog_container .dialog_main .orgManage > div {
    cursor: pointer;
    padding: 6px;
    width: 60px;
    height: 220px;
    border: 1px solid #686874;
    background-color: #F2F2F2;
    margin: 60px 0 0 60px; }
    #theme_name #departManage .dialog_container .dialog_main .orgManage > div p {
      height: 100%;
      padding: 10px 0;
      background-color: #FFFFFF;
      border: 1px solid #686874; }

/*# sourceMappingURL=departManage.css.map */
