@import "../../../common.scss";

#theme_name {
  #part_three {
    height: 100%;
    > div {
      width: 100%;
      height: 100%;
      margin-top: 10px;
      position: relative;
      .container {
        width: 60%;
        height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .content {
          width: 85%;
          height: 90%;
          padding: 30px;
          .content_header {
            height: 30px;
          }
        }
      }
      .paper_resume {
        width: 100%;
        height: calc(100% + 90px);
        position: absolute;
        top: -90px;
        left: 0;
        background-color: $color2F2;
        transition: all ease 1s;
        z-index: 201;
        .btn_group {
          position: absolute;
          top: 30px;
          left: 0;
          > div {
            width: 80px;
            height: 40px;
            background-color: $color0C0;
            text-align: center;
            line-height: 40px;
            border-radius: 0 8px 8px 0;
            cursor: pointer;
            &:first-child {
              margin-bottom: 20px;
            }
          }
          .is_select {
            color: white;
            background-color: $colorE33;
          }
        }
        .top_title {
          width: 100%;
          padding: 10px 100px;
          //border-bottom: 1px solid $color0C0;
          > div {
            width: 50%;
            &:first-child {
              text-align: left;
              line-height: 80px;
            }
            &:last-child {
              text-align: right;
              line-height: 80px;
              padding-right: 20%;
              > span {
                font-size: 18px;
                color: $colorE33;
              }
            }
          }
        }
        .content {
          width: 80%;
          height: 100%;
          //padding: 50px;
          margin: 0 auto;
          .base_info,.edu_info,.work_info {
            width: 100%;
            border-bottom: 1px solid #999999;
            padding-bottom: 30px;
            > div {
              &:first-child {
                width: 10%;
                padding-top: 50px;
                line-height: 200px;
                font-size: 24px;
              }
              &:last-child {
                width: 90%;
                padding-top: 40px;
              }
            }
          }
          .work_info {
            border: none;
          }
        }
      }
      .hide_resume {
        top: -1080px;
        left: -1920px;
      }
    }
  }
}
