.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

#theme_name #part_three {
  height: 100%; }
  #theme_name #part_three > div {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    position: relative; }
    #theme_name #part_three > div .container {
      width: 60%;
      height: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #theme_name #part_three > div .container .content {
        width: 85%;
        height: 90%;
        padding: 30px; }
    #theme_name #part_three > div .paper_resume {
      width: 100%;
      height: calc(100% + 90px);
      position: absolute;
      top: -90px;
      left: 0;
      background-color: #F2F2F2;
      transition: all ease 1s;
      z-index: 101; }
      #theme_name #part_three > div .paper_resume .btn_group {
        position: absolute;
        top: 30px;
        left: 0; }
        #theme_name #part_three > div .paper_resume .btn_group > div {
          width: 80px;
          height: 40px;
          background-color: #C0C0C0;
          text-align: center;
          line-height: 40px;
          border-radius: 0 8px 8px 0;
          cursor: pointer; }
          #theme_name #part_three > div .paper_resume .btn_group > div:first-child {
            margin-bottom: 20px; }
        #theme_name #part_three > div .paper_resume .btn_group .is_select {
          color: white;
          background-color: #CF2E33; }
      #theme_name #part_three > div .paper_resume .top_title {
        width: 100%;
        padding: 10px 100px; }
        #theme_name #part_three > div .paper_resume .top_title > div {
          width: 50%; }
          #theme_name #part_three > div .paper_resume .top_title > div:first-child {
            text-align: left;
            line-height: 80px; }
          #theme_name #part_three > div .paper_resume .top_title > div:last-child {
            text-align: right;
            line-height: 80px;
            padding-right: 20%; }
            #theme_name #part_three > div .paper_resume .top_title > div:last-child > span {
              font-size: 18px;
              color: #CF2E33; }
      #theme_name #part_three > div .paper_resume .content {
        width: 80%;
        height: 100%;
        margin: 0 auto; }
        #theme_name #part_three > div .paper_resume .content .base_info, #theme_name #part_three > div .paper_resume .content .edu_info, #theme_name #part_three > div .paper_resume .content .work_info {
          width: 100%;
          border-bottom: 1px solid #999999;
          padding-bottom: 30px; }
          #theme_name #part_three > div .paper_resume .content .base_info > div:first-child, #theme_name #part_three > div .paper_resume .content .edu_info > div:first-child, #theme_name #part_three > div .paper_resume .content .work_info > div:first-child {
            width: 10%;
            padding-top: 50px;
            line-height: 200px;
            font-size: 24px; }
          #theme_name #part_three > div .paper_resume .content .base_info > div:last-child, #theme_name #part_three > div .paper_resume .content .edu_info > div:last-child, #theme_name #part_three > div .paper_resume .content .work_info > div:last-child {
            width: 90%;
            padding-top: 40px; }
        #theme_name #part_three > div .paper_resume .content .work_info {
          border: none; }
    #theme_name #part_three > div .hide_resume {
      top: -1080px;
      left: -1920px; }

/*# sourceMappingURL=part_three.css.map */
