.flex {
  display: flex;
  display: -webkit-flex;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf");
}
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF");
}
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf");
}
/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('/static/font/JDJXINSHU.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('/static/font/ITCAVANTGARDESTD-MD.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('/static/font/BaiZhouRenZhe.otf');
}*/
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll_bar {
  overflow: auto;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: #e4e7ed;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}
.action-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-bar .check-count {
  margin-left: 30px;
  margin-right: 50px;
}
.action-bar .check-count i {
  font-style: normal;
  color: #ff4545;
}
.action-bar .action-bar-name {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.action-bar .action-bar-name span {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.action-bar .action-bar-name span:first-child {
  border-left: 0;
}
.action-bar .delete {
  color: #ff4545;
}
.action-bar .edit {
  color: #0c66ff;
}
.action-bar .check {
  color: #0bb07b;
}

.colorE33 {
  color: #cf2e33;
}

.color874 {
  color: #686874;
}

#theme_name #part_four {
  height: 100%;
}
#theme_name #part_four > div {
  width: 100%;
  height: 100%;
  position: relative;
}
#theme_name #part_four > div .container {
  position: relative;
  width: 60%;
  height: 70%;
}
#theme_name #part_four > div .container .content {
  width: 85%;
  height: 90%;
  padding: 30px;
}
#theme_name #part_four > div .a_color {
  text-align: left;
  font-size: 14px;
}
#theme_name #part_four > div .a_color a {
  display: inline-block;
  width: 140px;
  text-align: right;
  padding-right: 30px;
  color: #999;
}
#theme_name #part_four > div .a_color span.pic {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #999999;
  vertical-align: top;
  cursor: pointer;
}
#theme_name #part_four .offer_container {
  width: 800px;
  height: 1200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  text-align: center;
  color: black;
}
#theme_name #part_four .offer_container > h1 {
  color: black;
  margin-top: 80px;
  margin-bottom: 10px;
  font-weight: bold;
}
#theme_name #part_four .offer_container > h4 {
  font-weight: bold;
}
#theme_name #part_four .offer_container .content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 80px 30px;
}
#theme_name #part_four .offer_container .content p {
  margin-bottom: 20px;
}
#theme_name #part_four .offer_container .content .name {
  display: inline-block;
  width: 120px;
  border-bottom: 1px solid #686874;
  margin-right: 5px;
  text-align: center;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
}
#theme_name #part_four .offer_container .content .kong {
  display: inline-block;
  width: 40px;
}
#theme_name #part_four .offer_container .content .btn {
  color: #cf2e33;
  margin: 50px 0;
  cursor: pointer;
}
#theme_name #part_four .offer_container .content strong {
  font-weight: bold;
  color: black;
}
#theme_name #part_four .offer_container .content .footer > div {
  width: 50%;
  line-height: 80px;
  text-align: right;
}
#theme_name #part_four .hide_offer_container {
  top: -1920px;
  left: -1920px;
}
#theme_name #part_four .labour_contract {
  width: 800px;
  height: 1100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  text-align: center;
  color: black;
}
#theme_name #part_four .labour_contract .item_margin {
  margin-bottom: 55px;
}
#theme_name #part_four .hide_labour_contract {
  top: -1920px;
  right: -1920px;
}

/*# sourceMappingURL=part_four.css.map */
