@import '../../common.scss';
#theme_name {
    #balance {
        .balance-detail {
            .balance-detail-title {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                //justify-content: space-between;
                span {
                    display: inline-block;
                    padding: 6px 30px;
                    cursor: pointer;
                    margin-right: 10px;
                }
            }
            .balance-detail-info {
                width: 100%;
                .tab {
                    padding: 50px;
                }
                .tab8 {
                    width: 90%;
                    margin: 0 auto;
                    padding: 10px;
                    border: 1px solid #f56c6c;
                    border-radius: 5px;
                    background: #ffffff;
                    margin-top: 50px;
                    .balance-detail-form-info {
                        width: 100%;
                        height: 400px;
                        padding: 20px;
                        //&:hover{
                        // border:1px solid #f56c6c;
                        //}
                        border-radius: 5px;
                        background: #ffffff;
                        .balance-detail-form-table {}
                        .balance-detail-total {
                            margin-top: 30px;
                        }
                        // 图片展示
                        .img-wall {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            .balance-detail-img {
                                // width: 25%;
                                padding: 10px;
                                img {
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                        }
                    }
                }
                .upload_imgVideo {
                    background: #fff;
                    height: 200px;
                    overflow-y: scroll;
                    padding: 20px 10px;
                    #upLoad {
                        .items-center {
                            flex-wrap: wrap !important;
                        }
                    }
                }
                .balance-detail-form {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    // .balance-detail-form-info {
                    //     width: 30%;
                    //     height: 400px;
                    //     padding: 20px;
                    //     //&:hover{
                    //     // border:1px solid #f56c6c;
                    //     //}
                    //     border-radius: 5px;
                    //     background: #ffffff;
                    //     .balance-detail-form-table {}
                    //     .balance-detail-total {
                    //         margin-top: 30px;
                    //     }
                    //     .img-wall {
                    //         display: flex;
                    //         flex-direction: row;
                    //         flex-wrap: wrap;
                    //         align-items: flex-start;
                    //         .balance-detail-img {
                    //             width: 25%;
                    //             padding: 10px;
                    //             img {
                    //                 width: 50px;
                    //                 height: 50px;
                    //             }
                    //         }
                    //     }
                    // }
                    .activeBorder {
                        border: 1px solid #f56c6c;
                        border-radius: 5px;
                    }
                }
                .add_mark {
                    width: 30px;
                    height: 30px;
                    @include radius(5px);
                    background-color: $colorE33;
                    font-size: 20px;
                    text-align: center;
                    color: white;
                    position: absolute;
                    right: 20px;
                    top: 0;
                    cursor: pointer;
                }
                .address {
                    font-size: 18px;
                }
                .record {
                    padding: 20px;
                }
                // 评论图片、视频样式
                .comments_content {
                    .comments_img_video {
                        img {
                            width: 200px;
                            height: 200px;
                        }
                        video {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }
        }
        .check-box {
            position: fixed;
            top: 81px;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.3);
            z-index: 240;
            .check-box-list {
                width: 100%;
                padding: 50px 100px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .check-box-info {
                    width: 18%;
                    height: 440px;
                    padding: 30px;
                    >div {
                        width: 100%;
                        div {
                            margin-top: 30px;
                            p {
                                margin-top: 20px;
                                margin-bottom: 20px;
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                span {
                                    display: inline-block;
                                    font-size: 14px;
                                }
                                span:first-child {
                                    width: 40%;
                                    text-align: right;
                                }
                                span:last-child {
                                    width: 60%;
                                    text-align: justify;
                                    padding-left: 20px;
                                }
                            }
                            p:last-child {
                                margin-top: 30px;
                                margin-left: 100px;
                            }
                        }
                    }
                }
            }
        }
        .form-reduce-icon {
            display: inline-block;
            cursor: pointer;
            position: absolute;
            right: -30px;
            top: 0;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            //background: #ff4545;
            text-align: center;
            line-height: 25px;
            color: #ffffff;
            font-style: normal;
            font-size: 20px;
        }
        // 照片、评论的列表样式
        .Imgs_comments {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            // 照片
            .imgs {
                // 图片展示
                width: 30%;
                margin-left: 5%;
                border: 1px solid #f56c6c;
                border-radius: 5px;
                background-color: #ffffff;
                background: #ffffff;
                h3 {
                    padding: 10px 10px 10px 40px;
                    text-align: left;
                }
                .img-wall {
                    height: 440px;
                    overflow-y: scroll;
                    .balance-detail-img {
                        display: inline-block;
                        padding: 10px;
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
            // 评论
            .comments {
                width: 50%;
                border: 1px solid #f56c6c;
                border-radius: 5px;
                background-color: #ffffff;
                margin-right: 5%;
                .comments_list {
                    color: rgba(104, 104, 116, 1);
                    margin-left: 40px;
                    .add_btn {
                        text-align: right;
                        padding: 10px 10px 10px 0;
                        display: flex;
                        justify-content: space-between;
                        .add_mark_comment {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                            background-color: #cf2e33;
                            font-size: 20px;
                            color: white;
                            cursor: pointer;
                            text-align: center;
                        }
                    }
                    .comment_content {
                        height: 440px;
                        overflow-y: scroll;
                        .comment_item {
                            margin-top: 40px;
                            .comment_basic_info {
                                display: flex;
                                justify-content: flex-start;
                                img {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 40px;
                                }
                                .operter_date {
                                    margin-left: 20px;
                                    span {
                                        display: block;
                                        font-size: 12px;
                                        color: rgba(0, 0, 0, 1);
                                        text-align: left;
                                    }
                                    span:nth-child(2) {
                                        font-size: 14px;
                                        color: rgba(155, 155, 155, 1)
                                    }
                                }
                            }
                            .comment_content_info {
                                margin-left: 60px;
                                margin-top: 10px;
                                p {
                                    font-size: 14px;
                                    text-align: left;
                                    margin-bottom: 10px;
                                }
                                .comments_img_video {
                                    text-align: left;
                                    .img_video_item {
                                        padding-right: 10px;
                                    }
                                    video,
                                    img {
                                        width: 40px;
                                        height: 40px;
                                        background-size: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // 被选中时，去除红色边框
            .activeImgsComments {
                border-color: #fff;
            }
            // 当为报销单的详情时，评论居中
            .isCenterComments {
                margin: auto;
            }
        }
    }
}

#theme_name.theme1 {
    #balance {}
}

#theme_name.theme2 {
    #balance {}
}

#theme_name.theme3 {
    #balance {}
}

#theme_name.theme4 {
    #balance {}
}