.flex {
  display: flex;
  display: -webkit-flex;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf");
}
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF");
}
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf");
}
/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('/static/font/JDJXINSHU.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('/static/font/ITCAVANTGARDESTD-MD.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('/static/font/BaiZhouRenZhe.otf');
}*/
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll_bar {
  overflow: auto;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: #e4e7ed;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}
.action-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-bar .check-count {
  margin-left: 30px;
  margin-right: 50px;
}
.action-bar .check-count i {
  font-style: normal;
  color: #ff4545;
}
.action-bar .action-bar-name {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.action-bar .action-bar-name span {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.action-bar .action-bar-name span:first-child {
  border-left: 0;
}
.action-bar .delete {
  color: #ff4545;
}
.action-bar .edit {
  color: #0c66ff;
}
.action-bar .check {
  color: #0bb07b;
}

.colorE33 {
  color: #cf2e33;
}

.color874 {
  color: #686874;
}

#theme_name #balance .balance-detail .balance-detail-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#theme_name #balance .balance-detail .balance-detail-title span {
  display: inline-block;
  padding: 6px 30px;
  cursor: pointer;
  margin-right: 10px;
}
#theme_name #balance .balance-detail .balance-detail-info {
  width: 100%;
}
#theme_name #balance .balance-detail .balance-detail-info .tab {
  padding: 50px;
}
#theme_name #balance .balance-detail .balance-detail-info .tab8 {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #f56c6c;
  border-radius: 5px;
  background: #ffffff;
  margin-top: 50px;
}
#theme_name #balance .balance-detail .balance-detail-info .tab8 .balance-detail-form-info {
  width: 100%;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  background: #ffffff;
}
#theme_name #balance .balance-detail .balance-detail-info .tab8 .balance-detail-form-info .balance-detail-total {
  margin-top: 30px;
}
#theme_name #balance .balance-detail .balance-detail-info .tab8 .balance-detail-form-info .img-wall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
#theme_name #balance .balance-detail .balance-detail-info .tab8 .balance-detail-form-info .img-wall .balance-detail-img {
  padding: 10px;
}
#theme_name #balance .balance-detail .balance-detail-info .tab8 .balance-detail-form-info .img-wall .balance-detail-img img {
  width: 50px;
  height: 50px;
}
#theme_name #balance .balance-detail .balance-detail-info .upload_imgVideo {
  background: #fff;
  height: 200px;
  overflow-y: scroll;
  padding: 20px 10px;
}
#theme_name #balance .balance-detail .balance-detail-info .upload_imgVideo #upLoad .items-center {
  flex-wrap: wrap !important;
}
#theme_name #balance .balance-detail .balance-detail-info .balance-detail-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#theme_name #balance .balance-detail .balance-detail-info .balance-detail-form .activeBorder {
  border: 1px solid #f56c6c;
  border-radius: 5px;
}
#theme_name #balance .balance-detail .balance-detail-info .add_mark {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #cf2e33;
  font-size: 20px;
  text-align: center;
  color: white;
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
}
#theme_name #balance .balance-detail .balance-detail-info .address {
  font-size: 18px;
}
#theme_name #balance .balance-detail .balance-detail-info .record {
  padding: 20px;
}
#theme_name #balance .balance-detail .balance-detail-info .comments_content .comments_img_video img {
  width: 200px;
  height: 200px;
}
#theme_name #balance .balance-detail .balance-detail-info .comments_content .comments_img_video video {
  width: 200px;
  height: 200px;
}
#theme_name #balance .check-box {
  position: fixed;
  top: 81px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 240;
}
#theme_name #balance .check-box .check-box-list {
  width: 100%;
  padding: 50px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#theme_name #balance .check-box .check-box-list .check-box-info {
  width: 18%;
  height: 440px;
  padding: 30px;
}
#theme_name #balance .check-box .check-box-list .check-box-info > div {
  width: 100%;
}
#theme_name #balance .check-box .check-box-list .check-box-info > div div {
  margin-top: 30px;
}
#theme_name #balance .check-box .check-box-list .check-box-info > div div p {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#theme_name #balance .check-box .check-box-list .check-box-info > div div p span {
  display: inline-block;
  font-size: 14px;
}
#theme_name #balance .check-box .check-box-list .check-box-info > div div p span:first-child {
  width: 40%;
  text-align: right;
}
#theme_name #balance .check-box .check-box-list .check-box-info > div div p span:last-child {
  width: 60%;
  text-align: justify;
  padding-left: 20px;
}
#theme_name #balance .check-box .check-box-list .check-box-info > div div p:last-child {
  margin-top: 30px;
  margin-left: 100px;
}
#theme_name #balance .form-reduce-icon {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: -30px;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: #ffffff;
  font-style: normal;
  font-size: 20px;
}
#theme_name #balance .Imgs_comments {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#theme_name #balance .Imgs_comments .imgs {
  width: 30%;
  margin-left: 5%;
  border: 1px solid #f56c6c;
  border-radius: 5px;
  background-color: #ffffff;
  background: #ffffff;
}
#theme_name #balance .Imgs_comments .imgs h3 {
  padding: 10px 10px 10px 40px;
  text-align: left;
}
#theme_name #balance .Imgs_comments .imgs .img-wall {
  height: 440px;
  overflow-y: scroll;
}
#theme_name #balance .Imgs_comments .imgs .img-wall .balance-detail-img {
  display: inline-block;
  padding: 10px;
}
#theme_name #balance .Imgs_comments .imgs .img-wall .balance-detail-img img {
  width: 50px;
  height: 50px;
}
#theme_name #balance .Imgs_comments .comments {
  width: 50%;
  border: 1px solid #f56c6c;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 5%;
}
#theme_name #balance .Imgs_comments .comments .comments_list {
  color: #686874;
  margin-left: 40px;
}
#theme_name #balance .Imgs_comments .comments .comments_list .add_btn {
  text-align: right;
  padding: 10px 10px 10px 0;
  display: flex;
  justify-content: space-between;
}
#theme_name #balance .Imgs_comments .comments .comments_list .add_btn .add_mark_comment {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #cf2e33;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-align: center;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content {
  height: 440px;
  overflow-y: scroll;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item {
  margin-top: 40px;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_basic_info {
  display: flex;
  justify-content: flex-start;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_basic_info img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_basic_info .operter_date {
  margin-left: 20px;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_basic_info .operter_date span {
  display: block;
  font-size: 12px;
  color: black;
  text-align: left;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_basic_info .operter_date span:nth-child(2) {
  font-size: 14px;
  color: #9b9b9b;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_content_info {
  margin-left: 60px;
  margin-top: 10px;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_content_info p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_content_info .comments_img_video {
  text-align: left;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_content_info .comments_img_video .img_video_item {
  padding-right: 10px;
}
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_content_info .comments_img_video video,
#theme_name #balance .Imgs_comments .comments .comments_list .comment_content .comment_item .comment_content_info .comments_img_video img {
  width: 40px;
  height: 40px;
  background-size: cover;
}
#theme_name #balance .Imgs_comments .activeImgsComments {
  border-color: #fff;
}
#theme_name #balance .Imgs_comments .isCenterComments {
  margin: auto;
}

/*# sourceMappingURL=index.css.map */
