@import "../../common.scss";

#theme_name {
  #menu{
    .mainList{
      width: 100%;
      height: 100%;
      position: relative;
      .menu-list{
        width: 100%;
        height: 100%;
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        span{
          display: block;
          cursor: pointer;
          width: 70px;
          height: 360px;
          //border:1px solid #ff4545;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          i{
            font-style: normal;
            font-family: jingDianXingShu;
            font-size: 24px;
            letter-spacing: 2px;
          }
        }

      }

      .right-tab{
        position: absolute;
        top:50%;
        right:0;
        transform: translate(0,-50%);
        div{
          display: flex;
          flex-direction: row;
          align-items: center;

          span:first-child{
            display: block;
            padding:5px;
            border:1px solid #DFDFDF;
            margin-bottom: 15px;
            text-align: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i{
              font-style: normal;
              letter-spacing: 2px;
              //border:1px solid #ff4545;
              border:1px solid #DFDFDF;
              padding:10px 3px;
              font-family: jingDianXingShu;
            }
          }
          span:last-child{
            display: inline-block;
            width: 50px;
            height: 1px;
            //border:1px solid #ff4545
            border:1px solid #DFDFDF;
          }

          &:hover{
            span:first-child{
              border:1px solid #ff4545;
              i{
                border:1px solid #ff4545;
                color:#ff4545;
              }
            }
            span:last-child{
              border:1px solid #ff4545
            }
          }

        }


      }
    }
  }
  #postPlanning {
    > div {
    }

    .mainList {
      width: 100%;
      overflow: hidden;
      position: relative;
      padding-left:340px;
      padding-top: 50px;
      padding-bottom: 120px;
      .edit_btn{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        top:20px;
        right: 100px;
        span{
          margin-left: 15px;
          display: block;
          padding: 5px 20px;
          background: #DFDFDF;
          color: #FFFFFF;
          border-radius: 5px;
          cursor: pointer;
          &:hover{
            background: #CF2E33;
          }
        }
      }
      .train_btn{//新人训
        position: absolute;
        top:0;
        left: 100px;
        display: flex;
        flex-direction: row;
        span{
          display: inline-block;
          width: 40px;
          height: 180px;
          margin-right: 30px;
          position: relative;
          cursor: pointer;

          &:hover{
            color:#FFFFFF;
          }
          i{
            font-style: normal;
            letter-spacing: 2px;

          }
        }

        span:first-child{
          i{
            position: absolute;
            left:50%;
            top:62%;
            transform: translate(-50%,-20%);
          }
        }
        span:last-child{
          i{
            position: absolute;
            left:50%;
            top:54%;
            transform: translate(-50%,0);
          }
        }
      }

      .main-right {
        .right-list {
          height: auto;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);

          span {
            display: block;
            width: 180px;
            height: 40px;
            margin-top: 24px;
            font-family: jingDianXingShu;
            font-size: 18px;
            text-align: center;
            line-height: 40px;
            cursor: pointer;

            &:hover {
              color: #FFFFFF;
              -webkit-transform: scale(1.5);
              -moz-transform: scale(1.5);
              -o-transform: scale(1.5);
            }

          }

        }
      }
      .tab{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1200px;
        height: 100%;
        justify-content: space-between;


        .slogan{
          margin: 0 auto;
          width: 100px;
          height: 200px;
          position: relative;
          span{
            display:block;
            i{
              font-style: normal;
              font-family: jingDianXingShu;
              font-size: 28px;
            }

          }
          span:first-child{
            position: absolute;
            left:0;
            top:70%;
            transform: translate(0,0);
          }
          span:last-child{
            position: absolute;
            left:50%;
            top:38%;
            transform: translate(-50%,0);
          }
        }

      }
      .main-left {
        width: 40%;
        height: 100%;
        .left-top,.left-bottom{
          width: 100%;
          height: 50%;
          //border: 1px solid #F03D3D;
          display: flex;
          flex-direction: row;
          div:nth-child(1){
            width: 20%;
            //border: 1px solid #FFAD0B;
            span{
              width: 50px;
              height: 80%;
              //border:1px solid #000000;
              font-family: jingDianXingShu;
              color:#FFFFFF;
              font-size: 18px;
              letter-spacing: 1px;
            }
          }
          div:nth-child(2){
            width: 80%;
            //border: 1px solid #FF7131;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            span{
              font-family: jingDianXingShu;
              font-size: 18px;
              margin-top: 20px;
            }
          }
        }
      }
      .main-middle{
        width: 60%;
        height: 100%;
        >div{
          width: 70%;
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .spacial-tab{
            width: 200px;
            height: 40px;
            color: #FFFFFF!important;
            line-height: 40px;
          }
          span{
            font-family: jingDianXingShu;
            font-size: 18px;
            text-align: center;
            line-height: 30px;
            margin-bottom: 30px;
          }
          span:nth-child(1){
            color:#CF2E33;

          }

        }
      }
    }

    .mainList-train{//新人训list
      width: 100%;
      padding: 0;
      position: relative;
      .train-box{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        span{
          width: 300px;
          height: 60px;
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          i{
            font-family: jingDianXingShu;
            font-size: 24px;
            font-style: normal;
          }
        }

      }
    }


  }
}
