@import "../../../common.scss";

#theme_name {
  #profile_video_back {
    .video-lists {
      width: 100%;
      height: 100%;
      padding-left: 175px;
      padding-right: 175px;
      padding-top: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .video-list-info {
        width: 33.33%;
        height: 420px;
        margin-bottom: 30px;
        .video-box {
          width: 480px;
          height: 100%;
          background-color: #ffffff;
          border-radius: 8px;

          .video-box-top {
            width: 100%;
            height: 300px;
            overflow: hidden;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            position: relative;

            video {
              width: 100%;
              height: 300px;
              object-fit: fill;
            }

            .video-start-icon {
              width: 100px;
              height: 100px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            .video-modal {
              width: 100%;
              height: 100%;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              background: rgba(0, 0, 0, 0.4);
              position: absolute;
              top: 0;
              left: 0;
            }
          }

          .video-box-bottom {
            width: 100%;
            height: 120px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            .title{
              font-family: jingDianXingShu;
              font-size: 30px;
              margin-top: 10px;
              margin-bottom: 10px;
            }
            .time{
              font-size: 16px;
              color:#D2D2D2;
            }
            .btn{
              display: inline-block;
              i{
                display: inline-block;
                width: 20px;
                height: 20px;
                cursor: pointer;

              }
              i:nth-child(1){
                margin-right: 20px;
              }
            }

          }
        }
      }
    }
  }

  .uploadFile {
    padding: 10px 15px;
    background: #ffffff;
    border-radius: 4px;
  }

}
