.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #F2F2F2; }
  .action-bar div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .action-bar .check-count {
    margin-left: 30px;
    margin-right: 50px; }
    .action-bar .check-count i {
      font-style: normal;
      color: #ff4545; }
  .action-bar .action-bar-name {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .action-bar .action-bar-name span {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #9B9B9B;
      font-size: 18px;
      padding: 0 10px;
      cursor: pointer; }
    .action-bar .action-bar-name span:first-child {
      border-left: 0; }
  .action-bar .delete {
    color: #ff4545; }
  .action-bar .edit {
    color: #0C66FF; }
  .action-bar .check {
    color: #0BB07B; }

#house-filter {
  height: 100%; }
  #house-filter > div {
    height: 100%; }
    #house-filter > div .left_container, #house-filter > div .right_container {
      width: 50%;
      height: 550px;
      background-color: white;
      padding: 15px;
      position: relative; }
      #house-filter > div .left_container:first-child, #house-filter > div .right_container:first-child {
        margin-right: 30px; }
      #house-filter > div .left_container .header_control, #house-filter > div .right_container .header_control {
        padding: 10px;
        justify-content: space-between;
        border-bottom: 1px solid #F2F2F2; }
      #house-filter > div .left_container .clear_all, #house-filter > div .right_container .clear_all {
        color: #CF2E33;
        cursor: pointer;
        user-select: none; }
      #house-filter > div .left_container .house-address, #house-filter > div .right_container .house-address {
        width: 100%;
        height: 100%;
        max-height: 500px;
        padding: 10px 0; }
        #house-filter > div .left_container .house-address > div, #house-filter > div .right_container .house-address > div {
          padding: 0 10px;
          overflow: hidden; }
          #house-filter > div .left_container .house-address > div .checkbox_item, #house-filter > div .right_container .house-address > div .checkbox_item {
            width: 100%;
            padding: 5px 0;
            margin-bottom: 20px; }
            #house-filter > div .left_container .house-address > div .checkbox_item .choose_txt, #house-filter > div .right_container .house-address > div .checkbox_item .choose_txt {
              width: 95%;
              text-align: left;
              color: black; }
      #house-filter > div .left_container .footer_page, #house-filter > div .right_container .footer_page {
        position: absolute;
        bottom: -40px;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: rebeccapurple; }
      #house-filter > div .left_container .right_address, #house-filter > div .right_container .right_address {
        max-height: 420px; }
      #house-filter > div .left_container .footer_btn, #house-filter > div .right_container .footer_btn {
        width: 100%;
        padding: 10px 0;
        position: absolute;
        bottom: 0;
        left: 0; }
        #house-filter > div .left_container .footer_btn button, #house-filter > div .right_container .footer_btn button {
          width: 80px; }
      #house-filter > div .left_container .header_search, #house-filter > div .right_container .header_search {
        width: 100%; }
        #house-filter > div .left_container .header_search .control, #house-filter > div .right_container .header_search .control {
          width: 100%;
          height: 30px;
          background-color: white;
          margin-bottom: 10px; }
          #house-filter > div .left_container .header_search .control .toggle_btn, #house-filter > div .right_container .header_search .control .toggle_btn {
            width: 40px;
            height: 30px;
            background-color: #CF2E33;
            border-radius: 0 0 8px 8px;
            float: right;
            margin-right: 30px;
            cursor: pointer;
            color: white;
            line-height: 30px; }
            #house-filter > div .left_container .header_search .control .toggle_btn i, #house-filter > div .right_container .header_search .control .toggle_btn i {
              animation: move 1s infinite; }
        #house-filter > div .left_container .header_search .header_container, #house-filter > div .right_container .header_search .header_container {
          width: 100%;
          height: 300px;
          overflow: hidden;
          transition: all ease 1s;
          padding: 0 10px;
          text-align: left;
          font-size: 14px;
          box-sizing: padding-box; }
          #house-filter > div .left_container .header_search .header_container > div, #house-filter > div .right_container .header_search .header_container > div {
            margin-top: 20px; }
        #house-filter > div .left_container .header_search .hide_header_container, #house-filter > div .right_container .header_search .hide_header_container {
          height: 0; }
      #house-filter > div .left_container .plot_container, #house-filter > div .right_container .plot_container {
        width: 100%;
        height: 500px;
        padding: 10px 0;
        border-top: 1px solid #F2F2F2; }
        #house-filter > div .left_container .plot_container .office_content, #house-filter > div .right_container .plot_container .office_content {
          margin-bottom: 10px;
          text-align: left;
          padding: 5px;
          color: black;
          height: 40px; }
          #house-filter > div .left_container .plot_container .office_content .checkbox_content, #house-filter > div .right_container .plot_container .office_content .checkbox_content {
            width: 100%; }
          #house-filter > div .left_container .plot_container .office_content .office, #house-filter > div .right_container .plot_container .office_content .office {
            width: 90%; }
      #house-filter > div .left_container .office_choose, #house-filter > div .right_container .office_choose {
        width: 100%;
        max-height: 500px;
        padding: 10px 0; }
        #house-filter > div .left_container .office_choose > div, #house-filter > div .right_container .office_choose > div {
          overflow: hidden; }
          #house-filter > div .left_container .office_choose > div > div, #house-filter > div .right_container .office_choose > div > div {
            color: black;
            padding: 10px 0; }
      #house-filter > div .left_container .delete_choose, #house-filter > div .right_container .delete_choose {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 18px;
        background-color: #CF2E33;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        font-size: 20px;
        user-select: none; }

@keyframes move {
  25% {
    transform: translateY(-2px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(2px); }
  100% {
    transform: translateY(0); } }

/*# sourceMappingURL=house-filter.css.map */
