.flex {
  display: flex;
  display: -webkit-flex;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf");
}
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF");
}
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf");
}
/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('/static/font/JDJXINSHU.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('/static/font/ITCAVANTGARDESTD-MD.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('/static/font/BaiZhouRenZhe.otf');
}*/
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll_bar {
  overflow: auto;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: #e4e7ed;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}
.action-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-bar .check-count {
  margin-left: 30px;
  margin-right: 50px;
}
.action-bar .check-count i {
  font-style: normal;
  color: #ff4545;
}
.action-bar .action-bar-name {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.action-bar .action-bar-name span {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.action-bar .action-bar-name span:first-child {
  border-left: 0;
}
.action-bar .delete {
  color: #ff4545;
}
.action-bar .edit {
  color: #0c66ff;
}
.action-bar .check {
  color: #0bb07b;
}

.colorE33 {
  color: #cf2e33;
}

.color874 {
  color: #686874;
}

#houseCard > div {
  width: 100%;
  margin-top: 90px;
  min-width: 1200px;
}
#houseCard > div .content {
  margin: 0 auto;
  padding: 0 150px;
  position: relative;
}
#houseCard > div .content > div.cards {
  flex-wrap: wrap;
  min-height: 650px;
}
#houseCard > div .content > div.cards .house-item {
  min-width: 20%;
}
#houseCard > div .content > div.cards .house-item .control {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#houseCard > div .content > div.cards .house-item:hover .control {
  opacity: 1;
  visibility: visible;
}
#houseCard > div .content > div.cards .house-item .card {
  min-width: 280px;
  height: 350px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px;
  background: linear-gradient(135deg, transparent 20px, white 0) top left, linear-gradient(-135deg, transparent 20px, white 0) top right, linear-gradient(-45deg, transparent 20px, white 0) bottom right, linear-gradient(45deg, transparent 20px, white 0) bottom left;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  animation: zhuan linear 1s;
  transition: all ease 1s;
}
#houseCard > div .content > div.cards .house-item .card .photo {
  width: 100%;
  height: 160px;
  position: relative;
}
#houseCard > div .content > div.cards .house-item .card .photo .picture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(30px 0, calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px);
}
#houseCard > div .content > div.cards .house-item .card .photo .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#houseCard > div .content > div.cards .house-item .card .photo .bg .btn {
  width: 50px;
  height: 25px;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 34px;
  line-height: 1px;
}
#houseCard > div .content > div.cards .house-item .card .photo .bg .house_type {
  width: 50px;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 16px;
  color: #999999;
}
#houseCard > div .content > div.cards .house-item .card .photo .mark {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -25px;
  right: 10px;
}
#houseCard > div .content > div.cards .house-item .card .info {
  height: 50%;
  text-align: center;
}
#houseCard > div .content > div.cards .house-item .card .info .address {
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: 10px;
  height: 40px;
  line-height: 40px;
  font-family: 'jingDianXingShu';
}
#houseCard > div .content > div.cards .house-item .card .info .text {
  text-align: left;
  font-size: 14px;
  padding-left: 30px;
  margin-top: 20px;
}
#houseCard > div .content > div.cards .house-item .card .info .text > p {
  margin-top: 10px;
}
#houseCard > div .content > div.cards .house-item .card .info .text > p b {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  background-size: contain;
  margin-right: 5px;
}
#houseCard > div .content > div.cards .house-item .card .info .notice_info {
  margin-top: 20px;
}
#houseCard > div .content > div.cards .house-item .card .info .notice_info > span {
  width: 50%;
  text-align: center;
}
#houseCard > div .content > div.cards .house-item .card .info .notice_info .notice-type {
  font-size: 16px;
  font-weight: bold;
}
#houseCard > div .content > div.cards .house-item .card .info .notice_info .notice {
  height: 20px;
}
#houseCard > div .content > div.cards .house-item .card .control {
  width: 300px;
  position: absolute;
  top: -45px;
  left: 15%;
  color: white;
  transition: all ease 1s;
  text-align: center;
  user-select: none;
  padding: 4px 5px;
}
#houseCard > div .content > div.cards .house-item .card .control > span {
  width: 50px;
  padding: 4px 5px;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}
#houseCard > div .content > div.cards .house-item .card .control .arrows {
  width: 30px;
  height: 20px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  position: absolute;
  bottom: -10px;
  left: 20%;
}
#houseCard > div .content > div.cards .house-item .card_trans-1 {
  animation-delay: 0.25s;
}
#houseCard > div .content > div.cards .house-item .card_trans-2 {
  animation-delay: 0.5s;
}
#houseCard > div .content > div.cards .house-item .card_trans-3 {
  animation-delay: 0.75s;
}
#houseCard > div .content > div.cards .house-item .card_trans-4 {
  animation-delay: 1s;
}
#houseCard > div .content > div.cards .house-item .card_trans-5 {
  animation-delay: 1.25s;
}
#houseCard > div .content > div.cards .house-item .card_trans-6 {
  animation-delay: 1.5s;
}
#houseCard > div .content > div.cards .house-item .card_trans-7 {
  animation-delay: 1.75s;
}
#houseCard > div .content > div.cards .house-item .card_trans-8 {
  animation-delay: 2s;
}
#houseCard > div .content > div.cards .house-item .card_trans-9 {
  animation-delay: 2.25s;
}
#houseCard > div .content > div.cards .house-item .card_trans-10 {
  animation-delay: 2.5s;
}
#houseCard > div .content > div.cards .house-item .card_trans-11 {
  animation-delay: 2.75s;
}
#houseCard > div .content > div.cards .house-item .card_trans-12 {
  animation-delay: 3s;
}
#houseCard > div .content > div.cards .house-item .card_trans-13 {
  animation-delay: 3.25s;
}
#houseCard > div .content > div.cards .house-item .card_trans-14 {
  animation-delay: 3.5s;
}
#houseCard > div .content > div.cards .house-item .card_trans-15 {
  animation-delay: 3.75s;
}
#houseCard > div .content > div.cards .house-item .card_trans-16 {
  animation-delay: 4s;
}
#houseCard > div .content > div.cards .house-item .card_trans-17 {
  animation-delay: 4.25s;
}
#houseCard > div .content > div.cards .house-item .card_trans-18 {
  animation-delay: 4.5s;
}
#houseCard > div .content > div.cards .house-item .card_trans-19 {
  animation-delay: 4.75s;
}
#houseCard > div .content > div.none_info {
  text-align: center;
  min-height: 650px;
  font-size: 22px;
  font-family: 'jingDianXingShu';
}
#houseCard > div .content .page {
  text-align: center;
  margin: 20px auto;
}

@keyframes zhuan {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0);
  }
}

/*# sourceMappingURL=house-card.css.map */
