@import "flex.scss";

$colorFFF: #FFFFFF;
$color000: #000000;

$color2F2: #F2F2F2;
$color874: #686874;
$color8E33: #CF2E33;
$color8FE0: #DFDFE0;

$colorDFF: #00FDFF;

$colorE46: #F6DE46;

$colorA7B: #008A7B;
$colorC65: #9CCC65;
$colorC00: #FB8C00;

@mixin inputColor($c) {
  input {
    background-color: transparent;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: $c;
  }

  input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $c;
  }

  input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $c;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $c;
  }
}

@mixin scroll {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #e4e7ed;
  }

  &::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px;
  }
}

@mixin bgImage($m) {
  background: url($m) no-repeat scroll center;
  background-size: 100% 100%;
}

@mixin radius($m) {
  -webkit-border-radius: $m;
  -moz-border-radius: $m;
  border-radius: $m;
}

@mixin transition($t ,$s: 1s, $l: linear) {
  -webkit-transition: $t $s $l;
  -moz-transition: $t $s $l;
  -ms-transition: $t $s $l;
  -o-transition: $t $s $l;
  transition: $t $s $l;
}

@mixin transScale($s) {
  -webkit-transform: scale($s);
  -moz-transform: scale($s);
  -ms-transform: scale($s);
  -o-transform: scale($s);
  transform: scale($s);
}

@mixin transOrigin($lf:0,$top:0,$z:0) {
  -webkit-transform-origin: $lf $top $z;
  -moz-transform-origin: $lf $top $z;
  -ms-transform-origin: $lf $top $z;
  -o-transform-origin: $lf $top $z;
  transform-origin: $lf $top $z;
}

@mixin transRotate($x:0,$y:0) {
  -webkit-transform: rotateX($x) rotateY($y);
  -moz-transform: rotateX($x) rotateY($y);
  -ms-transform: rotateX($x) rotateY($y);
  -o-transform: rotateX($x) rotateY($y);
  transform: rotateX($x) rotateY($y);
}

@mixin line-clamp($n: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
}

@mixin writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

@mixin boxShaw($p1:0,$p2:0,$p3:0,$p4:0,$c:#000) {
  -webkit-box-shadow: $p1 $p2 $p3 $p4 $c;
  -moz-box-shadow: $p1 $p2 $p3 $p4 $c;
  box-shadow: $p1 $p2 $p3 $p4 $c;
}

.writingMode {
  @include writingMode;
}

.line-clamp1 {
  @include line-clamp();
}

.line-clamp2 {
  @include line-clamp(2);
}

.line-clamp3 {
  @include line-clamp(3);
}

.scroll_bar {
  @include scroll;
}
