@import "flex.scss";

$colorFFF: #FFFFFF;
$color000: #000000;
$color2D2: #D2D2D2;

$color2F2: #F2F2F2;
$color874: #686874;
$colorE33: #CF2E33;
$colorFE0: #DFDFE0;
$color0C0: #C0C0C0;
$colorFDF: #DFDFDF;

$colorDFF: #00FDFF;
$color131: #FF7131;

$colorE46: #F6DE46;

$colorA7B: #008A7B;
$colorC65: #9CCC65;
$colorC00: #FB8C00;
$color9F9: #F9F9F9;
$color0F0: #F0F0F0;
@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf");
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF");
}

@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf");
}

@mixin inputColor($c) {
  input {
    background-color: transparent;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: $c;
  }

  input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $c;
  }

  input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $c;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $c;
  }
}

@mixin scroll {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #e4e7ed;
  }

  &::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px;
  }
}

@mixin bgImage($m) {
  background: url($m) no-repeat scroll center;
  background-size: 100% 100%;
}

@mixin radius($m) {
  -webkit-border-radius: $m;
  -moz-border-radius: $m;
  border-radius: $m;
}

@mixin transition($t) {
  -webkit-transition: $t;
  -moz-transition: $t;
  -ms-transition: $t;
  -o-transition: $t;
  transition: $t;
}

@mixin delay($s) {
  transition-delay: $s + s;
  -webkit-transition-delay: $s + s;
}

@mixin transform($s) {
  -webkit-transform: $s;
  -moz-transform: $s;
  -ms-transform: $s;
  -o-transform: $s;
  transform: $s;
}

@mixin transOrigin($lf:0,$top:0,$z:0) {
  -webkit-transform-origin: $lf $top $z;
  -moz-transform-origin: $lf $top $z;
  -ms-transform-origin: $lf $top $z;
  -o-transform-origin: $lf $top $z;
  transform-origin: $lf $top $z;
}

@mixin line-clamp($n: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
}

@mixin writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

@mixin boxShaw($s) {
  -webkit-box-shadow: $s;
  -moz-box-shadow: $s;
  box-shadow: $s;
}

@mixin backFace {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.writingMode {
  @include writingMode;
}

.line-clamp1 {
  @include line-clamp();
}

.line-clamp2 {
  @include line-clamp(2);
}

.line-clamp3 {
  @include line-clamp(3);
}

.scroll_bar {
  @include scroll;
}
