@import "./flex.scss";
@import "./common.scss";

#theme_name {
  .listTopCss {
    background-color: $colorFFF;
    height: 80px;
    .listTopLeft {
      p {
        width: 42px;
        height: 50px;
        background-color: #DFDFDF;
        @include radius(0 4px 4px 0);
        cursor: pointer;
        padding-bottom: 20px;
        b {
          font-size: 30px;
        }
      }
      h1 {
        font-family: 'jingDianXingShu';
        font-size: 32px;
        padding: 0 40px;
      }
      h2 {
        border-left: 1px solid $color2F2;
        span {
          color: $color2D2;
          margin-left: 40px;
          cursor: pointer;
          padding-top: 6px;
          font-size: 18px;
          i {
            width: 16px;
            height: 3px;
            margin-top: 6px;
            background-color: transparent;
          }
        }
      }
    }
    .listTopRight {
      p {
        width: 30px;
        height: 30px;
        color: $colorFFF;
        @include radius(6px);
        margin-right: 40px;
        cursor: pointer;
      }
      p:last-of-type {
        @include bgImage('../../assets/image/customService/theme1/search.png');
      }
    }
  }
}

#theme_name.theme1 {
  .listTopCss {
    .listTopLeft {
      p {
        background-color: $colorFDF;
      }
      h1 {
        font-family: 'jingDianXingShu';
        border-right: 1px solid $color2F2;
      }
      h2 {
        .chooseTab {
          color: $colorE33;
          i {
            background-color: $colorE33;
          }
        }
      }
    }
    .listTopRight {
      p:first-of-type {
        background-color: $colorE33;
        b {
          font-size: 30px;
          padding-bottom: 7px;
        }
      }
    }
  }
}

#theme_name.theme2 {

}

#theme_name.theme3 {

}

#theme_name.theme4 {

}
