@import './flex.scss';
@import './common.scss';

@mixin gatheringImg($m, $n) {
  $url: '../image/finance/gathering/' + $n + '/' + $m;
  @include bgImage($url);
}

@mixin commonImg($m, $n) {
  $url: '../../assets/image/common/' + $n + '/' + $m;
  @include bgImage($url);
}

@mixin btn_square($m) {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 20px;
  background-color: $colorE33;
  vertical-align: middle;
  cursor: pointer;
  @include radius($m);
}
#theme_name {
  h5.operate {
    position: absolute;
    top: -60px;
    padding: 6px 0;
    @include radius(6px);
    background-color: $colorE33;
    @include flex('items-center');
    span {
      white-space: nowrap;
      color: $colorFFF;
      padding: 6px 30px;
      &:hover {
        cursor: pointer;
        color: $colorE33;
        @include bgImage('../../assets/image/common/theme1/xzgj.png');
      }
    }
    b,
    i {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $colorE33;
      bottom: -5px;
      transform: rotateZ(45deg);
    }
    b {
      left: 60px;
    }
    i {
      right: 60px;
    }
  }
  h5.left.operate {
    left: 0;
  }
  h5.right.operate {
    right: 0;
  }
  //表格头部
  .listTopCss {
    background-color: $colorFFF;
    height: 80px;
    .listTopLeft {
      p {
        width: 42px;
        height: 50px;
        background-color: #dfdfdf;
        @include radius(0 4px 4px 0);
        cursor: pointer;
        padding-bottom: 20px;
        b {
          font-size: 30px;
        }
      }
      h1 {
        font-family: 'jingDianXingShu';
        font-size: 32px;
        padding: 0 40px;
      }
      h2 {
        border-left: 1px solid $color2F2;
        span {
          color: $color2D2;
          margin-left: 40px;
          cursor: pointer;
          padding-top: 6px;
          font-size: 18px;
          i {
            width: 16px;
            height: 3px;
            margin-top: 6px;
            border-radius: 30px 30px 0 0;
            background-color: transparent;
          }
        }
      }
    }
    .listTopRight {
      > div,
      > span {
        margin-right: 40px;
      }
      > div {
        @include radius(6px);
        cursor: pointer;
      }
      h4 {
        margin-right: 20px;
      }
      //增加
      .add {
        @include flex('flex-center');
        b {
          color: $colorFFF;
          font-size: 30px;
          padding-bottom: 6px;
        }
      }
      //举报
      .report {
        @include commonImg('jubao.png', 'theme1');
      }
      //搜索
      .search {
        @include commonImg('search.png', 'theme1');
      }
      .btn_output {
        @include commonImg('search.png', 'theme1');
      }
      //离职管理
      .dimission {
        @include commonImg('lizhiguanli.png', 'theme1');
      }
      //bank流水
      .bank {
        @include bgImage(
          '../../assets/image/finance/budgetStream/theme1/yinhangliushui.png'
        );
      }
      .icons {
        width: 30px;
        height: 30px;
      }
      .buttons {
        padding: 0 20px;
        height: 40px;
        line-height: 38px;
      }
      .button1 {
        background-color: #fff7e4;
        color: #ffad0b;
        &:hover {
          background-color: #ffad0b;
          color: #fff7e4;
        }
      }
      .button2 {
        background-color: #cff8ea;
        color: #0bb07b;
        &:hover {
          background-color: #0bb07b;
          color: #cff8ea;
        }
      }
    }
  }
  //module灰底
  .dialogVisible {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  //表格样式
  .mainListTable {
    padding: 0 30px;
    background-color: $colorFFF;
    margin-top: 9px;
    font-size: 14px;
    .status {
      @include flex('flex-center');
      p {
        width: 90px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
      }
    }
  }
  // radio check
  .radioSelection {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: $colorFFF;
    margin: 0 20px 10px 0;
    @include radius(6px);
  }
  //模态kuang
  .dialog_container {
    height: 100%;
    @include flex('justify-bet');
    flex-direction: column;
    .dialog_header {
      padding: 0 15px;
      height: 40px;
      text-align: left;
      position: relative;
      > h3 {
        font-size: 22px;
      }
      .header_right {
        width: 70%;
        height: 100%;
        position: absolute;
        right: 15px;
        top: 0;
        text-align: right;
        overflow: hidden;
      }
    }
    .dialog_main {
      height: 100%;
      overflow: hidden;
      margin: 20px 0;
      @include scroll;

      .unUse-txt {
        font-size: 18px;
      }
      .showPadding {
        padding: 0 20px;
      }
    }
    .dialog_main::-webkit-scrollbar-thumb {
      background: #999 !important;
    }

    .dialog_footer {
      width: 100%;
      padding: 20px 0;
      text-align: center;
      button {
        min-width: 90px;
        @include radius(5px);
      }
    }
    .footerBtn {
      //margin-bottom: 40px;
      //@include flex('justify-center');
      //div + div {
      //  margin-left: 20px;
      //}
      //div {
      //  width: 110px;
      //  height: 40px;
      //  line-height: 40px;
      //  cursor: pointer;
      //  text-align: center;
      //  @include radius(6px);
      //  &:hover {
      //    opacity: .8;
      //  }
      //}
      //.danger {
      //  color: $colorFFF;
      //  background-color: $colorE33;
      //}
      //.default {
      //  background-color: $colorFDF;
      //}
    }
  }
  .form_item_container {
    display: flex;
    padding: 5px 40px;
    .item_label {
      width: 40%;
      display: flex;
      align-items: center;
      .item_icons {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        background-color: $color0C0;
        margin-right: 20px;
        @include radius(50%);
        > i {
          display: inline-block;
          width: 50%;
          height: 50%;
        }
      }
      > span {
        min-width: 60px;
        color: $color0C0;
        text-align-last: justify;
      }
    }
    .item_content {
      width: 60%;
      text-align: left;
      padding-left: 15px;
      flex-wrap: wrap;
    }
    .all_width {
      width: 100%;
    }
    &:hover .item_icons {
      background-color: $colorE33;
    }
    .icon_mark {
      @include gatheringImg('beizhu.png', 'theme1');
    }
    .icon_money {
      @include gatheringImg('yingshoukuanfenxi.png', 'theme1');
    }
    .icon_payTime {
      @include gatheringImg('fukuan.png', 'theme1');
    }
    .icon_subject {
      @include gatheringImg('kemuyue.png', 'theme1');
    }
    .icon_come {
      @include gatheringImg('kemubianma.png', 'theme1');
    }
    .icon_case {
      @include gatheringImg('money.png', 'theme1');
    }
    .icon_account {
      @include gatheringImg('zhanghu.png', 'theme1');
    }
    .icon_type {
      @include gatheringImg('leibie.png', 'theme1');
    }
    .icon_bank {
      @include gatheringImg('yinhang.png', 'theme1');
    }
  }
  //input图标
  .iconInput {
    background-color: $colorFFF;
    @include radius(4px);
    padding-right: 15px;
    .icons {
      width: 20px;
      height: 20px;
    }
  }
  //form 表单 icons
  .user {
    @include commonImg('yonghu.png', 'theme1');
  }
  .organization {
    @include commonImg('zuzhijiagou.png', 'theme1');
  }
  //成功图标
  .resIcon {
    margin: 0 auto 15px;
    width: 80px;
    height: 80px;
  }
  .btn_add {
    @include btn_square(50%);
  }
  .all-choose {
    @include commonImg('quanxuan.png', 'theme1');
  }
  .icon-address {
    width: 20px;
    height: 20px;
    @include commonImg('dizhi.png', 'theme1');
  }
  .search {
    display: inline-block;
    width: 30px;
    height: 32px;
    cursor: pointer;
    @include commonImg('search.png', 'theme1');
    vertical-align: middle;
  }

  .btn_square_add {
    @include btn_square(4px);
    margin-right: 15px;
  }
  .btn_square_minus {
    @include btn_square(4px);
    background-color: $color2D2;
  }
  .btn_look {
    width: 15px;
    height: 19px;
    margin-right: 5px;
    display: inline-block;
    @include commonImg('look.png', 'theme1');
    background-size: contain;
    vertical-align: middle;
  }
  .iconSuccess {
    @include commonImg('success.png', 'theme1');
  }
  .iconDelete {
    @include commonImg('delete.png', 'theme1');
  }
  //失败图标
  //分页
  footer.bottomPage {
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100px;
    background-color: $color2F2;
    z-index: 6;
    @include transition(bottom 0.5s);
    .develop {
      position: absolute;
      top: -30px;
      width: 80px;
      cursor: pointer;
      height: 30px;
      opacity: 1;
      @include transition(all 0.5s);
      border-radius: 10px 10px 0 0;
      background-color: $color2F2;
      i {
        -webkit-animation: bounce-up 1s linear infinite;
        animation: bounce-up 1s linear infinite;
        transform: rotateZ(-90deg);
        @include transition(transform 0.5s);
        text-align: center;
        font-size: 24px;
        color: $colorE33;
      }
    }
    &:hover {
      bottom: 0;
      .develop {
        opacity: 0;
        i {
          -webkit-animation: bounce-down 0.8s linear infinite;
          animation: bounce-down 0.8s linear infinite;
        }
      }
    }
  }
  //分页动画
  @keyframes bounce-up {
    25% {
      transform: translateY(-2px) rotateZ(-90deg);
    }
    50% {
      transform: translateY(0) rotateZ(-90deg);
    }
    75% {
      transform: translateY(2px) rotateZ(-90deg);
    }
    100% {
      transform: translateY(0) rotateZ(-90deg);
    }
  }
  //分页动画
  @keyframes bounce-down {
    25% {
      transform: translateY(-2px) rotateZ(-90deg);
    }
    50% {
      transform: translateY(0) rotateZ(-90deg);
    }
    75% {
      transform: translateY(2px) rotateZ(-90deg);
    }
    100% {
      transform: translateY(0) rotateZ(-90deg);
    }
  }
}

#theme_name.theme1 {
  #active-danger,
  #active-primary,
  #active-warning,
  #active-success {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #active-danger.el-button {
    background: #fff8f8;
    border: 1px solid #cf2e33;
    color: #cf2e33;
    &:hover {
      background: #cf2e33;
      color: #fff8f8;
    }
  }
  #active-danger.el-button-active {
    border: 1px solid #cf2e33;
    background: #cf2e33;
    color: #fff8f8;
  }

  #active-primary.el-button {
    background: #f5faff;
    border: 1px solid #0c66ff;
    color: #0c66ff;
    &:hover {
      background: #0c66ff;
      color: #f5faff;
    }
  }
  #active-primary.el-button-active {
    background: #0c66ff;
    border: 1px solid #0c66ff;
    color: #f5faff;
  }

  #active-warning.el-button {
    background: #fdf6ec;
    border: 1px solid #e6a23c;
    color: #e6a23c;
    &:hover {
      background: #e6a23c;
      color: #fdf6ec;
    }
  }
  #active-warning.el-button-active {
    background: #e6a23c;
    color: #fdf6ec;
    border: 1px solid #e6a23c;
  }

  #active-success.el-button {
    background: #f0f9eb;
    border: 1px solid #67c23a;
    color: #67c23a;
    &:hover {
      background: #67c23a;
      color: #f0f9eb;
    }
  }
  #active-success.el-button-active {
    background: #67c23a;
    border: 1px solid #67c23a;
    color: #f0f9eb;
  }

  #active-info.el-button {
    background: #dfdfe0;
    color: #686874;
  }

  .el-table__body {
    .el-table__row {
      .cell {
        display: flex;
        align-items: center;
        justify-content: space-around;
        white-space: nowrap;
        text-overflow: hidden;
        overflow: hidden;
      }
    }
  }

  // radio check
  .highChoose {
    background-color: #ffeaea;
    color: $colorE33;
  }
  //表格头部
  .listTopCss {
    .listTopLeft {
      p {
        background-color: $colorFDF;
      }
      h1 {
        font-family: 'jingDianXingShu';
      }
      h2 {
        .chooseTab {
          color: $colorE33;
          i {
            background-color: $colorE33;
          }
        }
      }
    }
    .listTopRight {
      .add {
        background-color: $colorE33;
      }
      .searchTerm {
        > b {
          padding-right: 15px;
        }
      }
    }
  }
}

#theme_name.theme2 {
}

#theme_name.theme3 {
}

#theme_name.theme4 {
}
