@import "flex.scss";
@import "common.scss";

//select重置
.appTheme1 {
  .el-select-dropdown__item:hover, .el-select-dropdown__item.hover {
    color: $colorE33;
    background-color: #FFEAEA;
  }
  .el-select-dropdown__item.selected {
    color: $colorE33;
  }
}

div.el-popover {
  background-color: $colorE33;
  color: $colorFFF;
  min-width: 0;
  padding: 12px;
  border-color: transparent;
  @include transform(translateX(35%))
}

#theme_name {
  //tab切换
  .el-tabs {
    .el-tabs__active-bar {
      background-color: transparent;
    }
    .el-tabs__item {
      padding: 0 40px;
      margin: 0 10px 20px;
      height: 36px;
      line-height: 36px;
      @include bgImage("../image/humanResource/recruitment/departManage/theme1/huidi.png");
      &:hover {
        color: $color874;
      }
    }
    .el-tabs__item.is-active {
      color: $colorFFF;
      @include bgImage("../image/humanResource/recruitment/departManage/theme1/hongdi.png");
    }
  }
  //button按钮
  .el-button {
    border-color: transparent;
    &:hover {
      opacity: .8;
    }
  }
  .el-button--danger {
    background-color: $colorE33;
  }
  .el-button--info {
    color: $color874;
    background-color: $colorFDF;
  }
  //表格================
  .el-table {
    &::before {
      height: 0;
    }
    background-color: transparent;
    tr {
      background-color: transparent;
    }
    th {
      background-color: transparent;
    }
    .tableHeader {
      th {
        div {
          height: 40px;
          line-height: 40px;
          color: $color874;
          font-weight: bold;
        }
      }
    }
    tbody {
      tr.current-row {
        td {
          background-color: transparent !important;
        }
      }
      tr:hover {
        td {
          background-color: transparent !important;
        }
      }
    }
  }
  //input取消border
  .borderNone {
    .el-input__inner {
      border: none;
      background-color: $colorFFF !important;
    }
  }
  //离职员工 check红色圆圈
  .el-checkout-group, .el-radio-group {
    @include flex('items-center');
    flex-wrap: wrap;
  }
  .el-checkbox, .el-radio {
    @include flex('items-center');
    .el-checkbox__inner, .el-radio__inner {
      width: 18px;
      height: 18px;
      @include radius(50%);
      &:after {
        display: none;
      }
      &:hover {
        border-color: #D8D8D8;
      }
    }
    .el-checkbox__input.is-focus, .el-radio__input.is-focus {
      .el-checkbox__inner, .el-radio__inner {
        border-color: #D8D8D8;
      }
    }
    .el-checkbox__input.is-checked, .el-radio__input.is-checked {
      .el-checkbox__inner, .el-radio__inner {
        background-color: $colorE33;
        border-color: $colorE33;
      }
    }
    .el-checkbox__label, .el-radio__label {
      font-size: 15px;
      color: inherit;
      padding-bottom: 1px;
    }
  }
  //select===============
  .el-select {
    .el-input__inner:focus {
      border-color: $colorE33;
    }
    .el-input.is-focus {
      .el-input__inner {
        border-color: $colorE33;
      }
    }
  }

  .el-form-item--mini .el-form-item__error {
    width: 100%;
    padding-left: 50%;
    text-align: left;
  }
  //分页=================
  .page {
    @mixin noBgColor {
      background-color: transparent;
    }
    $pageColor: $colorE33;
    .el-pagination {
      .el-input__inner {
        @include noBgColor;
      }
      .el-input__inner:focus {
        border-color: $pageColor;
      }
      .el-pager {
        li {
          @include noBgColor;
          &:hover {
            color: $pageColor;
          }
        }
        li.active {
          color: $pageColor;
        }
      }
      button:hover {
        color: $pageColor;
      }
      button:disabled {
        @include noBgColor;
      }
      .btn-next, .btn-prev {
        @include noBgColor;
      }
    }
  }
}

#theme_name.theme1 {
  .el-table {
    tbody {
      tr.current-row {
        td {
          color: $colorE33;
        }
      }
      tr:hover {
        td {
          color: rgba(207, 46, 51, .5);
        }
      }
    }
    .tableChooseRow {
      color: $color2D2;
    }
  }
}

#theme_name.theme2 {

}

#theme_name.theme3 {

}

#theme_name.theme4 {

}

//表格scroll重置
.el-table__body-wrapper.is-scroll-right, .el-table__body-wrapper.is-scroll-left, .el-table__body-wrapper.is-scroll-middle, .el-table__body-wrapper.is-scrolling-none, .el-table--scrollable-x .el-table__body-wrapper {
  &::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    @include radius(10px);
  }

  &::-webkit-scrollbar-button {
    height: 0;
    background-color: #eee;
  }

  &::-webkit-scrollbar-track {
    background: #e4e7ed;
  }

  &::-webkit-scrollbar-thumb {
    @include radius(10px);
    background: #747474;
  }
}
