@charset "UTF-8";
.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 4px; }

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2; }
  .action-bar div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .action-bar .check-count {
    margin-left: 30px;
    margin-right: 50px; }
    .action-bar .check-count i {
      font-style: normal;
      color: #ff4545; }
  .action-bar .action-bar-name {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .action-bar .action-bar-name span {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #9b9b9b;
      font-size: 18px;
      padding: 0 10px;
      cursor: pointer; }
    .action-bar .action-bar-name span:first-child {
      border-left: 0; }
  .action-bar .delete {
    color: #ff4545; }
  .action-bar .edit {
    color: #0c66ff; }
  .action-bar .check {
    color: #0bb07b; }

.colorE33 {
  color: #cf2e33; }

.color874 {
  color: #686874; }

.appTheme1 .el-select-dropdown__item:hover,
.appTheme1 .el-select-dropdown__item.hover {
  color: #cf2e33;
  background-color: #ffeaea; }
.appTheme1 .el-select-dropdown__item.selected {
  color: #cf2e33; }

div.el-popover {
  background-color: #cf2e33;
  color: #ffffff;
  min-width: 0;
  padding: 12px;
  border-color: transparent;
  -webkit-transform: translateX(35%);
  -moz-transform: translateX(35%);
  -ms-transform: translateX(35%);
  -o-transform: translateX(35%);
  transform: translateX(35%); }

#theme_name .el-form-item__label:before {
  content: '' !important; }
#theme_name .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:after {
  /*隐藏*号*/
  display: none;
  content: '*';
  color: #cf2e33;
  margin-left: 4px;
  vertical-align: middle; }
#theme_name .el-select,
#theme_name .el-date-editor.el-input,
#theme_name .el-date-editor.el-input__inner,
#theme_name .el-date-editor--datetimerange.el-input,
#theme_name .el-date-editor--datetimerange.el-input__inner {
  width: 100%; }
#theme_name .el-step .is-finish {
  color: #cf2e33;
  border-color: #cf2e33; }
#theme_name .el-tabs .el-tabs__active-bar {
  background-color: transparent; }
#theme_name .el-tabs .el-tabs__item {
  padding: 0 40px;
  margin: 0 10px 20px;
  height: 36px;
  line-height: 36px;
  background: url("../image/humanResource/departments/departManage/theme1/huidi.png") no-repeat scroll center;
  background-size: 100% 100%; }
  #theme_name .el-tabs .el-tabs__item:hover {
    color: #686874; }
#theme_name .el-tabs .el-tabs__item.is-active {
  color: #ffffff;
  background: url("../image/humanResource/departments/departManage/theme1/hongdi.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name .el-button {
  border-color: transparent; }
  #theme_name .el-button:hover {
    opacity: 0.8; }
#theme_name .el-button--danger {
  background-color: #cf2e33; }
  #theme_name .el-button--danger:hover {
    background-color: #cf2e33;
    opacity: 1; }
#theme_name .el-button--danger .is-plain {
  color: white; }
#theme_name .el-button--info {
  color: #686874;
  background-color: #dfdfdf; }
  #theme_name .el-button--info:hover {
    background-color: #dfdfdf;
    opacity: 1; }
#theme_name .el-table {
  background-color: transparent !important; }
  #theme_name .el-table::before {
    height: 0; }
  #theme_name .el-table tr {
    background-color: transparent !important; }
  #theme_name .el-table th {
    background-color: transparent !important; }
  #theme_name .el-table .tableHeader th div {
    height: 40px;
    line-height: 40px;
    color: #686874;
    font-weight: bold; }
  #theme_name .el-table tbody tr.current-row td {
    background-color: transparent !important; }
  #theme_name .el-table tbody tr:hover td {
    background-color: transparent !important; }
  #theme_name .el-table tbody tr td.el-table__expanded-cell[class*='cell'] {
    padding: 0; }
  #theme_name .el-table tbody tr .expand-container .expand-top {
    padding: 15px;
    background-color: #e6f6f1 !important; }
    #theme_name .el-table tbody tr .expand-container .expand-top td {
      background-color: #e6f6f1 !important; }
    #theme_name .el-table tbody tr .expand-container .expand-top th.is-leaf {
      background-color: #e6f6f1 !important; }
    #theme_name .el-table tbody tr .expand-container .expand-top .el-table__empty-block {
      background-color: #e6f6f1 !important; }
  #theme_name .el-table tbody tr .expand-container .expand-bottom {
    padding: 15px;
    background-color: #fff6e5 !important; }
    #theme_name .el-table tbody tr .expand-container .expand-bottom td {
      background-color: #fff6e5 !important; }
    #theme_name .el-table tbody tr .expand-container .expand-bottom th.is-leaf {
      background-color: #fff6e5 !important; }
    #theme_name .el-table tbody tr .expand-container .expand-bottom .el-table__empty-block {
      background-color: #fff6e5 !important; }
#theme_name #staffRoster .el-table {
  background-color: white !important; }
  #theme_name #staffRoster .el-table tr,
  #theme_name #staffRoster .el-table th {
    background-color: white !important; }
  #theme_name #staffRoster .el-table tbody tr.current-row td {
    background-color: white !important; }
  #theme_name #staffRoster .el-table tbody tr:hover td {
    background-color: white !important; }
#theme_name .borderNone .el-input__inner,
#theme_name .borderNone .el-textarea__inner {
  border: none;
  background-color: #ffffff !important; }
#theme_name .borderBgColor .el-input__inner,
#theme_name .borderBgColor .el-textarea__inner {
  border: none;
  background-color: #f9f9f9 !important; }
#theme_name .onlyBg .el-input__inner,
#theme_name .onlyBg .el-textarea__inner {
  border: none;
  background-color: #f9f9f9 !important; }
  #theme_name .onlyBg .el-input__inner:focus,
  #theme_name .onlyBg .el-textarea__inner:focus {
    border: 1px solid #cf2e33; }
#theme_name .focusBorder .el-form-item__label {
  color: #d2d2d2; }
#theme_name .focusBorder .el-input__inner:focus,
#theme_name .focusBorder .el-textarea__inner:focus {
  border-color: #cf2e33;
  background-color: #ffffff !important; }
#theme_name .inputDisabled .el-form-item__label {
  color: #d2d2d2; }
#theme_name .inputDisabled .is-disabled input {
  cursor: default;
  color: #686874;
  border: none;
  background-color: transparent; }
#theme_name .changeChoose .el-checkout-group,
#theme_name .changeChoose .el-radio-group {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-wrap: wrap; }
#theme_name .changeChoose .el-checkbox,
#theme_name .changeChoose .el-radio {
  display: flex;
  display: -webkit-flex;
  align-items: center; }
  #theme_name .changeChoose .el-checkbox .el-checkbox__inner,
  #theme_name .changeChoose .el-checkbox .el-radio__inner,
  #theme_name .changeChoose .el-radio .el-checkbox__inner,
  #theme_name .changeChoose .el-radio .el-radio__inner {
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    #theme_name .changeChoose .el-checkbox .el-checkbox__inner:after,
    #theme_name .changeChoose .el-checkbox .el-radio__inner:after,
    #theme_name .changeChoose .el-radio .el-checkbox__inner:after,
    #theme_name .changeChoose .el-radio .el-radio__inner:after {
      display: none; }
    #theme_name .changeChoose .el-checkbox .el-checkbox__inner:hover,
    #theme_name .changeChoose .el-checkbox .el-radio__inner:hover,
    #theme_name .changeChoose .el-radio .el-checkbox__inner:hover,
    #theme_name .changeChoose .el-radio .el-radio__inner:hover {
      border-color: #d8d8d8; }
#theme_name .el-checkbox,
#theme_name .el-radio {
  display: flex;
  display: -webkit-flex;
  align-items: center; }
  #theme_name .el-checkbox .el-checkbox__inner:hover,
  #theme_name .el-checkbox .el-radio__inner:hover,
  #theme_name .el-radio .el-checkbox__inner:hover,
  #theme_name .el-radio .el-radio__inner:hover {
    border-color: #d8d8d8; }
  #theme_name .el-checkbox .el-checkbox__input.is-focus .el-checkbox__inner,
  #theme_name .el-checkbox .el-checkbox__input.is-focus .el-radio__inner,
  #theme_name .el-checkbox .el-radio__input.is-focus .el-checkbox__inner,
  #theme_name .el-checkbox .el-radio__input.is-focus .el-radio__inner,
  #theme_name .el-radio .el-checkbox__input.is-focus .el-checkbox__inner,
  #theme_name .el-radio .el-checkbox__input.is-focus .el-radio__inner,
  #theme_name .el-radio .el-radio__input.is-focus .el-checkbox__inner,
  #theme_name .el-radio .el-radio__input.is-focus .el-radio__inner {
    border-color: #d8d8d8; }
  #theme_name .el-checkbox .el-checkbox__input.is-checked .el-checkbox__inner,
  #theme_name .el-checkbox .el-checkbox__input.is-checked .el-radio__inner,
  #theme_name .el-checkbox .el-radio__input.is-checked .el-checkbox__inner,
  #theme_name .el-checkbox .el-radio__input.is-checked .el-radio__inner,
  #theme_name .el-radio .el-checkbox__input.is-checked .el-checkbox__inner,
  #theme_name .el-radio .el-checkbox__input.is-checked .el-radio__inner,
  #theme_name .el-radio .el-radio__input.is-checked .el-checkbox__inner,
  #theme_name .el-radio .el-radio__input.is-checked .el-radio__inner {
    background-color: #cf2e33;
    border-color: #cf2e33; }
  #theme_name .el-checkbox .el-checkbox__label,
  #theme_name .el-checkbox .el-radio__label,
  #theme_name .el-radio .el-checkbox__label,
  #theme_name .el-radio .el-radio__label {
    font-size: 15px;
    color: inherit;
    padding-bottom: 1px; }
#theme_name .el-select .el-input__inner:focus {
  border-color: #cf2e33; }
#theme_name .el-select .el-input.is-focus .el-input__inner {
  border-color: #cf2e33; }
#theme_name .el-input-group__append,
#theme_name .el-input-group__prepend {
  background-color: white !important;
  border: none !important;
  color: #686874 !important; }
#theme_name .el-form-item--mini .el-form-item__error {
  width: 100%;
  padding-left: 50%;
  text-align: left; }
#theme_name .page .el-pagination .el-input__inner {
  background-color: transparent; }
#theme_name .page .el-pagination .el-input__inner:focus {
  border-color: #cf2e33; }
#theme_name .page .el-pagination .el-pager li {
  background-color: transparent; }
  #theme_name .page .el-pagination .el-pager li:hover {
    color: #cf2e33; }
#theme_name .page .el-pagination .el-pager li.active {
  color: #cf2e33; }
#theme_name .page .el-pagination button:hover {
  color: #cf2e33; }
#theme_name .page .el-pagination button:disabled {
  background-color: transparent; }
#theme_name .page .el-pagination .btn-next,
#theme_name .page .el-pagination .btn-prev {
  background-color: transparent; }
#theme_name #recruitment .el-button--success {
  color: #0eb17d;
  background: #cff8ea;
  font-weight: bold; }
#theme_name #recruitment .el-button--warning {
  color: #ffb522;
  background: #fff7e4; }
#theme_name #recruitment .el-button--danger.el-button--mini {
  background: #ffe9ea;
  color: #d84d51; }
#theme_name #part_two .el-button--success.is-plain {
  border: 1px solid #0eb17d; }
#theme_name #part_two .el-button--danger.el-button--mini.is-plain {
  background: #ffe9ea;
  color: #d84d51;
  border: 1px solid #d84d51; }
#theme_name #part_four .offer_container .el-input__inner,
#theme_name #part_four .labour_contract .el-input__inner {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #999;
  padding: 0;
  position: relative;
  top: -10px;
  text-align: center;
  color: black;
  font-weight: bold; }
#theme_name #part_four .labour_contract .el-input__inner {
  text-align: left;
  padding-left: 20px; }
#theme_name #part_four .labour_contract .el-form-item__label {
  color: black;
  text-align: left; }

#theme_name.theme1 .el-table tbody tr.current-row td {
  color: #cf2e33; }
#theme_name.theme1 .el-table tbody tr:hover td {
  color: rgba(207, 46, 51, 0.5); }
#theme_name.theme1 .el-table .tableChooseRow {
  color: #d2d2d2; }

.el-table__body-wrapper.is-scroll-right::-webkit-scrollbar,
.el-table__body-wrapper.is-scroll-left::-webkit-scrollbar,
.el-table__body-wrapper.is-scroll-middle::-webkit-scrollbar,
.el-table__body-wrapper.is-scrolling-none::-webkit-scrollbar,
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
.el-table__body-wrapper.is-scroll-right::-webkit-scrollbar-button,
.el-table__body-wrapper.is-scroll-left::-webkit-scrollbar-button,
.el-table__body-wrapper.is-scroll-middle::-webkit-scrollbar-button,
.el-table__body-wrapper.is-scrolling-none::-webkit-scrollbar-button,
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-button {
  height: 0;
  background-color: #eee; }
.el-table__body-wrapper.is-scroll-right::-webkit-scrollbar-track,
.el-table__body-wrapper.is-scroll-left::-webkit-scrollbar-track,
.el-table__body-wrapper.is-scroll-middle::-webkit-scrollbar-track,
.el-table__body-wrapper.is-scrolling-none::-webkit-scrollbar-track,
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-track {
  background: #e4e7ed; }
.el-table__body-wrapper.is-scroll-right::-webkit-scrollbar-thumb,
.el-table__body-wrapper.is-scroll-left::-webkit-scrollbar-thumb,
.el-table__body-wrapper.is-scroll-middle::-webkit-scrollbar-thumb,
.el-table__body-wrapper.is-scrolling-none::-webkit-scrollbar-thumb,
.el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #747474; }

/*# sourceMappingURL=element.css.map */
