@import "flex.scss";
@import "common.scss";

//select重置
.appTheme1 {
  .el-option-1:hover, .el-option-1.hover {
    color: $colorE33;
    background-color: #FFEAEA;
  }
}

#theme_name {
  .el-table {
    &::before {
      height: 0;
    }
    background-color: transparent;
    tr {
      background-color: transparent;
    }
    .tableHeader {
      th {
        background-color: transparent;
        div {
          height: 40px;
          line-height: 40px;
          color: $color874;
          font-weight: bold;
        }
      }
    }
    tbody {
      tr.current-row {
        td {
          background-color: transparent !important;
        }
      }
      tr:hover {
        td {
          background-color: transparent !important;
        }
      }
    }
  }

  //input取消border
  .BorderNone {
    .el-input__inner {
      border: none;
      background-color: transparent !important;
    }
  }
  //离职员工 check红色圆圈
  .searchTerm {
    .el-checkbox {
      @include flex('items-center');
      .el-checkbox__inner {
        width: 21px;
        height: 21px;
        @include radius(50%);
        &:after {
          display: none;
        }
        &:hover {
          border-color: #D8D8D8;
        }
      }
      .el-checkbox__input.is-focus {
        .el-checkbox__inner {
          border-color: #D8D8D8;
        }
      }
      .el-checkbox__input.is-checked {
        .el-checkbox__inner {
          background-color: $colorE33;
          border-color: $colorE33;
        }
      }
      .el-checkbox__label {
        font-size: 18px;
        color: inherit;
        padding-bottom: 1px;
      }
    }
  }
  .el-select {
    .el-input__inner:focus {
      border-color: $colorE33;
    }
    .el-input.is-focus {
      .el-input__inner {
        border-color: $colorE33;
      }
    }
  }
  //分页
  .page {
    @mixin noBgColor {
      background-color: transparent;
    }
    $pageColor: $colorE33;
    .el-pagination {
      .el-input__inner {
        @include noBgColor;
      }
      .el-input__inner:focus {
        border-color: $pageColor;
      }
      .el-pager {
        li {
          @include noBgColor;
          &:hover {
            color: $pageColor;
          }
        }
        li.active {
          color: $pageColor;
        }
      }
      button:hover {
        color: $pageColor;
      }
      button:disabled {
        @include noBgColor;
      }
      .btn-next, .btn-prev {
        @include noBgColor;
      }
    }
  }
}

#theme_name.theme1 {
  .el-table {
    tbody {
      tr.current-row {
        td {
          color: $colorE33;
        }
      }
      tr:hover {
        td {
          color: rgba(207, 46, 51, .5);
        }
      }
    }
    .tableChooseRow {
      color: $color2D2;
    }
  }
}

#theme_name.theme2 {

}

#theme_name.theme3 {

}

#theme_name.theme4 {

}

//表格scroll重置
.el-table__body-wrapper.is-scroll-right, .el-table__body-wrapper.is-scroll-left, .el-table__body-wrapper.is-scroll-middle, .el-table__body-wrapper.is-scrolling-none, .el-table--scrollable-x .el-table__body-wrapper {
  &::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    @include radius(10px);
  }

  &::-webkit-scrollbar-button {
    height: 0;
    background-color: #eee;
  }

  &::-webkit-scrollbar-track {
    background: #e4e7ed;
  }

  &::-webkit-scrollbar-thumb {
    @include radius(10px);
    background: #747474;
  }
}
