.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2; }
  .action-bar div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .action-bar .check-count {
    margin-left: 30px;
    margin-right: 50px; }
    .action-bar .check-count i {
      font-style: normal;
      color: #ff4545; }
  .action-bar .action-bar-name {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .action-bar .action-bar-name span {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #9b9b9b;
      font-size: 18px;
      padding: 0 10px;
      cursor: pointer; }
    .action-bar .action-bar-name span:first-child {
      border-left: 0; }
  .action-bar .delete {
    color: #ff4545; }
  .action-bar .edit {
    color: #0c66ff; }
  .action-bar .check {
    color: #0bb07b; }

.colorE33 {
  color: #cf2e33; }

.color874 {
  color: #686874; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, input, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Microsoft YaHei'; }

html, body {
  height: 100%; }
  html .amap-sug-result, body .amap-sug-result {
    border: none; }
  html div.el-tooltip__popper,
  html div.is-dark, body div.el-tooltip__popper,
  body div.is-dark {
    background-color: #cf2e33 !important;
    color: white; }

.control-btn span {
  padding: 5px 20px;
  cursor: pointer;
  color: white;
  margin: 0 8px; }
  .control-btn span:hover {
    color: #cf2e33;
    background: url("../image/components/theme1/xzgj.png") no-repeat scroll center;
    background-size: 100% 100%; }

ol, ul {
  list-style: none; }

:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

a {
  text-decoration: none;
  color: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  background-color: transparent; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #CDCDCD; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #CDCDCD; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #CDCDCD; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #CDCDCD; }

textarea:disabled, input:disabled {
  opacity: 1;
  color: #999;
  background-color: transparent; }

img {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=rest.css.map */
