@import "flex.scss";
@import "common.scss";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, input, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Microsoft YaHei';
}

html, body {
  height: 100%;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@include inputColor(#CDCDCD);

textarea:disabled, input:disabled {
  opacity: 1;
  color: #999;
  background-color: transparent;
}

img {
  width: 100%;
  height: 100%;
}

.el-table {
  .tableHead {
    th {
      div {
        height: 40px;
        line-height: 40px;
        color: #686874;
        font-weight: bold;
      }
    }
  }
}

.el-table__body-wrapper.is-scroll-right, .el-table__body-wrapper.is-scroll-left, .el-table__body-wrapper.is-scroll-middle, .el-table__body-wrapper.is-scrolling-none, .el-table--scrollable-x .el-table__body-wrapper {
  &::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    @include radius(10px);
  }

  &::-webkit-scrollbar-button {
    height: 0;
    background-color: #eee;
  }

  &::-webkit-scrollbar-track {
    background: #e4e7ed;
  }

  &::-webkit-scrollbar-thumb {
    @include radius(10px);
    background: #747474;
  }
}
