.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

@keyframes lang_move {
  0% {
    transform: translateX(10%); }
  100% {
    transform: translateX(0); } }
#app {
  color: #686874;
  height: 100%; }
  #app header {
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 60px;
    z-index: 30; }
    #app header .headLeft > span b, #app header .headLeft > span span {
      margin-right: 20px; }
    #app header .headLeft > span b {
      font-size: 30px; }
    #app header .headLeft > span label {
      font-size: 16px; }
    #app header .headLeft .showButton {
      font-family: 'jianyue';
      margin-left: 30px;
      cursor: pointer;
      border: 1px solid #D2D2D2;
      padding: 0 30px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px; }
      #app header .headLeft .showButton:hover {
        color: #CF2E33;
        border-color: #CF2E33; }
    #app header .items-center .funTop {
      margin-right: 40px; }
    #app header .items-center .personal div {
      margin-left: 30px; }
    #app header .items-center .personal, #app header .items-center .funTop {
      cursor: pointer; }
      #app header .items-center .personal span, #app header .items-center .funTop span {
        margin: 0 30px; }
      #app header .items-center .personal p, #app header .items-center .funTop p {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;
        width: 45px;
        height: 45px; }
  #app select {
    color: #FFFFFF;
    padding: 6px 18px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; }
  #app select::-ms-expand {
    display: none; }
  #app #theme_name {
    height: 100%;
    padding-top: 81px; }
    #app #theme_name > div:before {
      content: '';
      display: table; }
  #app #moduleList {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 80px 180px 0;
    z-index: 24;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0 0;
    -moz-transform-origin: 50% 0 0;
    -ms-transform-origin: 50% 0 0;
    -o-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear; }
    #app #moduleList > div .list {
      cursor: pointer;
      width: 66px; }
      #app #moduleList > div .list p {
        width: 66px;
        height: 66px;
        margin-bottom: 20px; }
      #app #moduleList > div .list div {
        padding: 40px 15px 0;
        height: 600px; }
        #app #moduleList > div .list div h1 span:first-of-type {
          font-size: 28px; }
        #app #moduleList > div .list div h1 span:last-of-type {
          margin-top: 20px;
          font-size: 18px; }
    #app #moduleList > div .list:hover div {
      color: #FFFFFF; }
  #app #moduleList.moduleList {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  #app .changeLoad {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    color: #212121;
    z-index: 100; }
  #app .loading {
    width: 100%;
    position: fixed;
    top: 171px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    color: brown;
    text-align: center;
    z-index: 101; }
    #app .loading .content {
      width: 800px;
      height: 600px;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%); }
      #app .loading .content .lang {
        width: 100%;
        height: 100%;
        background: url("./assets/image/module/theme1/loading.gif") no-repeat scroll center;
        background-size: 100% 100%;
        background-size: contain; }
        #app .loading .content .lang span {
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px; }

#app.app1 {
  background-color: #F2F2F2; }
  #app.app1 header {
    background-color: #FFFFFF;
    border-bottom: #F2F2F2; }
  #app.app1 select {
    color: #FFFFFF; }
  #app.app1 #moduleList {
    background-color: #FFFFFF; }
    #app.app1 #moduleList > div {
      background: url("./assets/image/module/theme1/modulebg.png") no-repeat scroll center;
      background-size: 100% 100%;
      background-size: 30% 66%; }
      #app.app1 #moduleList > div .list-1 p {
        background: url("./assets/image/module/theme1/module1.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-2 p {
        background: url("./assets/image/module/theme1/module2.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-3 p {
        background: url("./assets/image/module/theme1/module3.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-4 p {
        background: url("./assets/image/module/theme1/module4.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-5 p {
        background: url("./assets/image/module/theme1/module5.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-6 p {
        background: url("./assets/image/module/theme1/module6.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-7 p {
        background: url("./assets/image/module/theme1/module7.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-8 p {
        background: url("./assets/image/module/theme1/module8.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-9 p {
        background: url("./assets/image/module/theme1/module9.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-1:hover p {
        background: url("./assets/image/module/theme1/modulechoose1.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-2:hover p {
        background: url("./assets/image/module/theme1/modulechoose2.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-3:hover p {
        background: url("./assets/image/module/theme1/modulechoose3.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-4:hover p {
        background: url("./assets/image/module/theme1/modulechoose4.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-5:hover p {
        background: url("./assets/image/module/theme1/modulechoose5.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-6:hover p {
        background: url("./assets/image/module/theme1/modulechoose6.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-7:hover p {
        background: url("./assets/image/module/theme1/modulechoose7.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-8:hover p {
        background: url("./assets/image/module/theme1/modulechoose8.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list-9:hover p {
        background: url("./assets/image/module/theme1/modulechoose9.png") no-repeat scroll center;
        background-size: 100% 100%; }
      #app.app1 #moduleList > div .list div h1 span:first-of-type {
        font-size: 30px;
        font-family: 'jingDianXingShu'; }
      #app.app1 #moduleList > div .list:hover div {
        background: url("./assets/image/module/theme1/moduledianji.png") no-repeat scroll center;
        background-size: 100% 100%; }

#app.app2 {
  color: #00FDFF;
  background: url("./assets/image/2.jpg") no-repeat scroll center;
  background-size: 100% 100%; }
  #app.app2 header select {
    color: #00FDFF; }
  #app.app2 #moduleList {
    background: url("./assets/image/2.jpg") no-repeat scroll center;
    background-size: 100% 100%; }
    #app.app2 #moduleList > div .list-1 p {
      background: url("./assets/image/module/theme2/module1.png") no-repeat scroll center;
      background-size: 100% 100%; }
    #app.app2 #moduleList > div .list-2 p {
      background: url("./assets/image/module/theme2/module2.png") no-repeat scroll center;
      background-size: 100% 100%; }
    #app.app2 #moduleList > div .list-3 p {
      background: url("./assets/image/module/theme2/module3.png") no-repeat scroll center;
      background-size: 100% 100%; }
    #app.app2 #moduleList > div .list-4 p {
      background: url("./assets/image/module/theme2/module4.png") no-repeat scroll center;
      background-size: 100% 100%; }
    #app.app2 #moduleList > div .list-5 p {
      background: url("./assets/image/module/theme2/module5.png") no-repeat scroll center;
      background-size: 100% 100%; }
    #app.app2 #moduleList > div .list-6 p {
      background: url("./assets/image/module/theme2/module6.png") no-repeat scroll center;
      background-size: 100% 100%; }
    #app.app2 #moduleList > div .list-7 p {
      background: url("./assets/image/module/theme2/module7.png") no-repeat scroll center;
      background-size: 100% 100%; }
    #app.app2 #moduleList > div .list-8 p {
      background: url("./assets/image/module/theme2/module8.png") no-repeat scroll center;
      background-size: 100% 100%; }
    #app.app2 #moduleList > div .list-9 p {
      background: url("./assets/image/module/theme2/module9.png") no-repeat scroll center;
      background-size: 100% 100%; }
    #app.app2 #moduleList > div .list p {
      opacity: .35;
      width: 44px;
      height: 44px;
      margin-bottom: 40px; }
    #app.app2 #moduleList > div .list div {
      color: #04D8EE;
      background: url("./assets/image/module/theme2/moduleweidianji.png") no-repeat scroll center;
      background-size: 100% 100%; }
      #app.app2 #moduleList > div .list div h1 span:first-of-type {
        font-size: 26px; }
    #app.app2 #moduleList > div .list:hover p {
      opacity: 1; }
    #app.app2 #moduleList > div .list:hover div {
      color: #00FDFF;
      background: url("./assets/image/module/theme2/moduledianji.png") no-repeat scroll center;
      background-size: 100% 100%; }

#app.app3 {
  background: url("./assets/image/3.jpg") no-repeat scroll center;
  background-size: 100% 100%; }
  #app.app3 header {
    color: #686874; }
  #app.app3 #moduleList {
    background: url("./assets/image/module/theme3/modulebg.png") no-repeat scroll center;
    background-size: 100% 100%; }
    #app.app3 #moduleList > div .list {
      width: 140px; }
      #app.app3 #moduleList > div .list p {
        margin: 0; }
      #app.app3 #moduleList > div .list div {
        padding: 0 0 0 20px; }
        #app.app3 #moduleList > div .list div h1 span {
          font-weight: bold;
          color: #000000; }
        #app.app3 #moduleList > div .list div h1 span:first-of-type {
          font-family: 'mengFeiSiTe'; }
    #app.app3 #moduleList > div .list:hover {
      background: url("./assets/image/module/theme3/moduledianji.png") no-repeat scroll center;
      background-size: 100% 100%; }
      #app.app3 #moduleList > div .list:hover div {
        color: #000000; }

#app.app4 {
  background: url("./assets/image/4.png") no-repeat scroll center;
  background-size: 100% 100%; }
  #app.app4 header {
    color: #686874; }
  #app.app4 #moduleList {
    padding-top: 100px;
    background: url("./assets/image/module/theme4/modulebg.png") no-repeat scroll center;
    background-size: 100% 100%; }
    #app.app4 #moduleList > div .list {
      position: relative; }
      #app.app4 #moduleList > div .list p {
        margin: 20px 0 0;
        width: 6px;
        height: 6px;
        background-color: #9CCC65;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
      #app.app4 #moduleList > div .list div span {
        color: #FFFFFF; }
      #app.app4 #moduleList > div .list div span:first-of-type {
        font-size: 30px;
        font-family: 'jingDianXingShu'; }
      #app.app4 #moduleList > div .list div span:last-of-type {
        color: #9CCC65; }
      #app.app4 #moduleList > div .list div b {
        position: absolute;
        top: -80px;
        width: 65px;
        height: 167px; }
    #app.app4 #moduleList > div .list:hover p {
      display: none; }
    #app.app4 #moduleList > div .list:hover div {
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background-color: #FFFFFF; }
      #app.app4 #moduleList > div .list:hover div span {
        color: #008A7B; }
      #app.app4 #moduleList > div .list:hover div i {
        display: inline-block;
        width: 6px;
        height: 6px;
        background-color: #FB8C00;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin-top: 20px; }
      #app.app4 #moduleList > div .list:hover div b {
        background: url("./assets/image/module/theme4/topimage.png") no-repeat scroll center;
        background-size: 100% 100%; }

/*# sourceMappingURL=index.css.map */
