@import '../common.scss';

@mixin appImg($l) {
  $url: './assets/image/' + $l;
  @include bgImage($url);
}

@mixin moduleImg($n, $m) {
  $url: './assets/image/module/' + $m + '/' + $n;
  @include bgImage($url);
}

@mixin defaultImg($n) {
  @for $i from 1 through 9 {
    .list-#{$i} {
      p {
        @include moduleImg('module#{$i}.png', $n);
      }
    }
  }
}

@mixin hoverImg($n) {
  @for $i from 1 through 9 {
    .list-#{$i}:hover {
      p {
        @include moduleImg('modulechoose#{$i}.png', $n);
      }
    }
  }
}

@keyframes lang_move {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

#app {
  color: $color874;
  height: 100%;
  .change_theme {
    width: 35px;
    height: 30px;
    background-color: rebeccapurple;
    margin-left: 20px;
    cursor: pointer;
  }
  .change_theme_content {
    width: 200px;
    background-color: white;
    position: absolute;
    top: 85px;
    right: 5px;
    box-shadow: 0 0 3px 3px $color2D2;
    border-radius: 5px;
    padding: 20px;
    > div {
      width: 100%;
      min-height: 100px;
      border-radius: 5px;
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
    a.btn {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: white;
      transform: rotate(-45deg);
      position: absolute;
      top: -7.5px;
      left: 60%;
    }
  }
  header {
    height: 80px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0 60px;
    z-index: 30;
    .headLeft {
      > span {
        b,
        span {
          margin-right: 20px;
        }
        b {
          font-size: 30px;
        }
        label {
          font-size: 16px;
        }
      }
      .showButton {
        font-family: 'jianyue';
        margin-left: 30px;
        cursor: pointer;
        border: 1px solid #d2d2d2;
        padding: 0 30px;
        @include radius(20px);
        &:hover {
          color: $colorE33;
          border-color: $colorE33;
        }
      }
    }
    .items-center {
      .funTop {
        height: 45px;
        margin-right: 40px;
        .shenpi {
          height: 45px;
          line-height: 45px;
          position: relative;
          ul {
            opacity: 0;
            display: none;
            position: absolute;
            right: 40px;
            top: 40px;
            background: #fff;
            width: 230px;
            // height: 260px;
            border: 1px solid #eaeaea;
            padding: 0 18px;
            li {
              height: 50px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: 10px;
              color: #686874;
              border-bottom: 1px solid #f2f2f2;
              span {
                max-width: 84px;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin: 0;
              }
            }
            .seeMore {
              justify-content: flex-end;
              border: none;
              color: #cf2e33;
            }
          }
          &:hover {
            ul {
              opacity: 1;
              display: block;
            }
          }
        }
      }
      /*.personal div {
        margin-left: 0;
      }*/

      .funTop {
        cursor: pointer;
        span {
          margin: 0 30px;
          white-space: nowrap;
        }
        p {
          @include radius(10px);
          overflow: hidden;
          width: 45px;
          height: 45px;
        }
      }
      .personal {
        cursor: pointer;
        span {
          margin: 0;
          white-space: nowrap;
        }
        p {
          @include radius(10px);
          overflow: hidden;
          width: 45px;
          height: 45px;
        }
      }
      .icon3024 {
        display: inline-block;
        cursor: pointer;
        width: 30px;
        height: 32px;
      }
      .icon_mess {
        @include appImg('xx_hs.png');
        &:hover {
          @include appImg('xx_h.png');
        }
      }
    }
  }

  select {
    color: $colorFFF;
    padding: 6px 18px;
    background-color: rgba(0, 0, 0, 0.4);
    @include radius(6px);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  select::-ms-expand {
    display: none;
  }

  #theme_name {
    height: 100%;
    padding-top: 81px;

    > div {
      &:before {
        content: '';
        display: table;
      }
    }
  }
  #theme_name.headerOpacity{
    padding-top: 0;
  }
  #moduleList {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 80px 180px 0;
    z-index: 24;
    opacity: 0;
    @include transform(scale(0));
    @include transOrigin(50%);
    @include transition(all 0.6s linear);
    > div {
      .list {
        cursor: pointer;
        width: 66px;
        p {
          width: 66px;
          height: 66px;
          margin-bottom: 20px;
        }
        div {
          padding: 40px 15px 0;
          height: 600px;
          h1 {
            span:first-of-type {
              font-size: 28px;
            }
            span:last-of-type {
              margin-top: 20px;
              font-size: 18px;
            }
          }
        }
      }
      .list:hover {
        div {
          color: $colorFFF;
        }
      }
    }
  }
  #moduleList.moduleList {
    opacity: 1;
    @include transform(scale(1));
  }
  .changeLoad {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    color: #212121;
    z-index: 100;
  }
  .loading {
    width: 100%;
    position: fixed;
    top: 171px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    color: brown;
    text-align: center;
    z-index: 10;
    .content {
      width: 800px;
      height: 600px;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
      .lang {
        width: 100%;
        height: 100%;
        @include moduleImg('loading.gif', 'theme1');
        background-size: contain;
        span {
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 24px;
          //font-family: 'jingDianXingShu';
        }
      }
    }
  }
  .global_notify {
    width: 230px;
    height: 250px;
    position: fixed;
    top: -950px;
    right: 15px;
    z-index: 1001;
    transition: all ease 0.5s;
    overflow: hidden;
    text-align: center;
    padding: 30px 40px;
    opacity: 0;

    .close_btn {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 28px;
      cursor: pointer;
    }

    .subMessage {
      font-size: 14px;
      color: #d8d8d8;
    }
  }
  .message {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
  }
  .notify_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .notify_title {
    font-size: 26px;
    margin: 15px auto;
    font-family: 'jingDianXingShu';
  }
  .notify_title__success {
    color: #2ecf74;
  }
  .notify_title__error {
    color: #cf2e33;
  }
  .notify_title__info {
    color: #9ae863;
  }
  .notify_title__warning {
    color: #fec000;
  }
  .notify_show {
    top: 95px;
    opacity: 1;
  }

  .global_message {
    width: 300px;
    height: 180px;
    background-color: #9ccc65;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    z-index: 1001;
  }
}

#app.app1 {
  background-color: $color2F2;
  header {
    background-color: $colorFFF;
    border-bottom: $color2F2;
  }

  .headerOpacity {
    background-color: transparent;
  }
  select {
    color: $colorFFF;
  }
  #moduleList {
    background-color: $colorFFF;
    > div {
      @include moduleImg('modulebg.png', 'theme1');
      background-size: 30% 66%;
      @include defaultImg('theme1');
      @include hoverImg('theme1');
      .list {
        div {
          h1 {
            span:first-of-type {
              font-size: 30px;
              font-family: 'jingDianXingShu';
            }
          }
        }
      }
      .list:hover {
        div {
          @include moduleImg('moduledianji.png', 'theme1');
        }
      }
    }
  }
}

#app.app2 {
  color: $colorDFF;
  @include appImg('2.jpg');
  header {
    select {
      color: $colorDFF;
    }
  }
  #moduleList {
    @include bgImage('./assets/image/2.jpg');
    > div {
      @include defaultImg('theme2');
      .list {
        p {
          opacity: 0.35;
          width: 44px;
          height: 44px;
          margin-bottom: 40px;
        }
        div {
          color: #04d8ee;
          @include moduleImg('moduleweidianji.png', 'theme2');
          h1 {
            span:first-of-type {
              font-size: 26px;
            }
          }
        }
      }
      .list:hover {
        p {
          opacity: 1;
        }
        div {
          color: $colorDFF;
          @include moduleImg('moduledianji.png', 'theme2');
        }
      }
    }
  }
}

#app.app3 {
  @include appImg('3.jpg');
  header {
    color: $color874;
  }
  #moduleList {
    @include moduleImg('modulebg.png', 'theme3');
    > div {
      .list {
        width: 140px;
        p {
          margin: 0;
        }
        div {
          padding: 0 0 0 20px;
          h1 {
            span {
              font-weight: bold;
              color: $color000;
            }
            span:first-of-type {
              font-family: 'mengFeiSiTe';
            }
          }
        }
      }
      .list:hover {
        @include moduleImg('moduledianji.png', 'theme3');
        div {
          color: $color000;
        }
      }
    }
  }
}

#app.app4 {
  @include appImg('4.png');
  header {
    color: $color874;
  }
  #moduleList {
    padding-top: 100px;
    @include moduleImg('modulebg.png', 'theme4');
    > div {
      .list {
        position: relative;
        p {
          margin: 20px 0 0;
          width: 6px;
          height: 6px;
          background-color: $colorC65;
          @include radius(50%);
        }
        div {
          span {
            color: $colorFFF;
          }
          span:first-of-type {
            font-size: 30px;
            font-family: 'jingDianXingShu';
          }
          span:last-of-type {
            color: $colorC65;
          }
          b {
            position: absolute;
            top: -80px;
            width: 65px;
            height: 167px;
          }
        }
      }
      .list:hover {
        p {
          display: none;
        }
        div {
          @include radius(100px);
          background-color: $colorFFF;
          span {
            color: $colorA7B;
          }
          i {
            display: inline-block;
            width: 6px;
            height: 6px;
            background-color: $colorC00;
            @include radius(50%);
            margin-top: 20px;
          }
          b {
            @include moduleImg('topimage.png', 'theme4');
          }
        }
      }
    }
  }
}
