.flex {
  display: flex;
  display: -webkit-flex;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf");
}
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF");
}
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf");
}
/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('/static/font/JDJXINSHU.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('/static/font/ITCAVANTGARDESTD-MD.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('/static/font/BaiZhouRenZhe.otf');
}*/
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll_bar {
  overflow: auto;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: #e4e7ed;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}
.action-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-bar .check-count {
  margin-left: 30px;
  margin-right: 50px;
}
.action-bar .check-count i {
  font-style: normal;
  color: #ff4545;
}
.action-bar .action-bar-name {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.action-bar .action-bar-name span {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.action-bar .action-bar-name span:first-child {
  border-left: 0;
}
.action-bar .delete {
  color: #ff4545;
}
.action-bar .edit {
  color: #0c66ff;
}
.action-bar .check {
  color: #0bb07b;
}

.colorE33 {
  color: #cf2e33;
}

.color874 {
  color: #686874;
}

.confirm-theme {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 99999;
}
.confirm-theme .confirm-modal {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.confirm-theme .confirm-modal .confirm-modal-container {
  width: 400px;
  height: 280px;
  overflow: hidden;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-title {
  height: 50px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: left;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-title span {
  padding: 18px;
  font-size: 26px;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-content span.content-row {
  font-size: 22px;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-content .center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-content .center-container i.icon-img {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-content .center-container i.icon-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-family: MicrosoftYaHei;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-content .center-container span.icon-content {
  color: #686874;
  padding-top: 14px;
  font-size: 18px;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-footer {
  position: absolute;
  height: 32px;
  bottom: 30px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.confirm-theme .confirm-modal .confirm-modal-container .confirm-modal-container-footer button {
  min-width: 90px;
  border-radius: 5px;
}

/*# sourceMappingURL=index.css.map */
