@import "../../../common.scss";

#theme_name {
  #borrowReceive {
    .header_right {
      display: flex;
      flex-direction: row-reverse;

      .icon-add {
        width: 30px;
        height: 30px;
        display: inline-block;
        @include flex('flex-center');
        cursor: pointer;
        background-color: $colorE33;

        b {
          color: $colorFFF;
          font-size: 30px;
          margin-bottom: 6px;
        }
      }
    }


    footer.common-page {
      height: 100px;
      width: 100%;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 100px;
      //background-color: $color2F2;
      z-index: 6;

      .develop {
        position: absolute;
        top: -30px;
        width: 80px;
        cursor: pointer;
        height: 30px;
        opacity: 1;
        border-radius: 10px 10px 0 0;
        background-color: $color2F2;

      }
    }

    .dialog_container {
      .notify-size {
        cursor: default;
        font-size: 22px;
        border: 1px dashed #ccc;
      }

      .dialog_main.notify-borrow-receive {
        background-color: transparent !important;
        margin-left: 0 !important;
      }

      .header_right {
        top: 20px;

        .detail-container {
          .detail-item {
            display: inline-block;
            margin-right: 24px;

            & > :nth-child(1) {
              font-size: 12px;
              font-weight: bold;
            }

            & > :nth-child(2) {
              font-size: 12px;
              padding: 8px;
              color: #686874;
            }
          }
        }
      }

      .detail-bottom-container {
        position: fixed;
        width: 85%;
        bottom: 80px;

        .detail-bottom {
          display: flex;
          //bottom: 150px;
          .detail-item {

            & > :last-child {
              margin-right: 50px;
            }
            flex: 1;

            & > :nth-child(1) {
              display: inline-block;
              height: 30px;
              line-height: 30px;
              font-size: 12px;
              font-weight: bold;
            }

            .icons {
              float: right;
              cursor: pointer;
              width: 30px;
              height: 30px;
            }

            &.select-list {
              @include flex('flex-center');
            }
          }

          & > :nth-child(2) {
            &.total-price {
              input {
                width: 70px;
                height: 24px;
                line-height: 24px;
              }

              input:disabled {
                background-color: $color9F9;

              }

              span.tip {
                display: inline-block;
                height: 24px;
                margin-left: -5px;
                background-color: $color9F9;
              }
            }
          }

          & > :nth-child(3) {
            select {
              font-size: 12px;
              padding: 3px;
              width: 70px;
              height: 24px;
              line-height: 24px;
            }

            select:disabled {
              background-color: $color9F9;
            }
          }

          & > :nth-child(4) {
            select {
              font-size: 12px;
              padding: 3px;
              width: 80px;
              height: 24px;
              line-height: 24px;
            }

            select:disabled {
              background-color: $color9F9;
            }
          }
        }
      }


      .dialog-sidebar {
        position: absolute;
        height: 70%;
        width: 100px;
        left: 40px;
        top: 100px;

        & > div {
          cursor: pointer;
          width: 80px;
          height: 80px;
          margin-bottom: 40px;

          span {
            //@extend .writingMode;
            //display: block;
            width: 80px;
            word-wrap: break-word;
            word-break: break-all;
            color: #fff;
            font-size: 28px;
            font-family: 'jingDianXingShu';
            position: relative;
            left: 0px;
            top: 10px;

            //&.gray {
            //  color: #686874;
            //}

          }
        }

        .sidebar-bg-checked {
          span {
            color: #fff;
          }
        }
        .sidebar-bg {
          span {
            color: #686874;
          }
        }


      }
      //事项详情,物品详情
      .event-detail,.goods-detail {
        &.dialog_main {
          background-color: white;
          margin-left: 100px;
        }

      }
      .goods-detail {
        .search-toolbar {
          margin-top: 20px;
          //display: flex;
          //flex-direction: row-reverse;
          //justify-content: center;
          //align-items:center;
          width: 100%;
          height: 28px;
          & > div {
            //flex: 1;
            //float: right;
            //margin-right: 40px;
            & > div {
              cursor: pointer;
              float: right;
              margin-right: 40px;
            }
          }
          &>:nth-child(2) {
            & > div:not(.batch-set-receive-person) {
              height: 28px;
              line-height: 28px;
              font-size: 14px;
              width: 100px;
              background-color: #F5F6F8;
              border-radius: 5px;
            }

            & > :nth-child(2) {
              border: 1px solid #F03D3D;
              background-color: #FFF8F8;
            }

            & > :nth-child(4) {
              position: relative;
              cursor: default;
              background-color: transparent;

              .icons-ry {
                position: absolute;
                top: 4px;
                right: 10px;
                width: 16px;
                height: 19px;
                display: inline-block;
              }
            }
          }
        }
        //footer.common-page {
        //  bottom: 0px;
        //}
      }
    }
    //物品图片dialog
    .dialog_container.borrow-receive-dialog {
      background-color: $colorFFF;
      .borrow-receive-img-dialog {

        .repair-img-container {
          width: 100%;
          //height: 50px;
          //text-align: left;
          //background-color: red;
          padding-left: 60px;
          @include flex('flex-center');
          span {
            display: inline-block;
            width: 100px;
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }

    .photo-img {
      width: 40px;
      height: 40px;
      margin-left: 22px;
      cursor: pointer;
    }

    .photo-container {
      background-color: #fff;
      padding: 15px;

      .photo-img-large {
        width: 300px;
        height: 300px;
      }

      & > :last-child {
        padding: 15px;
      }
    }

    .repository-overview {
      .lj-header-search {
        .el-icon-search {
          position: absolute;
          top: 7px;
          right: 195px;
        }

        input {
          border: 1px solid #ccc;
          border-radius: 20px;
          width: 220px;
          height: 28px;
          padding: 2px 12px 2px 32px;
        }
      }
    }




  }
}

#theme_name.theme1 {
  #borrowReceive {

  }
}

#theme_name.theme2 {
  #borrowReceive {

  }
}

#theme_name.theme3 {
  #borrowReceive {

  }
}

#theme_name.theme4 {
  #borrowReceive {

  }
}
