@import "../../../common.scss";

#theme_name {
  #organization {
    width: 100%;
    height: 100%;
    > div {
      height: 100%;
      padding: 30px 100px;
      .organ-tree {
        height: 700px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
        overflow: auto;
        position: relative;
      }
    }
  }
}

#theme_name.theme1 {
  #organization {

  }
}

#theme_name.theme2 {
  #organization {

  }
}

#theme_name.theme3 {
  #organization {

  }
}

#theme_name.theme4 {
  #organization {

  }
}
