@import '../common.scss';

@mixin confirmImg($m, $n) {
  $url: '../../assets/image/approval/' + $n + '/' + $m;
  @include bgImage($url);
}

#theme_name {
  // height: auto !important;
  // padding-top: 0 !important;
  #approval {
    overflow: hidden;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 24;
    background-color: $color2F2;
    @include transform(scale(0));
    @include transOrigin(50%);
    @include transition(all 0.6s linear);
    opacity: 0;

    &.approval {
      @include transOrigin(50%);
      @include transition(all 0.6s linear);
      @include transform(scale(1));
      opacity: 1;
    }
    // 高级搜索
    .searchModule,
    .searchContent {
      top: 0 !important;
    }

    // 头部
    .header {
      height: 180px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header_btns {
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 130px;
          height: 40px;
          font-family: 'jingDianXingShu';
          .icons {
            display: inline-block;
            width: 19px;
            height: 17px;
            margin-right: 12px;
          }
        }
        p + p {
          margin-top: 20px;
        }
      }
      .header_methods {
        display: flex;
        .methods_box {
          width: 80px;
          height: 80px;
          text-align: center;
          line-height: 80px;
          font-size: 10px;
        }
        .methods_box + .methods_box {
          margin-left: 40px;
        }
      }
      .header_right {
        display: flex;
        height: 180px;
        align-items: flex-end;
        padding-bottom: 24px;
        padding-right: 50px;
        .ele_p {
          line-height: 40px;
          padding: 0 20px;
          font-size: 14px;
          border-radius: 4px;
        }
        .margin {
          margin-left: 30px;
          position: relative;
          .revice_span {
            max-width: 250px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .revice_box {
            width: 324px;
            padding: 0 30px;
            position: absolute;
            right: 0;
            top: 60px;
            z-index: 900;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
            .el-checkbox-group {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              .el-checkbox {
                font-size: 14px;
                margin-top: 30px;
                .el-checkbox__inner {
                  border-radius: 50%;
                }
              }
            }
            .dialog_footer {
              margin: 50px 0 36px;
              text-align: center;
            }
            &:before {
              content: '';
              width: 0px;
              height: 0px;
              position: absolute;
              top: -10px;
              right: 60px;
              border-bottom: 10px solid #fff;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 0px solid transparent;
            }
          }
        }

        .gua {
          display: flex;
          align-items: center;
          padding: 0 10px;
          .icons {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }
        .icons {
          display: inline-block;
          width: 40px;
          height: 40px;
        }
        .icons_main {
          margin: 0 30px;
        }
      }
    }

    // 表格
    .mainListTable {
      margin: 0 30px;
      .status {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

#theme_name.theme1 {
  #approval {
    // 头部
    .header {
      .header_btns {
        p {
          color: #d2d2d2;
          @include confirmImg('juxing_hui.png', 'theme1');
          .icons_app {
            @include confirmImg('baobeishenhe_hui.png', 'theme1');
          }
          .icons_ban {
            @include confirmImg('bangongshenpi_hui.png', 'theme1');
          }
        }
        p.activeTag {
          color: #fff;
          @include confirmImg('juxing_hong.png', 'theme1');
          .icons_app {
            @include confirmImg('baobeishenhe_bai.png', 'theme1');
          }
          .icons_ban {
            @include confirmImg('bangongshenpi_bai.png', 'theme1');
          }
        }
      }
      .header_methods {
        .methods_box {
          color: #bbbbbb;
          @include confirmImg('duobiankuang_hui.png', 'theme1');
        }
        .methods_box_active {
          color: #cf2e33;
          @include confirmImg('duobiankuang_hong.png', 'theme1');
        }
      }
      .header_right {
        .ele_p {
          background: #fff;
          color: #686874;
        }
        .margin {
          .revice_span {
            background: #cf2e33;
            color: #fff;
          }
          .revice_box {
            background: #fff;
          }
        }
        .gua_icons {
          @include confirmImg('guaqi.png', 'theme1');
        }
        .revice_icons {
          @include confirmImg('jieshou.png', 'theme1');
        }
        .icons_main {
          @include confirmImg('guankongmianban.png', 'theme1');
        }
        .icons_search {
          @include confirmImg('sousuo.png', 'theme1');
        }
      }
    }
    // 表格
    .mainListTable {
      .status1 {
        color: #ffad0d;
      }
      .status2 {
        color: #d2d2d2;
      }
      .status3 {
        color: #00865a;
      }
    }
  }
}

#theme_name.theme2 {
  #approval {
  }
}

#theme_name.theme3 {
  #approval {
  }
}

#theme_name.theme4 {
  #approval {
  }
}
