.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf');
}*/
@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 4px; }

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2; }
  .action-bar div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .action-bar .check-count {
    margin-left: 30px;
    margin-right: 50px; }
    .action-bar .check-count i {
      font-style: normal;
      color: #ff4545; }
  .action-bar .action-bar-name {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .action-bar .action-bar-name span {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #9b9b9b;
      font-size: 18px;
      padding: 0 10px;
      cursor: pointer; }
    .action-bar .action-bar-name span:first-child {
      border-left: 0; }
  .action-bar .delete {
    color: #ff4545; }
  .action-bar .edit {
    color: #0c66ff; }
  .action-bar .check {
    color: #0bb07b; }

.colorE33 {
  color: #cf2e33; }

.color874 {
  color: #686874; }

#theme_name {
  height: auto !important;
  padding-top: 0 !important; }
  #theme_name #approval {
    overflow: hidden;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 24;
    background-color: #f2f2f2;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0 0;
    -moz-transform-origin: 50% 0 0;
    -ms-transform-origin: 50% 0 0;
    -o-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
    opacity: 0; }
    #theme_name #approval.approval {
      -webkit-transform-origin: 50% 0 0;
      -moz-transform-origin: 50% 0 0;
      -ms-transform-origin: 50% 0 0;
      -o-transform-origin: 50% 0 0;
      transform-origin: 50% 0 0;
      -webkit-transition: all 0.6s linear;
      -moz-transition: all 0.6s linear;
      -ms-transition: all 0.6s linear;
      -o-transition: all 0.6s linear;
      transition: all 0.6s linear;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1; }
    #theme_name #approval .searchModule,
    #theme_name #approval .searchContent {
      top: 0 !important; }
    #theme_name #approval .header_btns {
      height: 180px;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 99; }
      #theme_name #approval .header_btns p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: 40px;
        font-family: 'jingDianXingShu'; }
        #theme_name #approval .header_btns p .icons {
          display: inline-block;
          width: 19px;
          height: 17px;
          margin-right: 12px; }
      #theme_name #approval .header_btns p + p {
        margin-top: 20px; }
    #theme_name #approval .header {
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      #theme_name #approval .header .header_methods {
        display: flex; }
        #theme_name #approval .header .header_methods .methods_box {
          width: 80px;
          height: 80px;
          text-align: center;
          line-height: 80px;
          font-size: 10px; }
        #theme_name #approval .header .header_methods .methods_box + .methods_box {
          margin-left: 40px; }
      #theme_name #approval .header .header_right {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        height: 180px;
        align-items: flex-end;
        padding-bottom: 24px;
        padding-right: 50px; }
        #theme_name #approval .header .header_right .ele_p {
          line-height: 40px;
          padding: 0 20px;
          font-size: 14px;
          border-radius: 4px; }
        #theme_name #approval .header .header_right .margin {
          margin-left: 30px;
          position: relative; }
          #theme_name #approval .header .header_right .margin .revice_span {
            max-width: 250px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
          #theme_name #approval .header .header_right .margin .revice_box {
            width: 324px;
            padding: 0 30px;
            position: absolute;
            right: 0;
            top: 60px;
            z-index: 900;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1); }
            #theme_name #approval .header .header_right .margin .revice_box .el-checkbox-group {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between; }
              #theme_name #approval .header .header_right .margin .revice_box .el-checkbox-group .el-checkbox {
                font-size: 14px;
                margin-top: 30px;
                width: 100px; }
                #theme_name #approval .header .header_right .margin .revice_box .el-checkbox-group .el-checkbox .el-checkbox__inner {
                  border-radius: 50%; }
            #theme_name #approval .header .header_right .margin .revice_box .dialog_footer {
              margin: 50px 0 36px;
              text-align: center; }
            #theme_name #approval .header .header_right .margin .revice_box:before {
              content: '';
              width: 0px;
              height: 0px;
              position: absolute;
              top: -10px;
              right: 60px;
              border-bottom: 10px solid #fff;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 0px solid transparent; }
        #theme_name #approval .header .header_right .gua {
          display: flex;
          align-items: center;
          padding: 0 10px; }
          #theme_name #approval .header .header_right .gua .icons {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px; }
        #theme_name #approval .header .header_right .icons {
          display: inline-block;
          width: 40px;
          height: 40px; }
        #theme_name #approval .header .header_right .icons_main {
          margin: 0 30px; }
    #theme_name #approval .mainListTable {
      margin: 0 30px; }
      #theme_name #approval .mainListTable .status {
        font-size: 14px;
        font-weight: 700; }

#theme_name.theme1 #approval .header_btns p {
  color: #d2d2d2;
  background: url("../../assets/image/approval/theme1/juxing_hui.png") no-repeat scroll center;
  background-size: 100% 100%; }
  #theme_name.theme1 #approval .header_btns p .icons_app {
    background: url("../../assets/image/approval/theme1/baobeishenhe_hui.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #approval .header_btns p .icons_ban {
    background: url("../../assets/image/approval/theme1/bangongshenpi_hui.png") no-repeat scroll center;
    background-size: 100% 100%; }
#theme_name.theme1 #approval .header_btns p.activeTag {
  color: #fff;
  background: url("../../assets/image/approval/theme1/juxing_hong.png") no-repeat scroll center;
  background-size: 100% 100%; }
  #theme_name.theme1 #approval .header_btns p.activeTag .icons_app {
    background: url("../../assets/image/approval/theme1/baobeishenhe_bai.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #approval .header_btns p.activeTag .icons_ban {
    background: url("../../assets/image/approval/theme1/bangongshenpi_bai.png") no-repeat scroll center;
    background-size: 100% 100%; }
#theme_name.theme1 #approval .header .header_methods .methods_box {
  color: #bbbbbb;
  background: url("../../assets/image/approval/theme1/duobiankuang_hui.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #approval .header .header_methods .methods_box_active {
  color: #cf2e33;
  background: url("../../assets/image/approval/theme1/duobiankuang_hong.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #approval .header .header_right .ele_p {
  background: #fff;
  color: #686874; }
#theme_name.theme1 #approval .header .header_right .margin .revice_span {
  background: #cf2e33;
  color: #fff; }
#theme_name.theme1 #approval .header .header_right .margin .revice_box {
  background: #fff; }
#theme_name.theme1 #approval .header .header_right .gua_icons {
  background: url("../../assets/image/approval/theme1/guaqi.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #approval .header .header_right .revice_icons {
  background: url("../../assets/image/approval/theme1/jieshou.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #approval .header .header_right .icons_main {
  background: url("../../assets/image/approval/theme1/guankongmianban.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #approval .header .header_right .icons_search {
  background: url("../../assets/image/approval/theme1/sousuo.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #approval .mainListTable .status1 {
  color: #ffad0d; }
#theme_name.theme1 #approval .mainListTable .status2 {
  color: #d2d2d2; }
#theme_name.theme1 #approval .mainListTable .status3 {
  color: #00865a; }
