@import "../../common.scss";

#theme_name {
  #my_response {
    height: 100%;
    .response-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 30px;
      .response-toolbar {
        margin-top: 1%;
        height: 8%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .toolbar-left {
          height: 100%;
          //width: 120px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          color: $color874;
          .toolbar-left-upper {
            padding-bottom: 6px;
            span {
              cursor: pointer;
              font-size: 20px;
              color: $color874;
              &.checked {
                color: $colorE33;
              }
              &:nth-child(1) {
                padding-right: 25px;
              }
            }
          }
          .toolbar-left-below {
            span {
              cursor: pointer;
              font-size: 16px;
              color: $color874;
              &.checked {
                color: $colorE33;
              }
              &:nth-child(1) {
                padding-right: 10px;
                border-right: 1px solid $color874;
              }
              &:nth-child(2) {
                padding-left: 10px;
                //border-left: 1px solid $colorE33;
              }
            }
          }
          //background-color: red;
        }
        .toolbar-right {
          height: 100%;
          width: 200px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          //@include flex('flex-center');
          //background-color: red;
        }
        //background-color: red;
      }
      .response-table {
        flex: 1 0 auto;
        height: 85%;
        //background-color: #ccc;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        .response-table-list {
          //background-color: red;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          height: 100%;
          .response-table-item {
            height: 45%;
            width: 33%;
            background-color: $colorFFF;
            border-radius: 10px;
            overflow: hidden;
            //background-color: red;
            display: flex;
            flex-direction: column;

            .table-item-container {
              padding: 0 20px;
              display: flex;
              //@include flex('flex-center');
              flex-direction: column;
              width: 100%;
              height: 100%;
              .item-upper {
                width: 100%;
                //padding-top: 10px;
                height: 30%;
                @include flex('flex-center');
                //flex-direction: column;
                //width: 100%;
                .item-upper-left {
                  width: 20%;
                  //padding-left: 20px;
                  @include flex('flex-start');
                  img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                  }
                }
                .item-upper-right {
                  //flex: 1 0  auto;
                  width: 80%;
                  @include flex('flex-center');
                  flex-direction: column;
                  .upper-right-info {
                    height: 30%;
                    width: 100%;
                    //background-color: red;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span {
                      font-size: 14px;
                      color: $color874;
                      &:nth-child(1) {
                        font-weight: bold;
                      }
                      &:nth-child(2) {
                        opacity: .4;
                      }
                    }
                  }
                  .upper-right-comment {
                    height: 70%;
                    //background-color:blue;
                    width: 100%;
                  }
                }

              }
              .item-lower {
                height: 70%;
                display: flex;
                flex-direction: column;
                padding-left: 20%;
                .lower-content {
                  height: 85%;
                  //width: 100%;
                  //background-color: red;
                  .lower-content-container {
                    @include flex('flex-center');
                    flex-direction: column;
                    height: 100%;
                    padding: 15px;
                    background-color: $color9F9;
                    color: $color874;
                    .content-username {
                      height: 19px;
                      line-height: 19px;
                      width: 100%;
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      font-size: 15px;
                      font-weight: bold;
                      padding-bottom: 10px;
                    }
                    .content-detail {
                      font-size: 14px;
                      height: 135px;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 6;
                      overflow: hidden;
                    }
                  }
                }
                .lower-operate {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  height: 15%;
                  > div {
                    height: 100%;
                    width: 20%;
                    //@include flex('flex-center');
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    //background-color: red;
                    margin-right: 3px;
                    i {
                      display: inline-block;
                      width: 17px;
                      height: 15px;
                      &.icon-view {
                        width: 18px;
                        height: 14px;
                      }
                      &.icon-like {
                        width: 14px;
                      }
                      //background-color: red;
                    }
                    span {
                      margin-left: 2px;
                      font-size: 14px;
                      color: $color874;
                    }

                  }
                  //background-color: yellow;
                }
              }
            }


          }
          .response-table-item:not(:nth-child(5n+5)) {
            margin-right: 3.75%;
          }
        }
        
      }
      .response-table-pagination {
        height: 15%;
      }
    }
  }
}

#theme_name.theme1 {
  #my_response {

  }
}

#theme_name.theme2 {
  #my_response {

  }
}

#theme_name.theme3 {
  #my_response {

  }
}

#theme_name.theme4 {
  #my_response {

  }
}
