@import "../common.scss";

#theme_name {
  #login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 42;
    background-color: $color2F2;
    header {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      span {
        width: 280px;
        height: 80px;
      }
    }
    .login {
      position: absolute;
      left: 10%;
      right: 10%;
      top: 0;
      bottom: 0;
      padding: 100px 100px 0 0;
      flex-direction: column;
      > div {
        .p1 {
          width: 120px;
          height: 120px;
          margin-right: 35px;
          @include radius(6px);
        }
        .p2 {
          width: 600px;
          height: 500px;
          background-color: $colorFFF;
          position: relative;
          @include radius(6px);
          .formData {
            margin: 30px 0;
            i {
              width: 26px;
              height: 26px;
            }
            input {
              width: 210px;
              padding: 6px 20px 6px 40px;
            }
            b {
              cursor: pointer;
              width: 80px;
              height: 36px;
              @include radius(6px);
              text-align: center;
              line-height: 36px;
              background-color: #AAA;
            }
          }
          .forgetPassword {
            position: absolute;
            bottom: 30px;
            right: 30px;
            font-size: 16px;
            cursor: pointer;
          }
          .loginBtn {
            display: none;
          }
        }
        .p3 {
          width: 60px;
          height: 120px;
          padding-right: 4px;
          color: $colorFFF;
          cursor: pointer;
        }
      }
      footer {
        margin: 100px 0 0 94px;
        width: 240px;
        height: 24px;
      }
    }
    h1 {
      display: none;
    }
  }
}

#theme_name.theme1 {
  #login {
    .login {
      > div {
        .p3 {
          @include radius(0 100px 100px 0);
        }
        .p2 {
          .forgetPassword {
            color: $color80C0;
          }
        }
        .p2, .p3 {
          @include boxShaw(-6px 10px 20px 0px rgba(223, 223, 223, 1));
        }
      }
    }
  }
}

#theme_name.theme2 {
  #login {
    .login {
      > div {
        .p2 {
          @include inputColor($colorDFF);
          .forgetPassword {
            bottom: 80px;
            right: 40px;
            color: $colorDFF;
          }
          input {
            color: $colorDFF;
          }
        }
        .p3 {
          color: $colorDFF;
          opacity: .8;
          padding-right: 22px;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    footer {
      span + span {
        border-color: $colorDFF;
      }
    }
  }
}

#theme_name.theme3 {
  #login {
    .login {
      > div {
        .p2 {
          > div {
            margin-right: 70px;
            .formData {
              border: 3px solid #000;
              padding: 0 30px;
              border-radius: 100px;
              background: #fff;
              height: 50px;
              margin: 20px 0;
            }
          }
          .forgetPassword {
            right: 80px;
            bottom: 25px;
            color: $color000;
          }
          .loginBtn {
            cursor: pointer;
            display: block;
            position: absolute;
            right: 0;
            padding: 26px;
            top: 50%;
            @include transform(translateY(-50%));
            span {
              font-weight: bold;
              color: $colorFFF;
            }
          }
        }
        .p3 {
          display: none;
        }
      }
    }
    h1 {
      display: block;
      position: absolute;
      left: 60px;
      bottom: 60px;
      color: $color000;
    }
  }
}

#theme_name.theme4 {
  #login {
    .login {
      opacity: 0;
      @include transition(all, .8s);
      > div {
        transform: rotateY(60deg);
        @include transition(all, .8s);
        .p2 {
          .forgetPassword {
            color: $colorA7B;
          }
        }
        .p3 {
          background-color: $colorA7B;
          @include radius(0 20px 20px 0);
        }
      }
    }
    .loginRotate {
      opacity: 1;
      > div {
        transform: rotateY(0deg) perspective(800px);
      }
    }
  }
}

