@import "../common.scss";

#theme_name {
  #riskManagement {
    width: 100%;
    height: 100%;

    > div {
      width: 100%;
      height: 100%;
      background: #FFFFFF;

      .mainList {
        position: relative;
        .menu-list {
          width: 70%;
          padding: 0 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
          div{
            width: 140px;
            height: 350px;
            cursor: pointer;
            span{
              font-family: jingDianXingShu;
              font-size:30px
            }
          }
        }
      }
    }
  }
}