@import "../../../../common.scss";

#theme_name {
  #birthday {
    .mainList {
      width: 100%;
      height: 100%;
      .birthday_info {
        width: 100%;
        height: 100%;
        position: relative;
        .today_birthday {
          width: 100%;
          height: 50%;
          padding-left: 100px;
          padding-top: 50px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;

          .today_birthday_title {
            width: 200px;
            height: 200px;

            > div {
              width: 100px;
              height: 100px;
              position: relative;

              span {
                display: block;
                width: 64px;
                position: absolute;
                top: 44%;
                left: 52%;
                transform: translate(-50%, -50%);
                font-size: 32px;
                font-family: jingDianXingShu;
                color: #ffffff;
              }
            }

          }
        ;

          .today_birthday_list {
            width: 100%;
            display: flex;
            flex-direction: row;

            .birthday_box-left {
              width: 55%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding-right: 100px;
              border-right: 1px solid #BDBDBD;

              .birthday_box {
                width: 24%;


                > img {
                  $myHeight: 220px;
                  $genHaoSan: 1.73205080;
                  width: calc(($myHeight * $genHaoSan) / 2);
                  height: $myHeight;
                  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
                }

                > div {
                  margin-top: 10px;

                  span {
                    font-family: jingDianXingShu;
                    font-size: 14px;
                  }
                }
              };

            }

            .birthday_box-right {
              width:38%;
              height: 95%;
              padding-right: 40px;
              padding-left: 40px;
              position: relative;
              .hide-box{
                width: 100%;
                height: 80px;
                background: #F4F4F4;
                //background-image: -webkit-gradient(linear,left top, left bottom,from(#F4F4F4),color-stop(100%, #FDFDFD));
                opacity: .8;
                position: absolute;
                bottom: 0;
                left: 0;
              }


              .element,
              .outer-container {
                width: 100%;
                height: 300px;
              }
              .element{
                .wishes-list{
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  margin-top: 20px;
                  margin-bottom: 20px;
                  img{
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                  }
                  >div{
                    p{
                      font-size: 14px;
                    }
                    p:first-child{
                      color:#202020;
                      font-weight: bold;
                    }
                  }
                }
              }

              .outer-container {
                position: relative;
                overflow: hidden;
              }

              .inner-container {
                position: absolute;
                left: 0;
                overflow-x: hidden;
                overflow-y: scroll;
              }

              .inner-container::-webkit-scrollbar {
                display: none;
              }
            }
            .wishes-btn{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              div{
                border-radius: 50%;
                height: 60px;
                width: 60px;
                //border:1px solid #999999;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #FFFFFF;
                box-shadow: #DFDFDF 0px 0px 5px 5px;
                p{
                  font-family: jingDianXingShu;
                  font-size: 20px;
                  color: #000000;
                }

              }
            }

          }
        ;

        }
        .months_birthday {
          width: 100%;
          padding: 30px 200px;
          background: #E8E8E8;

          .months_birthday_title {
            margin-bottom: 30px;

            span {
              font-size: 30px;
              font-family: jingDianXingShu;
            }
          }

          .months_birthday_list {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .birthday_box {
              width: calc(100% / 7);
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 20px;

              > img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
              }

              > div {
                margin-top: 10px;

                span {
                  font-family: jingDianXingShu;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .switch_icon_box {
          cursor: pointer;
          width: 40px;
          height: 40px;
          background: #FFFFFF;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          transform: rotate(45deg);

          span {
            display: block;
            width: 28px;
            height: 28px;
          }
        }

        //展现所有今日寿星
        .hide-all-today {
          //padding-top: 20px;
          height:95%;
          .element,
          .outer-container {
            width: 100%;
            height: 660px;
          }
          //滚动
          .element{
            .wishes-list{
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              margin-top: 20px;
              margin-bottom: 20px;
              img{
                width: 50px;
                height: 50px;
                margin-right: 10px;
              }
              >div{
                p{
                  font-size: 14px;
                }
                p:first-child{
                  color:#202020;
                  font-weight: bold;
                }
              }
            }
          }

          .outer-container {
            position: relative;
            overflow: hidden;
          }

          .inner-container {
            position: absolute;
            left: 0;
            overflow-x: hidden;
            overflow-y: scroll;
          }

          .inner-container::-webkit-scrollbar {
            display: none;
          }
          .element{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            padding-top: 30px;
            .box-info{
              width: 33%;
              padding:0 30px 0 30px;

              .birthday_box {

                > img {
                  $myHeight: 220px;
                  $genHaoSan: 1.73205080;
                  width: calc(($myHeight * $genHaoSan) / 2);
                  height: $myHeight;
                  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
                }

                > div {
                  margin-top: 10px;

                  span {
                    font-family: jingDianXingShu;
                    font-size: 14px;
                  }
                }
              };
            }
          }
          //end

          .today_birthday_title {
            > div {
              span {
              }
            }

          };
          .today_birthday_list {

            .birthday_box-left {
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              .birthday_box-info{
                width: 33%;
                padding:0 30px 30px 30px;
              }
              .birthday_box {
                width: 90%;
                > img {
                  $myHeight: 220px;
                  $genHaoSan: 1.73205080;
                  width: calc(($myHeight * $genHaoSan) / 2);
                  height: $myHeight;
                  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
                }

                > div {
                  margin-top: 10px;

                  span {
                    font-family: jingDianXingShu;
                    font-size: 14px;
                  }
                }
              };

            }

            .birthday_box-right {
              width:38%;
              padding-right: 40px;
              padding-left: 40px;
              position: relative;
              .hide-box{
                width: 100%;
                height: 80px;
                background: #F4F4F4;
                //background-image: -webkit-gradient(linear,left top, left bottom,from(#F4F4F4),color-stop(100%, #FDFDFD));
                opacity: .8;
                position: absolute;
                bottom: 0;
                left: 0;
              }


              .element,
              .outer-container {
                width: 100%;
                height: 660px;
              }
              .element{
                .wishes-list{
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  margin-top: 20px;
                  margin-bottom: 20px;
                  img{
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                  }
                  >div{
                    p{
                      font-size: 14px;
                    }
                    p:first-child{
                      color:#202020;
                      font-weight: bold;
                    }
                  }
                }
              }

              .outer-container {
                position: relative;
                overflow: hidden;
              }

              .inner-container {
                position: absolute;
                left: 0;
                overflow-x: hidden;
                overflow-y: scroll;
              }

              .inner-container::-webkit-scrollbar {
                display: none;
              }
            }
            .wishes-btn{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              div{
                border-radius: 50%;
                height: 60px;
                width: 60px;
                //border:1px solid #999999;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #FFFFFF;
                box-shadow: #DFDFDF 0px 0px 5px 5px;
                p{
                  font-family: jingDianXingShu;
                  font-size: 20px;
                  color: #000000;
                }

              }
            }

          }
        ;

        }
        .hide-all-months{
          width: 100%;
          height: 5%;
          background: #E8E8E8;
        }
        .hide-switch {
          cursor: pointer;
          width: 40px;
          height: 40px;
          background: #FFFFFF;
          position: absolute;
          top: 95%;
          left: 0;
          //bottom: 0;
          right: 0;
          margin: auto;
          margin-top: -20px;
          transform: rotate(45deg);

          span {
            display: block;
            width: 28px;
            height: 28px;
          }
        }
        //end
      }
    }

    .dialog_header {
      .write_wishes {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
      span {
        color: #CF2E33;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    .dialog_main {
      .wishes-lists {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        > img {
          width: 50px;
          height: 50px;
        }

        > div {
          text-align: left;
          margin-left: 20px;
          color: #202020;

          h3 {
            font-size: 18px;
          }

          p {
            line-height: 26px;
          }
        }
      }
    }
    .form_item_container {
      align-items: flex-start;
      .item_content {
        width: 100%;
      }
    }

  }
}