@import "../../../../common.scss";

#theme_name {
  #birthday {
    .mainList {
      width: 100%;
      height: 100%;
      .birthday_info {
        width: 100%;
        height: 100%;
        position: relative;
        .today_birthday {
          width: 100%;
          height: 50%;
          padding-left: 200px;
          //padding-right: 200px;
          padding-top: 50px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;

          .today_birthday_title {
            width: 200px;
            height:200px;
            //border:1px solid #ff4545;

            >div{
              width: 100px;
              height: 100px;
              position: relative;
              span {
                display: block;
                width: 64px;
                position: absolute;
                top: 44%;
                left: 52%;
                transform: translate(-50%, -50%);
                font-size: 32px;
                font-family: jingDianXingShu;
                color: #ffffff;
              }
            }

          };
          .today_birthday_list {
            width: 100%;
            //border:1px solid #FF7131;
            display: flex;
            flex-direction: row;
            padding-left: 150px;
            padding-right: 350px;
            //flex-wrap: wrap;
            justify-content: space-around;
            .birthday_box{
              width: 180px;
              >img{
                $myHeight: 200px;
                $genHaoSan: 1.73205080;
                width: calc(($myHeight*$genHaoSan)/2);
                height: $myHeight;
                clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
              }
              >div{
                margin-top: 10px;
                span{
                  font-family: jingDianXingShu;
                  font-size: 14px;
                }
              }
            }

          };
          .today_birthday_btn{
            cursor: pointer;
            width:10%;
            height: 30px;
            //border:1px solid #F6DE46;
            text-align: center;
            background: #DFDFDF;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            span{
              font-family: jingDianXingShu;
              font-size: 14px;
              line-height: 30px;

            }
          }
        }
        .months_birthday{
          width: 100%;
          padding: 30px 200px;
          background:#E8E8E8;
          .months_birthday_title{
            margin-bottom: 30px;
            span{
              font-size: 30px;
              font-family: jingDianXingShu;
            }
          }
          .months_birthday_list{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .birthday_box{
              width: calc(100%/7);
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 20px;
              >img{
                width: 160px;
                height: 160px;
                border-radius: 50%;
              }
              >div{
                margin-top: 10px;
                span{
                  font-family: jingDianXingShu;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .switch_icon_box{
          cursor: pointer;
          width: 40px;
          height: 40px;
          background: #FFFFFF;
          position: absolute;
          top: 0;
          left:0;
          bottom: 0;
          right:0;
          margin: auto;
          transform: rotate(45deg);
          span{
            display: block;
            width: 28px;
            height: 28px;
          }
        }


      }


    }

    .dialog_header{
      .write_wishes{
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
      span{
        color:#CF2E33;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    .dialog_main{
      .wishes-lists{
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        >img{
          width: 50px;
          height:50px;
        }
        >div{
          text-align: left;
          margin-left: 20px;
          color:#202020;
          h3{
            font-size: 18px;
          }
          p{
            line-height: 26px;
          }
        }
      }
    }
    .form_item_container{
      align-items: flex-start;
      .item_content{
        width: 100%;
      }
    }

  }
}