@import "../../../../common.scss";

#theme_name {
  #star {
    .mainList {
      width: 100%;
      height: 100%;
      .star_info {
        width: 100%;
        height: 100%;
        padding-left: 200px;

        .star_info_left {
          width: 200px;
          height: 100%;
          position: relative;

          .star_info_avatar {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

          }

          .star_info_title {
            width: 38px;
            height: 110px;
            position: absolute;
            z-index: 10;
            top: 27%;
            left: 30%;
            transform: translate(-50%, -50%);

            span {
              font-family: jingDianXingShu;
              font-size: 16px;
              color: #ffffff
            }
          }

          .star_info_name {
            width: 38px;
            height: 110px;
            position: absolute;
            z-index: 10;
            top: 56%;
            left: 54%;
            transform: translate(-50%, -50%);

            span {
              font-family: jingDianXingShu;
              font-size: 16px;
            }
          }

          .star_info_department {
            width: 38px;
            height: 110px;
            position: absolute;
            z-index: 10;
            top: 61%;
            left: 73%;
            transform: translate(-50%, -50%);

            span {
              font-family: jingDianXingShu;
              font-size: 16px;
            }
          }

        }

        .star_info_middle {
          width: 820px;
          height: 700px;
          padding-top: 80px;
          color: #ffffff;

          .main_info {
            width: 100%;

            h3 {
              margin-bottom: 30px;
            }

            p {
              line-height: 27px;
              margin-top: 30px;
              margin-bottom: 30px;
            }

            > div {
              span {
                display: block;
                width: 400px;
                height: 220px;
              }
            }
          }
        }

        .star_info_right {
          //width: 50px;
          padding-right: 200px;

          > div {
            i {
              display: block;
              width: 34px;
              height: 34px;
              border-right: 6px;
              margin-bottom: 20px;

            }
          }
        }
      }

      .staff_info {
        width: 100%;
        height: 100%;
        padding-top: 80px;

        .staff_list_top {
          width: 324px;
          height: 98px;
          margin: 0 auto;
          text-align: center;

          span {
            color: #ffffff;
            font-family: jingDianXingShu;
            line-height: 98px;
            font-size: 30px;
            letter-spacing: 2px;
          }
        }

        .staff_list_info {
          width: 100%;
          padding-top: 80px;
          padding-left: 200px;
          padding-right: 200px;
          margin: 0 auto;
          //border: 1px solid #FFAD0B;
          div {
            width: 314px;
            height: 377px;
            cursor: pointer;

            span {
              display: block;
              width: 216px;
              height: 309px;
            }

          }

        }

      }

      .birthday_info {
        width: 100%;
        height: 100%;
        position: relative;

        .today_birthday {
          width: 100%;
          height: 50%;
          padding-left: 175px;
          padding-top: 50px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .today_birthday_title {
            width: 98px;
            height: 102px;
            position: relative;
            //margin-left: 175px;
            span {
              display: block;
              width: 64px;
              position: absolute;
              top: 44%;
              left: 52%;
              transform: translate(-50%, -50%);
              font-size: 32px;
              font-family: jingDianXingShu;
              color: #ffffff;
            }
          };
          .today_birthday_list {
            width: 800px;
            margin-left: -175px;
            //border:1px solid saddlebrown;
            //margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .birthday_box{
              width:160px;
              height: auto;
              >img{
                $myHeight: 200px;
                $genHaoSan: 1.73205080;
                width: calc((200px*1.73205080)/2);
                height: $myHeight;
                clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
              }
              >div{
                margin-top: 10px;
                span{
                  font-family: jingDianXingShu;
                  font-size: 14px;
                }
              }
            }
          };
          .fix_birthday_btn{
            cursor: pointer;
            width: 100px;
            height: 30px;
            text-align: center;
            background: #DFDFDF;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            span{
              font-family: jingDianXingShu;
              font-size: 14px;
              line-height: 30px;

            }
          }
        }
        .months_birthday{
          width: 100%;
          height: 50%;
          padding-right: 175px;
          padding-left: 175px;
          padding-top: 50px;
          background:#E8E8E8;
          .months_birthday_title{
            margin-bottom: 30px;
            span{
              font-size: 30px;
              font-family: jingDianXingShu;
            }
          }
          .months_birthday_list{
            .birthday_box{
              width: 160px;
              display: flex;
              flex-direction: column;
              align-items: center;
              >img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
              }
              >div{
                margin-top: 10px;
                span{
                  font-family: jingDianXingShu;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .switch_icon_box{
          cursor: pointer;
          width: 40px;
          height: 40px;
          background: #FFFFFF;
          position: absolute;
          top: 0;
          left:0;
          bottom: 0;
          right:0;
          margin: auto;
          transform: rotate(45deg);
          span{
            display: block;
            width: 28px;
            height: 28px;
          }
        }


      }


    }

    .dialog_header{
      .write_wishes{
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
      span{
        color:#CF2E33;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    .dialog_main{
      .wishes-lists{
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        >img{
          width: 50px;
          height:50px;
        }
        >div{
          text-align: left;
          margin-left: 20px;
          color:#202020;
          h3{
            font-size: 18px;
          }
          p{
            line-height: 26px;
          }
        }
      }
    }
    .form_item_container{
      align-items: flex-start;
      .item_content{
        width: 100%;
      }
    }

  }
}
