.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2; }
  .action-bar div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .action-bar .check-count {
    margin-left: 30px;
    margin-right: 50px; }
    .action-bar .check-count i {
      font-style: normal;
      color: #ff4545; }
  .action-bar .action-bar-name {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .action-bar .action-bar-name span {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #9b9b9b;
      font-size: 18px;
      padding: 0 10px;
      cursor: pointer; }
    .action-bar .action-bar-name span:first-child {
      border-left: 0; }
  .action-bar .delete {
    color: #ff4545; }
  .action-bar .edit {
    color: #0c66ff; }
  .action-bar .check {
    color: #0bb07b; }

.colorE33 {
  color: #cf2e33; }

.color874 {
  color: #686874; }

#theme_name #departManage {
  height: 100%; }
  #theme_name #departManage .departPosition, #theme_name #departManage .positionContent {
    height: 100%; }
    #theme_name #departManage .departPosition .mainTop, #theme_name #departManage .positionContent .mainTop {
      height: 40px;
      padding: 0 20px; }
      #theme_name #departManage .departPosition .mainTop span, #theme_name #departManage .positionContent .mainTop span {
        cursor: pointer;
        padding: 6px 40px;
        margin-right: 20px; }
      #theme_name #departManage .departPosition .mainTop .hover, #theme_name #departManage .positionContent .mainTop .hover {
        color: #ffffff; }
      #theme_name #departManage .departPosition .mainTop .add, #theme_name #departManage .positionContent .mainTop .add {
        width: 30px;
        height: 30px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        cursor: pointer;
        background-color: #CF2E33;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center; }
        #theme_name #departManage .departPosition .mainTop .add b, #theme_name #departManage .positionContent .mainTop .add b {
          padding-bottom: 6px;
          color: #ffffff;
          font-size: 30px; }
  #theme_name #departManage .departPosition .staffManage, #theme_name #departManage .departPosition .orgManage, #theme_name #departManage .positionContent .staffManage, #theme_name #departManage .positionContent .orgManage {
    height: 100%;
    min-height: 400px;
    padding-left: 60px; }
    #theme_name #departManage .departPosition .staffManage > div, #theme_name #departManage .departPosition .orgManage > div, #theme_name #departManage .positionContent .staffManage > div, #theme_name #departManage .positionContent .orgManage > div {
      float: left;
      margin-top: 60px;
      margin-right: 36px; }
  #theme_name #departManage .departPosition .staffManage > div, #theme_name #departManage .positionContent .staffManage > div {
    position: relative;
    cursor: pointer; }
    #theme_name #departManage .departPosition .staffManage > div p, #theme_name #departManage .positionContent .staffManage > div p {
      width: 58px;
      height: 58px;
      margin-right: 15px; }
      #theme_name #departManage .departPosition .staffManage > div p img, #theme_name #departManage .positionContent .staffManage > div p img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%; }
    #theme_name #departManage .departPosition .staffManage > div div h5, #theme_name #departManage .positionContent .staffManage > div div h5 {
      color: #d2d2d2;
      margin-top: 6px; }
  #theme_name #departManage .departPosition .orgManage > div, #theme_name #departManage .positionContent .orgManage > div {
    cursor: pointer;
    padding: 6px;
    width: 60px;
    height: 220px;
    border: 1px solid #686874;
    background-color: #f2f2f2;
    text-align: center; }
    #theme_name #departManage .departPosition .orgManage > div p, #theme_name #departManage .positionContent .orgManage > div p {
      height: 100%;
      padding: 10px 0;
      background-color: #ffffff;
      border: 1px solid #686874; }
  #theme_name #departManage .depart_visible {
    width: 88%;
    height: 100%;
    padding: 30px 0 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-between; }
    #theme_name #departManage .depart_visible .multi-input > div + div {
      margin-top: 20px; }
    #theme_name #departManage .depart_visible .multi-input .first {
      display: flex;
      display: -webkit-flex;
      align-items: center; }
      #theme_name #departManage .depart_visible .multi-input .first label {
        min-width: 30px;
        height: 30px;
        color: #CF2E33;
        border: 1px solid #CF2E33;
        border-radius: 50%;
        line-height: 24px;
        font-size: 30px;
        margin-left: 15px;
        cursor: pointer; }
  #theme_name #departManage .powerContent {
    padding: 0 60px;
    text-align: left; }
    #theme_name #departManage .powerContent .powerHead {
      margin: 20px 0 60px; }
      #theme_name #departManage .powerContent .powerHead .inputLabel {
        display: flex;
        display: -webkit-flex;
        align-items: center; }
        #theme_name #departManage .powerContent .powerHead .inputLabel h4 {
          width: 120px;
          margin-right: 10px; }
    #theme_name #departManage .powerContent .powerTabs {
      margin-bottom: 10px; }
      #theme_name #departManage .powerContent .powerTabs .childPower {
        padding: 0 10px;
        min-height: 30px; }
        #theme_name #departManage .powerContent .powerTabs .childPower span {
          cursor: pointer;
          margin-right: 30px; }
        #theme_name #departManage .powerContent .powerTabs .childPower .hover {
          color: #cf2e33; }
    #theme_name #departManage .powerContent .powerMain {
      height: 80%;
      min-height: 400px;
      padding: 40px 0;
      background-color: #ffffff; }
      #theme_name #departManage .powerContent .powerMain > div:first-child {
        padding: 0 40px; }
      #theme_name #departManage .powerContent .powerMain > div .el-checkbox-group {
        padding: 0 40px;
        border-left: 1px dashed #d2d2d2; }
        #theme_name #departManage .powerContent .powerMain > div .el-checkbox-group label {
          margin-bottom: 15px; }
  #theme_name #departManage .footerBtn.right {
    justify-content: flex-end;
    padding-right: 60px; }

/*# sourceMappingURL=departManage.css.map */
