@import "../../../common.scss";

#theme_name {
  #staffFiles {
    .dialog_container {
      .staffFiles {
        padding: 0 40px;
        @include flex('');
        .filesTop {
          @include flex();
          min-height: 60px;
          margin-bottom: 20px;
          text-align: right;
          justify-content: flex-end;
          h4.name {
            font-weight: bold;
            margin-bottom: 6px;
          }
          p {
            width: 60px;
            height: 60px;
            margin-left: 15px;
            position: relative;
            top: 10px;
            img {
              @include radius(50%);
            }
            b, i {
              position: absolute;
              top: -8px;
              right: -10px;
              width: 24px;
              height: 24px;
            }
          }
        }
        .filesMain {
          height: 100%;
          .mainLeft {
            p {
              width: 70px;
              height: 70px;
              padding: 13px 16px 16px;
              cursor: pointer;
              margin-bottom: 40px;
              background-color: $colorE33;
            }
            .hover {
              color: $colorFFF;
            }
          }
          .mainRight {
            width: 100%;
            min-height: 460px;
            padding: 40px;
            margin-left: 30px;
            position: relative;
            background-color: $colorFFF;
            overflow: auto;
            b {
              position: absolute;
              top: 30px;
              right: 30px;
              width: 30px;
              height: 30px;
              background-color: $colorE33;
              cursor: pointer;
            }
            .el-form {
              width: 100%;
              .info {
                width: 100%;
                padding: 0 20px;
                flex-wrap: wrap;
                > div {

                }
                .item_margin {
                  margin-top: 15px;
                }
              }
            }
            .grow {
              min-width: 590px;
              width: 50%;
              min-height: 150px;
              position: relative;
              background-color: #9CCC65;
              display: inline-block;
              i {
                display: inline-block;
                width: 8px;
                height: 8px;
                @include radius(50%);
                background-color: $color8D8;
              }
              > div {
                width: 100%;
                @include flex('justify-center');
                position: absolute;
                span {
                  position: absolute;
                  left: 49%;
                  height: 100px;
                  border-left: 1px solid $color8D8;
                  i {
                    position: absolute;
                    left: -4px;
                    background-color: $color8D8;
                  }
                }
                p {
                  white-space: nowrap;
                  cursor: pointer;
                  i {
                    background-color: $colorE33;
                  }
                }
              }
              .tops {
                top: -120px;
                span {
                  top: 30px;
                  i {
                    top: 0;
                  }
                }
              }
              .bottoms {
                bottom: -120px;
                span {
                  top: -110px;
                  i {
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
      .staff-line {
        width: 100%;
        cursor: pointer;
        .left-line {
          width: 10%;
          text-align: center;
          height: 100px;
          i {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #999999;
            border-radius: 50%;
          }
          div {
            width: 2px;
            height: 100px;
            background-color: #999999;
            margin: 0 auto;
            position: relative;
            top: -5px;
            z-index: -1;
          }
        }
        .right-content {
          width: 90%;
          text-align: left;
          > p:last-child {
            margin-top: 10px;
          }
        }
        &:hover {
          .right-content {
            color: $colorE33;
          }
          .left-line {
            i {
              background-color: $colorE33;
            }
          }
        }
      }
    }
  }
}

#theme_name.theme1 {
  #staffFiles {

  }
}

#theme_name.theme2 {
  #staffFiles {

  }
}

#theme_name.theme3 {
  #staffFiles {

  }
}

#theme_name.theme4 {
  #staffFiles {

  }
}
