@import "../../../common.scss";
#theme_name{
  #club{
    width: 100%;
    .mainList{
      width: 100%;
      padding-top: 30px;
      padding-left: 175px;
      padding-right: 175px;
      .club-lists{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .club-lists-info{
          width: 50%;
          padding: 20px 30px;
          .club-box{
            width: 100%;
            background: #FFFFFF;
            position: relative;
            border-radius: 8px;
            cursor: pointer;
            .club-box-top{
              width: 100%;
              img{
                width: 100%;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
              }
            }
            .club-box-middle{
              width: 100%;
              padding-left: 30px;
              padding-top:20px ;
              padding-bottom: 20px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              div:first-child{
                p:first-child{
                  font-family: jingDianXingShu;
                  font-size: 28px;
                  color:#686874
                }
                p:last-child{
                  margin-top: 10px;
                  span{
                    font-size: 14px;
                    color:#999999;
                  }
                }
              }

              div:last-child{
                span{
                  padding: 6px 20px;
                  font-family: jingDianXingShu;
                  font-size: 26px;

                }
              }

            }
            .club-box-bottom{
              width: 100%;
              padding: 10px 30px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              border-top: 1px solid #F0F0F0;
              span{
                color: #999999;
                font-size: 14px;
                display: flex;
                flex-direction: row;
                align-items: center;
                i{
                  font-style: normal;
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  margin-right: 6px;
                }
              }
              span:last-child{
                i:first-child{
                  width: 100px;
                  height: 30px;
                  text-align: center;
                  line-height: 30px;
                }
              }
            }
            .club-modal{
                width: 100%;
                height: 100%;
                border-radius: 8px;
                position: absolute;
                top:0;
                left:0;
                background:rgba(0,0,0,1);
                opacity: .5;



            }
          }
        }

      }

    };

    .action_info {
      width: 100%;

      > div {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  ;

    .action_name {
      border-bottom: 1px solid #F2F2F2;
      width: 92%;
      height: 80px;

      div {
        line-height: 80px;
        display: inline-block;
      }

      .action_left {
        font-family: "MicrosoftYaHei-Bold";
        color: rgba(104, 104, 116, 1);
        font-weight: bold;

      }

      .action_right {
        margin-left: 100px;
      }

      .action_address {
        padding-top: 20px;
        line-height: 24px;
        border-bottom: 0;
      }


    }
  ;

    .top_right_img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-family: "jingDianXingShu";
        color: rgba(255, 255, 255, 1);
        font-size: 17px;
        margin-top: 6px;
      }
    }
  }

}