.flex {
  display: flex;
  display: -webkit-flex;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf");
}
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF");
}
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf");
}
/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('/static/font/JDJXINSHU.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('/static/font/ITCAVANTGARDESTD-MD.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('/static/font/BaiZhouRenZhe.otf');
}*/
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll_bar {
  overflow: auto;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: #e4e7ed;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}
.action-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-bar .check-count {
  margin-left: 30px;
  margin-right: 50px;
}
.action-bar .check-count i {
  font-style: normal;
  color: #ff4545;
}
.action-bar .action-bar-name {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.action-bar .action-bar-name span {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.action-bar .action-bar-name span:first-child {
  border-left: 0;
}
.action-bar .delete {
  color: #ff4545;
}
.action-bar .edit {
  color: #0c66ff;
}
.action-bar .check {
  color: #0bb07b;
}

.colorE33 {
  color: #cf2e33;
}

.color874 {
  color: #686874;
}

#theme_name #file .InternalRegulations-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#theme_name #file .InternalRegulations-info .right-info {
  width: 100%;
  height: 100%;
  background: #F8F8F8;
  position: relative;
}
#theme_name #file .InternalRegulations-info .right-info > div {
  z-index: 110;
  height: 540px;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list {
  width: 20%;
  padding: 30px;
  padding-top: 0;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list .right-info-box .word_icon {
  display: block;
  width: 80px;
  height: 80px;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list .right-info-box p {
  margin-top: 6px;
  margin-bottom: 6px;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list .right-info-box p:first-child {
  width: 192px;
  height: 192px;
  background: #ffffff;
  position: relative;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list .right-info-box p:first-child:hover {
  border: 1px solid #CF2E33;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list .right-info-box p:first-child span {
  position: absolute;
  top: -30px;
  right: 0px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background: #CF2E33;
  border-radius: 5px;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list .right-info-box p:first-child span i {
  font-size: 14px;
  font-style: normal;
  display: inline-block;
  height: 20px;
  padding: 0 20px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list .right-info-box p:first-child span i:hover {
  color: #CF2E33;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list .right-info-box p:nth-child(2) {
  color: #7B7B7B;
}
#theme_name #file .InternalRegulations-info .right-info > div .right-info-list .right-info-box p:last-child {
  color: #BDBDBD;
}
#theme_name #file .InternalRegulations-info .right-info .bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 360px;
  z-index: 11;
}
#theme_name #file .InternalRegulations-info .add-icons {
  position: absolute;
  top: 30px;
  right: 130px;
  width: 30px;
  height: 30px;
  background: #CF2E33;
  color: #ffffff;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}
#theme_name #file .InternalRegulations-info .add-icons span {
  display: block;
  line-height: 26px;
}
#theme_name #profile_video_back .video-lists {
  width: 100%;
  height: 100%;
  padding-left: 175px;
  padding-right: 175px;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#theme_name #profile_video_back .video-lists .video-list-info {
  width: 33.33%;
  height: 420px;
  margin-bottom: 30px;
  padding: 20px;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box {
  width: 480px;
  background-color: #ffffff;
  border-radius: 8px;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-top {
  width: 100%;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-top video {
  width: 100%;
  height: 300px;
  object-fit: fill;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-top .video-start-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-top .video-modal {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-bottom {
  width: 100%;
  height: 120px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-bottom .title {
  font-family: jingDianXingShu;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-bottom .time {
  font-size: 16px;
  color: #D2D2D2;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-bottom .btn {
  display: inline-block;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-bottom .btn i {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#theme_name #profile_video_back .video-lists .video-list-info .video-box .video-box-bottom .btn i:nth-child(1) {
  margin-right: 20px;
}

/*# sourceMappingURL=common.css.map */
