@import '../common.scss';

@mixin menuImg($m, $n) {
  $url: '../../assets/image/workInfo/' + $n + '/' + $m;
  @include bgImage($url);
}

#workInfo {
  .info_container {
    padding-top: 20px;
    position: relative;
    .info_container {
      .date_change {
        li {
          line-height: 32px;
          font-size: 18px;
        }
      }
      .day_info {
        & > div {
          width: 25%;
          min-height: 350px;
          padding-left: 30px;
          margin: 0 10px;
        }
        & > div > p {
          font-size: 16px;
        }
      }
    }
  }
}

#theme_name.theme1 {
  #workInfo {
    .info_container {
      .date_change {
        li {
          color: #999999;
          background-color: $colorFDF;
        }
        .mark_li {
          background-color: $colorE33;
          color: white;
        }
      }
    }
  }
}

#theme_name.theme2 {
  #workInfo {
    .info_container {
      .date_change {
        li {
          color: #00ffff;
          @include menuImg('kf_bz.png', 'theme2');
        }
        .mark_li {
          color: #ff0089;
          @include menuImg('kf_dr.png', 'theme2');
        }
      }
    }
  }
}
