@import '../common.scss';


#workInfo {
  .info_container {
    padding-top: 20px;
    position: relative;
    .info_container {
      .date_change {
        li {
          line-height: 32px;
          font-size: 18px;
        }
      }
      .day_info {
        & > div {
          width: 25%;
          min-height: 350px;
          padding-left: 30px;
          margin: 0 10px;
        }
        & > div > p {
          font-size: 16px;
        }
      }
    }
  }
}
