@import "../../../../common.scss";
#theme_name {
  #excellentStaff{
    width: 100%;
    height: 100%;
    .staff_info {
      width: 100%;
      height: 100%;
      padding-top: 80px;

      .staff_list_top {
        width: 324px;
        height: 98px;
        margin: 0 auto;
        text-align: center;

        span {
          color: #ffffff;
          font-family: jingDianXingShu;
          line-height: 98px;
          font-size: 30px;
          letter-spacing: 2px;
        }
      }

      .staff_list_info {
        width: 100%;
        padding-left: 200px;
        padding-right: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        .staff_box{
          width: 25%;
          padding: 30px;
          text-align: center;
          //display: flex;
          //flex-direction: column;
          //justify-content: center;
          .staff_box_info{
            >p{
              width: 314px;
              text-align: center;
              span{
                margin-right:10px;
              }
            }

            >div {
              width: 314px;
              height: 377px;
              cursor: pointer;
              position: relative;
              .img-modal{
                width: 216px;
                height: 309px;
                background: rgba(0, 0, 0, 0.6);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                span{
                  display: block;
                  width: 76px;
                  height: 76px;
                  border-radius: 50%;
                }

              }
              img {
                width: 216px;
                height: 309px;
              }

            }
          }



        }


      }

    }
  }
}
