@import "../../common.scss";

#theme_name {
  .militaryOrganization {
    height: 100%;
    > div {
      height: 100%;
      .main-nav {
        padding: 15px 0;
        > span {
          padding: 5px 30px;
          margin: 0 10px;
          cursor: pointer;
          font-size: 14px;
        }
      }
      .main-container {
        width: 100%;
        height: calc(100% - 131px);
        background-color: $color9F9;
        position: relative;
        //固定右边向导
        .guidance {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          > div {
            width: 100px;
            height: 200px;
          }
          .subject {
            position: relative;
            .title {
              width: 50px;
              height: 120px;
              text-align: center;
              cursor: pointer;
              border: 1px solid $color0C0;
              > span {
                display: inline-block;
                height: 90%;
                padding: 8px;
                font-size: 22px;
                line-height: 1;
                border: 1px solid $color0C0;
                color: $color874;
                font-family: 'jingDianXingShu';
                background-color: white;
              }
            }
            .line {
              width: 50px;
              height: 2px;
              background-color: $color0C0;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        //  内容
        .content {
          width: 60%;
          height: 500px;
          margin: 0 auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          > div {
            height: 100%;
          }
          .left-guide {
            width: 40%;
            padding: 100px 50px;
            justify-content: space-between;
            flex-direction: column;
            > div {
              width: 100px;
              height: 100px;
              text-align: center;
              cursor: pointer;
              span {
                display: inline-block;
                width: 70%;
                height: 55%;
                font-size: 28px;
                line-height: 1;
                font-family: 'jingDianXingShu';
              }
            }
          }
          .right-content {
            width: 60%;
            height: 100%;
            justify-content: flex-start;
            .list {
              width: 100px;
              height: 95%;
              border-right: 1px solid $colorFDF;
              margin-right: 2px;
              text-align: center;
              cursor: pointer;
              padding: 0 15px;
              > div {
                height: 50%;
              }
              .content-top {
                > span {
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  font-family: 'jingDianXingShu';
                  position: relative;
                  line-height: 30px;
                  margin-top: 5px;
                  &:before {
                    content: '';
                    position: absolute;
                    top: 0; right: 0; bottom: 0; left: 0;
                    z-index: -1;
                    border: 2px solid $colorE33;
                    transform: rotateZ(45deg);
                  }
                }
                > div {
                  margin-top: 20px;
                  padding-top: 30px;
                  > span:first-child {
                    font-size: 12px;
                    vertical-align: top;
                    padding-top: 5px;
                  }
                  > span:last-child {
                    font-family: 'jingDianXingShu';
                    font-size: 22px;
                    vertical-align: top;
                  }
                }
              }
              .content-bottom {
                > span {
                  margin-top: 80px;
                  font-family: 'jingDianXingShu';
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
      .train_management {
        .icons {
          width: 28px;
          height: 28px;
          background-color: $colorE33;
          @include radius(5px);
          margin-left: 75%;
          cursor: pointer;
        }
        .add {
          @include flex('flex-center');
          b {
            color: $colorFFF;
            font-size: 30px;
            padding-bottom: 6px;
          }
        }
        .edit_btn,.delete_btn {
          cursor: pointer;
        }
        .edit_btn {
          color: $colorE33;
        }
        .dialog_main {
          position: relative;
        }
        .new_train {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50px;
          background-color: rebeccapurple;
        }
      }
    }
  }
}
