@import "../../common.scss";

#theme_name {
  #budgetStream {
      .bank-run-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >div{
          width: calc(100%/7);
          padding: 20px;

          .bank-run-info{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            i{
              display: block;
              width: 60px;
              height: 80px;
            }
          }
        }

      }
  }
}

#theme_name.theme1 {
  #budgetStream {

  }
}

#theme_name.theme2 {
  #budgetStream {

  }
}

#theme_name.theme3 {
  #budgetStream {

  }
}

#theme_name.theme4 {
  #budgetStream {

  }
}
