@import '../../common.scss';

#theme_name.theme1 {
  #approval {
    #approval_list {
      display: flex;
      flex-direction: column;
      /*上面按钮*/
      .top-btn {
        display: flex;
        flex-direction: row;

        .left-text {
          .el-tabs {
            .el-tabs__item {
              background: none;
              font-size: 14px;
              font-family: 'MicrosoftYaHei';
              color: rgba(210, 210, 210, 1);
              line-height: 19px;
              margin: 0;
            }

            .el-tabs__item.is-active {
              background: none;
              font-size: 14px;
              font-family: 'MicrosoftYaHei';
              color: rgba(207, 46, 51, 1);
              line-height: 19px;
            }

            .el-tabs__active-bar {
              background-color: #B9292D;
            }
          }
        }

        .right-btn {

        }
      }

      /*下面列表*/
      .main-list {

      }
    }
  }
}
