.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 4px; }

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2; }
  .action-bar div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .action-bar .check-count {
    margin-left: 30px;
    margin-right: 50px; }
    .action-bar .check-count i {
      font-style: normal;
      color: #ff4545; }
  .action-bar .action-bar-name {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .action-bar .action-bar-name span {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #9b9b9b;
      font-size: 18px;
      padding: 0 10px;
      cursor: pointer; }
    .action-bar .action-bar-name span:first-child {
      border-left: 0; }
  .action-bar .delete {
    color: #ff4545; }
  .action-bar .edit {
    color: #0c66ff; }
  .action-bar .check {
    color: #0bb07b; }

.colorE33 {
  color: #cf2e33; }

.color874 {
  color: #686874; }

#attence_dialog #lj_dialog .dialog_container .dialog_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 0px 30px; }
  #attence_dialog #lj_dialog .dialog_container .dialog_header .personMsg {
    margin-right: 1065px; }
    #attence_dialog #lj_dialog .dialog_container .dialog_header .personMsg .name {
      height: 20px;
      font-size: 15px;
      font-family: MicrosoftYaHei;
      color: #686874;
      letter-spacing: 1px; }
    #attence_dialog #lj_dialog .dialog_container .dialog_header .personMsg .time {
      height: 20px;
      font-size: 7px;
      font-family: MicrosoftYaHei;
      color: #686874; }
  #attence_dialog #lj_dialog .dialog_container .dialog_header .rili {
    width: 15px;
    height: 13px; }
#attence_dialog #lj_dialog .dialog_container .dialog_main {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  #attence_dialog #lj_dialog .dialog_container .dialog_main .calendar_container {
    width: 1100px; }
    #attence_dialog #lj_dialog .dialog_container .dialog_main .calendar_container .calendar-days-item {
      width: 100%;
      height: 100%;
      user-select: none;
      display: flex;
      background-color: #f9f9f9;
      justify-content: flex-start; }
      #attence_dialog #lj_dialog .dialog_container .dialog_main .calendar_container .calendar-days-item.rest {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="100%" y1="0" x2="0" y2="100%" style="stroke:rgb(228,228,228);stroke-width:1"/></svg>'); }
      #attence_dialog #lj_dialog .dialog_container .dialog_main .calendar_container .calendar-days-item.current {
        color: white;
        background-color: #cf2e33; }
      #attence_dialog #lj_dialog .dialog_container .dialog_main .calendar_container .calendar-days-item .days-item-content-container {
        padding: 10% 0 0 10%; }
        #attence_dialog #lj_dialog .dialog_container .dialog_main .calendar_container .calendar-days-item .days-item-content-container .days-item-content-date {
          font-size: 18px; }
  #attence_dialog #lj_dialog .dialog_container .dialog_main .attenceInfo {
    margin-top: 100px; }
    #attence_dialog #lj_dialog .dialog_container .dialog_main .attenceInfo > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #attence_dialog #lj_dialog .dialog_container .dialog_main .attenceInfo > div .title > h3 {
        height: 35px;
        display: flex;
        justify-content: flex-end;
        font-family: MicrosoftYaHei;
        font-size: 8px;
        color: #d2d2d2; }
      #attence_dialog #lj_dialog .dialog_container .dialog_main .attenceInfo > div .value {
        margin-left: 10px; }
        #attence_dialog #lj_dialog .dialog_container .dialog_main .attenceInfo > div .value > h3 {
          height: 35px;
          display: flex;
          justify-content: flex-start;
          font-family: MicrosoftYaHei;
          font-size: 8px;
          color: #686874; }
    #attence_dialog #lj_dialog .dialog_container .dialog_main .attenceInfo .submitButton {
      width: 120px;
      height: 40px;
      margin-top: 200px;
      display: flex;
      justify-content: center;
      background-color: #cf2e33;
      color: white;
      font-family: PingFangSC-Regular;
      border-radius: 4px;
      font-size: 18px;
      line-height: 13px;
      letter-spacing: 2px; }
#attence_dialog #lj_dialog .warining_container {
  margin-top: 10px; }
  #attence_dialog #lj_dialog .warining_container .warining_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #attence_dialog #lj_dialog .warining_container .warining_header .wariningIcon {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      border: 3px solid #fec000;
      color: #fec000; }
    #attence_dialog #lj_dialog .warining_container .warining_header .wariningText {
      margin-top: 10px;
      font-size: 22px;
      font-family: MicrosoftYaHei;
      color: #fec000; }
  #attence_dialog #lj_dialog .warining_container .warining_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 52px; }
    #attence_dialog #lj_dialog .warining_container .warining_body > h3 {
      font-size: 15px;
      font-family: MicrosoftYaHei;
      color: #686874; }
