@import "../../../common.scss";
#theme_name {
    
  }
#theme_name.theme1 {
  #dataBase {
    .main-nav {
      margin-left: 50px;
      padding: 15px 0;
      >span {
        padding: 5px 30px;
        margin: 0 10px;
        cursor: pointer;
        font-size: 14px;
      }
    }
    .dataBase-container {
    
    }
  }
}

#theme_name.theme2 {
  #dataBase {

  }
}

#theme_name.theme3 {
  #dataBase {

  }
}

#theme_name.theme4 {
  #dataBase {

  }
}
