@import "../../../common.scss";
#theme_name {
    
  }
#theme_name.theme1 {
  #dataBase {
    .main-nav {
      margin-left: 50px;
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      .dataBase-left{
        >span {
          padding: 5px 30px;
          margin: 0 10px;
          cursor: pointer;
          font-size: 14px;
        }
        .isActive{
          color: white;
        }
      }
      .dataBase-right{
        >span {
          width: 31px;
          height: 58px;
          padding: 5px 30px;
          margin: 0 10px;
          cursor: pointer;
          font-size: 14px;
        }
        .isActive{
          color: white;
        }
      }
    }
    .dataBase-container {
      .contractNumber{
        width: 1799px;
        height: 100%;
        margin: 0 60px 0 61px;
        .contractNumberTop{
          width: 1799px;
          height: 489px;
        }
        .contractNumberBottom{
          width: 1799px;
          height: 318px;
          margin-top: 39px;
        }
      }
      .contractNumberEdit{

      }
    }
  }
}

#theme_name.theme2 {
  #dataBase {

  }
}

#theme_name.theme3 {
  #dataBase {

  }
}

#theme_name.theme4 {
  #dataBase {

  }
}
