.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

#theme_name #overView .header_right {
  display: flex;
  flex-direction: row-reverse; }
  #theme_name #overView .header_right .icon-add {
    width: 30px;
    height: 30px;
    display: inline-block;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #CF2E33; }
    #theme_name #overView .header_right .icon-add b {
      color: #FFFFFF;
      font-size: 30px;
      margin-bottom: 6px; }
#theme_name #overView .mainListTable a {
  cursor: pointer; }
#theme_name #overView footer.common-page {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: 6; }
  #theme_name #overView footer.common-page .develop {
    position: absolute;
    top: -30px;
    width: 80px;
    cursor: pointer;
    height: 30px;
    opacity: 1;
    border-radius: 10px 10px 0 0;
    background-color: #F2F2F2; }
#theme_name #overView .qr-code {
  width: 30px;
  height: 30px;
  margin-left: 27px;
  cursor: pointer; }
#theme_name #overView .dialog_container .choose-goods .choose-goods-icon {
  cursor: pointer;
  width: 20px;
  height: 16px; }
#theme_name #overView .dialog_container.choose-goods-table-detail .close-btn-container {
  position: absolute;
  left: 40px;
  bottom: 220px; }
#theme_name #overView .qr-container {
  background-color: #fff;
  padding: 15px; }
  #theme_name #overView .qr-container .qr-code-large {
    width: 300px;
    height: 300px; }
  #theme_name #overView .qr-container > :last-child {
    padding: 15px; }
#theme_name #overView .repository-overview .lj-header-search .el-icon-search {
  position: absolute;
  top: 7px;
  right: 195px; }
#theme_name #overView .repository-overview .lj-header-search input {
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 220px;
  height: 28px;
  padding: 2px 12px 2px 32px; }

/*# sourceMappingURL=index.css.map */
