.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

#theme_name #houseManagement > div .header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 81px;
  left: 0;
  z-index: 10; }
  #theme_name #houseManagement > div .header span.btn {
    display: inline-block;
    width: 42px;
    height: 50px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer; }
  #theme_name #houseManagement > div .header span.title {
    margin-left: 20px;
    font-size: 30px; }
  #theme_name #houseManagement > div .header span.set, #theme_name #houseManagement > div .header span.search {
    width: 30px;
    height: 30px;
    cursor: pointer; }
  #theme_name #houseManagement > div .header span.search {
    margin: 0 35px; }
#theme_name #houseManagement > div .house_info {
  height: 100%; }
  #theme_name #houseManagement > div .house_info > div {
    width: 100%; }
  #theme_name #houseManagement > div .house_info .base_info {
    padding: 10px; }
    #theme_name #houseManagement > div .house_info .base_info > div {
      width: 100%;
      padding: 30px; }
    #theme_name #houseManagement > div .house_info .base_info .house_photo > div {
      width: 100%; }
    #theme_name #houseManagement > div .house_info .base_info .house_photo .big_img {
      position: relative; }
      #theme_name #houseManagement > div .house_info .base_info .house_photo .big_img > img {
        width: 100%;
        min-width: 520px;
        max-height: 230px; }
      #theme_name #houseManagement > div .house_info .base_info .house_photo .big_img .sijiao {
        width: 101%;
        height: 101%;
        position: absolute;
        top: -2px;
        left: -1px; }
    #theme_name #houseManagement > div .house_info .base_info .house_photo .small_img {
      position: relative;
      cursor: pointer;
      margin-top: 10px;
      overflow: hidden;
      min-height: 70px; }
      #theme_name #houseManagement > div .house_info .base_info .house_photo .small_img .img_container {
        position: absolute;
        top: 0;
        left: 0;
        transition: all ease .5s; }
        #theme_name #houseManagement > div .house_info .base_info .house_photo .small_img .img_container > img {
          max-width: 120px;
          max-height: 70px;
          margin-right: 10px; }
      #theme_name #houseManagement > div .house_info .base_info .house_photo .small_img .btn {
        width: 20px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        line-height: 30px;
        color: white;
        opacity: 0;
        transition: all ease .2s; }
      #theme_name #houseManagement > div .house_info .base_info .house_photo .small_img .left_btn {
        left: 0; }
      #theme_name #houseManagement > div .house_info .base_info .house_photo .small_img .right_btn {
        right: 0; }
      #theme_name #houseManagement > div .house_info .base_info .house_photo .small_img:hover .btn {
        opacity: 1; }
    #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .title {
      height: 30px; }
      #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .title > div {
        width: 100%; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .title > div > span {
          margin-right: 20px; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .title > div .address {
          font-size: 18px; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .title > div .mark {
          width: 20px;
          height: 20px;
          vertical-align: middle; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .title > div .look {
          display: inline-block;
          width: 25px;
          height: 20px;
          vertical-align: middle;
          cursor: pointer; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .title > div .status {
          font-size: 16px;
          color: red;
          font-weight: bold; }
    #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .h_type {
      margin: 20px 0; }
      #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .h_type .info {
        padding: 5px 0; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .h_type .info > span {
          font-size: 14px;
          padding: 0 15px;
          border-right: 2px solid #ACACAC; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .h_type .info > span:first-child {
          padding-left: 0; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .h_type .info > span:last-child {
          border: none; }
      #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .h_type .le_text {
        text-align: left; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .easy_info .h_type .le_text > span {
          font-size: 14px; }
    #theme_name #houseManagement > div .house_info .base_info .house_detail .deploy {
      text-align: left; }
      #theme_name #houseManagement > div .house_info .base_info .house_detail .deploy > h3 {
        font-size: 14px;
        font-weight: bold; }
      #theme_name #houseManagement > div .house_info .base_info .house_detail .deploy .deploy_info {
        width: 100%;
        margin-top: 20px;
        flex-wrap: wrap; }
        #theme_name #houseManagement > div .house_info .base_info .house_detail .deploy .deploy_info > span {
          margin-right: 25px;
          margin-top: 20px; }
          #theme_name #houseManagement > div .house_info .base_info .house_detail .deploy .deploy_info > span > span {
            width: 40px;
            height: 40px;
            text-align: center; }
            #theme_name #houseManagement > div .house_info .base_info .house_detail .deploy .deploy_info > span > span > i {
              width: 40px;
              height: 40px; }
          #theme_name #houseManagement > div .house_info .base_info .house_detail .deploy .deploy_info > span > b {
            font-size: 14px; }
  #theme_name #houseManagement > div .house_info .table_info > div {
    width: 100%; }
  #theme_name #houseManagement > div .house_info .table_info .info_type {
    padding: 10px 0; }
    #theme_name #houseManagement > div .house_info .table_info .info_type > span {
      width: 100%;
      padding: 8px 30px;
      cursor: pointer;
      font-size: 14px; }
  #theme_name #houseManagement > div .house_info .table_info .table_list {
    padding: 0 20px; }

#theme_name.theme1 #houseManagement .header {
  background-color: #FFFFFF; }
  #theme_name.theme1 #houseManagement .header span.btn {
    background-color: #DFDFDF; }
  #theme_name.theme1 #houseManagement .header span.title {
    color: #CF2E33;
    font-family: 'jingDianXingShu'; }

/*# sourceMappingURL=index.css.map */
