@import "../../../common.scss";


.main-container {
  width: 100%;
  height: calc(100% - 131px);
  background-color: $color9F9;
  position: absolute;
  left: 0;
  top: 131px;
  transition: all ease 1s;

  .guidance {

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    > div {
      width: 100px;
      height: 200px;
    }

    .subject {
      position: relative;

      .title {
        width: 50px;
        height: 120px;
        text-align: center;
        cursor: pointer;
        border: 1px solid $color0C0;

        > span {
          display: inline-block;
          height: 90%;
          padding: 8px;
          font-size: 22px;
          line-height: 1;
          border: 1px solid $color0C0;
          color: $color874;
          font-family: 'jingDianXingShu';
          background-color: white;
        }
      }

      .line {
        width: 50px;
        height: 2px;
        background-color: $color0C0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .content {
    width: 60%;
    height: 580px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    > div {
      height: 100%;
    }

    .left-guide {
      width: 40%;
      padding: 100px 50px;
      justify-content: space-between;
      flex-direction: column;

      > div {
        width: 100px;
        height: 100px;
        text-align: center;
        cursor: pointer;

        span {
          display: inline-block;
          width: 70%;
          height: 55%;
          font-size: 28px;
          line-height: 1;
          font-family: 'jingDianXingShu';
        }
      }
    }

    .right-content {
      width: 60%;
      height: 100%;
      justify-content: flex-start;

      .list {
        width: 100px;
        height: 95%;
        border-right: 1px solid $colorFDF;
        margin-right: 2px;
        text-align: center;
        cursor: pointer;
        padding: 0 15px;

        > div {
          height: 50%;
        }

        .content-top {
          > span {
            display: inline-block;
            width: 30px;
            height: 30px;
            font-family: 'jingDianXingShu';
            position: relative;
            line-height: 30px;
            margin-top: 5px;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: -1;
              border: 2px solid $colorE33;
              transform: rotateZ(45deg);
            }
          }

          > div {
            margin-top: 20px;
            padding-top: 30px;

            > span:first-child {
              font-size: 12px;
              vertical-align: top;
              padding-top: 5px;
            }

            > span:last-child {
              font-family: 'jingDianXingShu';
              font-size: 22px;
              vertical-align: top;
            }
          }
        }

        .content-bottom {
          > span {
            margin-top: 80px;
            font-family: 'jingDianXingShu';
            font-size: 22px;
          }
        }
      }
    }
  }
}

.exam-container {
  //transform: translateX(100%);

  .content {
    .guidance {
      width: 200px;
      position: absolute;
      left: -100px;
      top: 60%;
    }

    .contain {
      width: 80%;
      height: 90%;
      margin: 0 auto;
      text-align: center;
      transition: all ease 1s;

      .question-paper {
        width: 85%;

        > div {
          width: 80px;
          height: 100%;
          font-family: 'jingDianXingShu';
          @include flex('flex-center');
          flex-direction: column;

          > div {
            height: 40%;
            width: 100%;
            //background-color: red;
            margin-top: 10%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-size: 26px;
            font-family: 'jingDianXingShu';
            cursor: pointer;
            width: 100%;

            &.question-paper-name {
              display: flex;
              align-items: flex-start;
              padding-top: 20px;
              >span {
                display: inline-block;
                height: 100%;
                text-align: start;
              }
            }

            &.question-paper-category-name {
              display: flex;
              align-items: flex-end;
              padding-bottom: 20px;
            }
            &:nth-child(2) {
              margin-bottom: 10%;
            }
            span {
              display: inline-block;
              width: 26px;
              display: flex;
              justify-content: flex-start;
              //width: 26px;
              overflow: hidden;
              font-family: 'jingDianXingShu';
            }
          }

          &:hover {
            color: $colorE33;
          }
        }

        .exam_span {
          vertical-align: top;

          > span {
            font-family: 'jingDianXingShu';

            &:first-child {
              font-size: 12px;
            }

            &:last-child {
              font-size: 26px;
            }
          }
        }
      }

      .exam-paper {
        width: 85%;
        .exam-paper-container {
          width: 80px;
          height: 100%;
          font-family: 'jingDianXingShu';
          //@include flex('flex-center');
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;

          > div {
            height: 50%;
            width: 100%;
            flex: none;
            font-size: 26px;
            font-family: 'jingDianXingShu';
            cursor: pointer;

            &:first-child {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              padding-top: 50px;
            }
          }

          .exam_span {
            vertical-align: top;
            /*display: flex;
            align-items: flex-start;
            justify-content: center;*/
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-top: 30px;
            > span {

              font-family: 'jingDianXingShu';

              &:first-child {
                font-size: 12px;
              }

              &:last-child {
                font-size: 26px;
              }
            }
          }
          .exam-paper-status{
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              font-family: jingDianXingShu;
            }
          }


          &:hover {
            color: $colorE33;
          }
        }


      }

      .exam-control {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 15%;
        flex-direction: column;

        > div {
          width: 40px;
          height: 120px;
          text-align: center;
          cursor: pointer;
          color: white;
          @include flex('flex-center');

          &:first-child {
            margin-bottom: 100px;
          }

          > span {
            display: inline-block;
            min-height: 70px;
            text-align-last: justify;
          }
        }
      }
    }
  }


  .time_over {
    color: $colorE33;
    font-size: 18px;
  }

  .exam_detail_control {
    position: relative;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $color874;

    button {
      margin-right: 30px;
    }

    .edit-container {
      display: inline-block;
      //padding-right: 20px;
      //margin-left: 30px;
      .icon-edit {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }

  .text_color {
    margin-left: 15px;
    cursor: pointer;
    color: $colorE33;
  }
}


