@import "../../../common.scss";

#theme_name {
  .train {
    .listTopCss {
      height: 0;
      .search-toolbar {
        position: fixed;
        top: 106px;
        right: 70px;
        height: 30px;
        @include flex('justify-end');
        width: 40%;
        > div {
          width: 30px;
          height: 30px;
          //  margin-right: 50px;
        }
      }
    }

    .main-nav {
      padding: 15px 0;

      .isActive {
        color: white;
      }

      > span {
        padding: 5px 30px;
        margin: 0 10px;
        cursor: pointer;
        font-size: 14px;
      }
    }

    .subject-train {
      transform: translateX(-100%);
      z-index: 1;
    }

    .exam-setting {
      transform: translateX(0);
      z-index: 2;
    }
  }
}
