@import "../common.scss";

#theme_name {
  #leJiaCollege {
    .mainList {
      .leJiaCollege-menu {
        padding-right: 230px;
        padding-left: 230px;
        padding-top: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .leJiaCollege-menu-info {
          width: 14.28%;
          height: auto;

          >div{
            width: 100px;
            height: 300px;
            cursor: pointer;

            span{
              font-family: jingDianXingShu;

            }
            span:nth-child(1){
              color:#D2D2D2;
              font-size: 12px;
              margin-right: 2px;
            }
            span:nth-child(2){
              color:#686874;
              font-size:24px;


            }
          }



        }
      }
    }

    .listTopRight{
      >div{
        background: #cf2e33;
        border-radius: 4px;
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        b{
          display: inline-block;
          font-size: 14px;
          color:#ffffff

        }
      }

    }
  }
}
