.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

#theme_name #recruitment {
  height: 100%;
  background-color: #FFFFFF; }
  #theme_name #recruitment .departList .mainList {
    margin: 100px 200px 0; }
    #theme_name #recruitment .departList .mainList p {
      height: 480px;
      width: 100%;
      margin: 0 30px;
      padding: 90px 0 60px;
      text-align: center;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      transform: rotateY(-180deg);
      transition: transform 1s;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden; }
      #theme_name #recruitment .departList .mainList p:hover {
        cursor: pointer;
        color: #CF2E33; }
      #theme_name #recruitment .departList .mainList p span {
        font-family: 'jingDianXingShu';
        font-size: 30px; }
    #theme_name #recruitment .departList .mainList p:nth-child(1) {
      transition-delay: 0.1428571429s;
      -webkit-transition-delay: 0.1428571429s; }
    #theme_name #recruitment .departList .mainList p:nth-child(2) {
      transition-delay: 0.2857142857s;
      -webkit-transition-delay: 0.2857142857s; }
    #theme_name #recruitment .departList .mainList p:nth-child(3) {
      transition-delay: 0.4285714286s;
      -webkit-transition-delay: 0.4285714286s; }
    #theme_name #recruitment .departList .mainList p:nth-child(4) {
      transition-delay: 0.5714285714s;
      -webkit-transition-delay: 0.5714285714s; }
    #theme_name #recruitment .departList .mainList p:nth-child(5) {
      transition-delay: 0.7142857143s;
      -webkit-transition-delay: 0.7142857143s; }
    #theme_name #recruitment .departList .mainList p:nth-child(6) {
      transition-delay: 0.8571428571s;
      -webkit-transition-delay: 0.8571428571s; }
    #theme_name #recruitment .departList .mainList p:nth-child(7) {
      transition-delay: 1s;
      -webkit-transition-delay: 1s; }
  #theme_name #recruitment .departList .mainListHover p {
    transform: rotateY(0); }
  #theme_name #recruitment .dialog_container .dialog_header span {
    font-size: 24px; }
  #theme_name #recruitment .dialog_container .dialog_main .depart_visible {
    width: 88%;
    height: 100%;
    padding: 30px 0 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-between; }
  #theme_name #recruitment .dialog_container .footerBtn {
    margin-bottom: 40px; }

/*# sourceMappingURL=index.css.map */
