@import "../../common.scss";

#theme_name {
  #recruitment {
    height: 100%;
    background-color: $colorFFF;
    .departList {
      .mainList {
        margin: 100px 240px 0;
        p {
          height: 480px;
          width: 130px;
          padding: 90px 0 60px;
          text-align: center;
          @include radius(4px);
          transform: rotateY(-180deg);
          transition: transform 1s;
          @include backFace;
          &:hover {
            cursor: pointer;
            color: $colorE33;
          }
          span {
            font-family: 'jingDianXingShu';
            font-size: 30px;
          }
        }
        @for $i from 1 through 7 {
          p:nth-child(#{$i}) {
            @include delay($i / 7);
          }
        }
      }
      .mainListHover {
        p {
          transform: rotateY(0);
        }
      }
    }
  }
}

#theme_name.theme1 {
  #recruitment {

  }
}

#theme_name.theme2 {
  #recruitment {

  }
}

#theme_name.theme3 {
  #recruitment {

  }
}

#theme_name.theme4 {
  #recruitment {

  }
}
