@import "../common.scss";

#theme_name {
  #departOrgan {
    .choose-title {
      text-align: left;
      font-size: 16px;
      margin: 10px 0;
      span {
        cursor: pointer;
        &:hover {
          color: $colorE33;
        }
      }
    }
    .dialog_main {
      padding: 0 15px;
      .checkboxBottom {
        margin-top: 20px;
      }
      .checkbox-container {
        position: relative;
        cursor: pointer;
        span {
          position: absolute;
          bottom: 2px;
          right: 15px;
          width: 80px;
          height: 20px;
          vertical-align: middle;
          font-size: 14px;
        }
        &:hover {
          color: $colorE33;
        }
      }
    }
  }
}

#theme_name.theme1 {
  #departOrgan {

  }
}

#theme_name.theme2 {
  #departOrgan {

  }
}

#theme_name.theme3 {
  #departOrgan {

  }
}

#theme_name.theme4 {
  #departOrgan {

  }
}
