@import "../common.scss";

#theme_name {
  #menuList {
    .list {
      height: 500px;
      padding: 80px 150px;
      border-bottom: 1px solid $color2F2;
      .menu {
        width: 100%;
        transform: translateX(-3000px);
        @include transition(all .24s);
        .childrenMenu {
          cursor: pointer;
          width: 60%;
          height: 100%;
          &:hover {
            color: $colorFFF;
          }
          span {
            font-family: 'jingDianXingShu';
            font-size: 36px;
          }
        }
      }
    }
    .backdrop {
      position: fixed;
      top: 80px;
      left: -100%;
      width: 100%;
      z-index: 12;
      background-color: $colorFFF;
      border-color: transparent;
      @include transition(all .3s);
    }
    .backdrop.hover {
      left: 0;
    }
    .menuList {
      background-color: #FFFFFF;
      .menu {
        transform: translateX(0);
      }
      @for $i from 1 to 9 {
        .menu-#{$i} {
          @include delay((10 - $i ) / 10);
        }
      }
    }
  }
}

#theme_name.theme1 {
  #menuList.customService {
    .list {
      padding: 30px 180px;
      .menu {
        span {
          letter-spacing: 20px;
        }
      }
    }
  }
}

#theme_name.theme2 {
  #menuList {

  }
}

#theme_name.theme3 {
  #menuList {

  }
}

#theme_name.theme4 {
  #menuList {

  }
}
