@charset "UTF-8";
.flex {
  display: flex;
  display: -webkit-flex;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf");
}
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF");
}
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf");
}
/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('/static/font/JDJXINSHU.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('/static/font/ITCAVANTGARDESTD-MD.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('/static/font/BaiZhouRenZhe.otf');
}*/
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll_bar {
  overflow: auto;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: #e4e7ed;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}
.action-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-bar .check-count {
  margin-left: 30px;
  margin-right: 50px;
}
.action-bar .check-count i {
  font-style: normal;
  color: #ff4545;
}
.action-bar .action-bar-name {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.action-bar .action-bar-name span {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.action-bar .action-bar-name span:first-child {
  border-left: 0;
}
.action-bar .delete {
  color: #ff4545;
}
.action-bar .edit {
  color: #0c66ff;
}
.action-bar .check {
  color: #0bb07b;
}

.colorE33 {
  color: #cf2e33;
}

.color874 {
  color: #686874;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf");
}
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF");
}
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf");
}
/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('/static/font/JDJXINSHU.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('/static/font/ITCAVANTGARDESTD-MD.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('/static/font/BaiZhouRenZhe.otf');
}*/
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll_bar {
  overflow: auto;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: #e4e7ed;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}
.action-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-bar .check-count {
  margin-left: 30px;
  margin-right: 50px;
}
.action-bar .check-count i {
  font-style: normal;
  color: #ff4545;
}
.action-bar .action-bar-name {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.action-bar .action-bar-name span {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.action-bar .action-bar-name span:first-child {
  border-left: 0;
}
.action-bar .delete {
  color: #ff4545;
}
.action-bar .edit {
  color: #0c66ff;
}
.action-bar .check {
  color: #0bb07b;
}

.colorE33 {
  color: #cf2e33;
}

.color874 {
  color: #686874;
}

#theme_name #staffOrgan .dialog_container .dialog_header .search, #theme_name #postOrgan .dialog_container .dialog_header .search {
  min-width: 28px;
  max-width: 28px;
  height: 30px;
  cursor: pointer;
}
#theme_name #staffOrgan .dialog_container .dialog_main, #theme_name #postOrgan .dialog_container .dialog_main {
  margin: 10px;
  overflow: hidden;
  /*左侧*/
  /*右侧*/
}
#theme_name #staffOrgan .dialog_container .dialog_main .colorChoose, #theme_name #postOrgan .dialog_container .dialog_main .colorChoose {
  cursor: pointer;
  color: #cf2e33;
}
#theme_name #staffOrgan .dialog_container .dialog_main h4, #theme_name #postOrgan .dialog_container .dialog_main h4 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
#theme_name #staffOrgan .dialog_container .dialog_main h4 img, #theme_name #postOrgan .dialog_container .dialog_main h4 img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#theme_name #staffOrgan .dialog_container .dialog_main > div, #theme_name #postOrgan .dialog_container .dialog_main > div {
  width: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #ffffff;
  text-align: left;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart, #theme_name #postOrgan .dialog_container .dialog_main .depart {
  flex-direction: column;
  padding-bottom: 10px;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .crumbs, #theme_name #postOrgan .dialog_container .dialog_main .depart .crumbs {
  padding: 20px 30px 30px;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList {
  height: 100%;
  padding: 0 30px;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul li, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul li {
  padding: 15px 0;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul li:hover, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul li:hover {
  color: #cf2e33;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul li b, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul li b {
  color: #c0c4cc;
  padding-left: 6px;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul li p, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul li p {
  cursor: pointer;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul li .lowerLevel, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul li .lowerLevel {
  text-align: right;
  padding-right: 10px;
  min-width: 100px;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul li h3, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul li h3 {
  margin-right: 10px;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul li h5, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul li h5 {
  font-size: 16px;
  text-align: left;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul li h5 .staffName, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul li h5 .staffName {
  display: block;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul li h5 span + span, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul li h5 span + span {
  font-size: 14px;
  margin-top: 5px;
  color: #C3C3C7;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul .staff, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul .staff {
  padding: 10px 0;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul .staff:hover, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul .staff:hover {
  color: #cf2e33;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul .staff:hover h5 span + span, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul .staff:hover h5 span + span {
  color: #cf2e33;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul .staff h3, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul .staff h3 {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul .staff div, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul .staff div {
  cursor: pointer;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul .checkStaff, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul .checkStaff {
  color: #cf2e33;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul .checkStaff h5 span + span, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul .checkStaff h5 span + span {
  color: #cf2e33;
}
#theme_name #staffOrgan .dialog_container .dialog_main .depart .organList ul .checkStaff h3, #theme_name #postOrgan .dialog_container .dialog_main .depart .organList ul .checkStaff h3 {
  background-color: #cf2e33;
  border: 1px solid #cf2e33;
}
#theme_name #staffOrgan .dialog_container .dialog_main .chooseStaff, #theme_name #postOrgan .dialog_container .dialog_main .chooseStaff {
  flex-direction: column;
  margin-left: 20px;
  padding: 20px 30px 0;
}
#theme_name #staffOrgan .dialog_container .dialog_main .chooseStaff > div, #theme_name #postOrgan .dialog_container .dialog_main .chooseStaff > div {
  min-height: 77%;
  max-height: 77%;
}
#theme_name #staffOrgan .dialog_container .dialog_main .chooseStaff > div > label, #theme_name #postOrgan .dialog_container .dialog_main .chooseStaff > div > label {
  padding-bottom: 20px;
  display: block;
}
#theme_name #staffOrgan .dialog_container .dialog_main .chooseStaff > div > div, #theme_name #postOrgan .dialog_container .dialog_main .chooseStaff > div > div {
  height: 100%;
  flex-wrap: wrap;
}
#theme_name #staffOrgan .dialog_container .dialog_main .chooseStaff > div > div .lists, #theme_name #postOrgan .dialog_container .dialog_main .chooseStaff > div > div .lists {
  text-align: center;
  width: 20%;
  margin-top: 20px;
}
#theme_name #staffOrgan .dialog_container .dialog_main .chooseStaff > div > div .lists h4, #theme_name #postOrgan .dialog_container .dialog_main .chooseStaff > div > div .lists h4 {
  position: relative;
  margin: 0 auto;
}
#theme_name #staffOrgan .dialog_container .dialog_main .chooseStaff > div > div .lists h4 i, #theme_name #postOrgan .dialog_container .dialog_main .chooseStaff > div > div .lists h4 i {
  font-size: 18px;
  color: #cf2e33;
  position: absolute;
  top: -6px;
  right: 0;
  cursor: pointer;
}
#theme_name #staffOrgan .dialog_container .dialog_main .chooseStaff > div > div .lists p, #theme_name #postOrgan .dialog_container .dialog_main .chooseStaff > div > div .lists p {
  margin-top: 6px;
}
#theme_name #staffOrgan .dialog_container .footerBtn, #theme_name #postOrgan .dialog_container .footerBtn {
  margin-bottom: 10px;
}

/*# sourceMappingURL=postOrgan.css.map */
