@import "../../common.scss";
@import "../../../../assets/scss/marketCentre/contractManagement/index.scss";
#theme_name {
    #contractDetailCustomer {
        height: 100%;
        .base_house_info,
        .account_info,
        .have_info,
        .other_info {
            background-color: white;
            padding: 10px 20px;
            margin: 10px 0;
            position: relative;
            .type {
                width: 50px;
                height: 30px;
                background-color: #67C23A;
                color: white;
                text-align: center;
                line-height: 30px;
                position: absolute;
                top: 50px;
                left: 0;
                border-radius: 0 5px 5px 0;
                font-family: 'jingDianXingShu';
            }
        }
        .house-info {
            .el-col.el-col-8 {
                height: 62px;
            }
        }
        .el-form-item__label {
            color: #B0B0B0;
        }
    }
}

#theme_name.theme1 {
    #contractDetailCustomer {
        >div {}
    }
}