.flex {
  display: flex;
  display: -webkit-flex;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf');
}*/
@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf");
}
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF");
}
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf");
}
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll_bar {
  overflow: auto;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: #e4e7ed;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}
.action-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-bar .check-count {
  margin-left: 30px;
  margin-right: 50px;
}
.action-bar .check-count i {
  font-style: normal;
  color: #ff4545;
}
.action-bar .action-bar-name {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.action-bar .action-bar-name span {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.action-bar .action-bar-name span:first-child {
  border-left: 0;
}
.action-bar .delete {
  color: #ff4545;
}
.action-bar .edit {
  color: #0c66ff;
}
.action-bar .check {
  color: #0bb07b;
}

.colorE33 {
  color: #cf2e33;
}

.color874 {
  color: #686874;
}

#theme_name #my_attendance {
  height: 100%;
}
#theme_name #my_attendance .personal-check {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#theme_name #my_attendance .personal-check .date-choose {
  flex: 6%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#theme_name #my_attendance .personal-check .check-record {
  flex: 20%;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
#theme_name #my_attendance .personal-check .check-record .check-record-container {
  width: 100%;
  height: 70%;
  border: 1px solid #E4E4E4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#theme_name #my_attendance .personal-check .check-record .check-record-container .check-record-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  float: left;
  border-left: 1px solid #ccc;
}
#theme_name #my_attendance .personal-check .check-record .check-record-container .check-record-item:nth-of-type(1) {
  border-left: none;
}
#theme_name #my_attendance .personal-check .check-record .check-record-container .check-record-item .check-record-item-top {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}
#theme_name #my_attendance .personal-check .check-record .check-record-container .check-record-item .check-record-item-top > span {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 700;
  line-height: 19px;
}
#theme_name #my_attendance .personal-check .check-record .check-record-container .check-record-item .check-record-item-bottom {
  height: 50%;
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
#theme_name #my_attendance .personal-check .check-record .check-record-container .check-record-item .check-record-item-bottom > span {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: 400;
  line-height: 19px;
}
#theme_name #my_attendance .personal-check .check-calendar {
  flex: 74%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#theme_name #my_attendance .personal-check .check-calendar .calendar-container {
  flex: 90%;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-top: none;
}
#theme_name #my_attendance .personal-check .check-calendar .calendar-container .calendar-days-item {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  background-color: #f9f9f9;
  justify-content: flex-start;
}
#theme_name #my_attendance .personal-check .check-calendar .calendar-container .calendar-days-item.rest {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="100%" y1="0" x2="0" y2="100%" style="stroke:rgb(228,228,228);stroke-width:1"/></svg>');
}
#theme_name #my_attendance .personal-check .check-calendar .calendar-container .calendar-days-item.current {
  color: white;
  background-color: #cf2e33;
}
#theme_name #my_attendance .personal-check .check-calendar .calendar-container .calendar-days-item .days-item-content-container {
  padding: 10% 0 0 10%;
}
#theme_name #my_attendance .personal-check .check-calendar .calendar-container .calendar-days-item .days-item-content-container .days-item-content-date {
  font-size: 18px;
}
#theme_name #my_attendance .personal-check .check-calendar .calendar-useless {
  flex: 10%;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
