@import "../../common.scss";

#theme_name {
  #user_list {
    .user-list-container {
      display: flex;
      flex-wrap: wrap;
      .user-item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
        margin: 5px ;
        .user-item-left {
          width: 42px;
          height: 42px;
          margin-right: 10px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
          }
          &.bg-img {

          }
        }
        .user-item-right{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .user-name {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            font-family: MicrosoftYaHei-Bold;
            font-weight: bold;
            color: $color874;
          }
          .user-post {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            color: $color2D2;
          }
        }
      }

      .user-item-mini{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40px;
        height: 40px;
        margin:0 3px ;
        .user-item-mini-top {
          width: 28px;
          height: 28px;
          flex: none;
          //margin-right: 10px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
          }
          &.bg-img {

          }
        }
        .user-item-mini-bottom {
          //height: 12px;
          flex: 1;
          .user-name {
            text-align: center;
            font-size: 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 40px;
          }
        }
      }
    }
  }
}

#theme_name.theme1 {
  #user_list {

  }
}

#theme_name.theme2 {
  #user_list {

  }
}

#theme_name.theme3 {
  #user_list {

  }
}

#theme_name.theme4 {
  #user_list {

  }
}
