@import "../../common.scss";

#theme_name {
  #userChoose {
    display: inline-block;
    .iconInput {
      @include flex('flex-center');
      position: relative;
      .icons.user {
        position: absolute;
        right: 30px;

      }
    }
  }
}
