@import "../../common.scss";

#theme_name {
  #userChoose {
    .icons {
      width: 20px;
      height: 20px;
    }
    display: inline-block;
    .input-container {
      @include flex('flex-center');
      position: relative;
      .icons.user {
        position: absolute;
        right: 10px;
      }
    }
  }
}
