@import "../../common.scss";

#theme_name {
  #customer {

  }
}

#theme_name.theme1 {
  #customer {
      >div{
        .status-icon{
          margin-right: 30px;
          i{
            display:inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 8px;
          }
        }
      }
    .action-bar-right{
      span{
        margin-left:30px ;
      }
    }

  }
}

#theme_name.theme2 {
  #customer {

  }
}

#theme_name.theme3 {
  #customer {

  }
}

#theme_name.theme4 {
  #customer {

  }
}
