@import "../../../common.scss";
#theme_name {
  #leJiaHumanity {
    .mainList {
      width: 100%;
    }

    .dialog_header{
      .write_wishes{
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
      span{
        color:#CF2E33;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    .dialog_main{
      .wishes-lists{
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        >img{
          width: 50px;
          height:50px;
        }
        >div{
          text-align: left;
          margin-left: 20px;
          color:#202020;
          h3{
            font-size: 18px;
          }
          p{
            line-height: 26px;
          }
        }
      }
    }
    .form_item_container{
      align-items: flex-start;
      .item_content{
        width: 100%;
      }
    }

  }
}