@import '../../common.scss';

#theme_name {
  #gathering {
    > div {
      .address {
        font-size: 18px;
      }
      .record {
        padding: 20px;
      }
      .add_mark {
        width: 30px;
        height: 30px;
        @include radius(5px);
        background-color: $colorE33;
        font-size: 20px;
        text-align: center;
        color: white;
        position: absolute;
        right: 20px;
        top: 0;
        cursor: pointer;
      }
    }

    .bank-compare{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .bank-left{
        width: 50%;
        height: 600px;
        border-right: 1px dashed #999999;
        span{
          display: flex;
          flex-direction: row;
          i{
            display: block;
            padding: 5px 20px;
            font-style: normal;
            cursor: pointer;
          }
        }
      }
      .bank-right{
        width: 50%;
        height: 600px;
      }
      .active{
        background: #ff4545;
        color:#FFFFFF;
      }
    }
  }
}
