.flex {
  display: flex;
  display: -webkit-flex;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf");
}
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF");
}
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf");
}
/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('/static/font/JDJXINSHU.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('/static/font/ITCAVANTGARDESTD-MD.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('/static/font/BaiZhouRenZhe.otf');
}*/
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
}

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll_bar {
  overflow: auto;
}
.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
.scroll_bar::-webkit-scrollbar-track {
  background: #e4e7ed;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2;
}
.action-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-bar .check-count {
  margin-left: 30px;
  margin-right: 50px;
}
.action-bar .check-count i {
  font-style: normal;
  color: #ff4545;
}
.action-bar .action-bar-name {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.action-bar .action-bar-name span {
  display: inline-block;
  text-align: center;
  border-left: 1px solid #9b9b9b;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}
.action-bar .action-bar-name span:first-child {
  border-left: 0;
}
.action-bar .delete {
  color: #ff4545;
}
.action-bar .edit {
  color: #0c66ff;
}
.action-bar .check {
  color: #0bb07b;
}

.colorE33 {
  color: #cf2e33;
}

.color874 {
  color: #686874;
}

#theme_name #visitToRecord .dialog_container .dialog_header {
  height: 90px;
}
#theme_name #visitToRecord .dialog_container .dialog_header .main_header {
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
#theme_name #visitToRecord .dialog_container .dialog_header .main_header .left_tips {
  font-size: 14px;
}
#theme_name #visitToRecord .dialog_container .dialog_header .main_header .left_tips .icon {
  display: inline-block;
  width: 20px;
  height: 14px;
  margin-right: 10px;
}
#theme_name #visitToRecord .dialog_container .dialog_header .main_header .right_tips {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 20px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .el-row {
  margin-right: 0 !important;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box {
  height: 40px;
  margin: 0 auto 28px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box .box .icon {
  width: 20px;
  height: 20px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box .box .title {
  text-align: left;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box .box .input_box {
  width: 200px;
  height: 40px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box .box .input_box2 {
  width: 1020px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box .box .noBackground {
  background-color: transparent;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box .box .input_box_border {
  border-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box div {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box div i {
  width: 20px;
  height: 20px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box div .title {
  width: 60px;
  box-sizing: border-box;
  margin: 0 25px 0 15px;
  font-size: 14px;
  color: #686874;
}
#theme_name #visitToRecord .dialog_container .dialog_main .dialog_main_box div .title1 {
  line-height: 40px;
  white-space: nowrap;
}
#theme_name #visitToRecord .dialog_container .dialog_main .add_record_form {
  margin-bottom: 20px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .add_record_form .el-radio__inner::after {
  background: #cf2e33;
}
#theme_name #visitToRecord .dialog_container .dialog_main .add_record_form .el-col {
  height: 40px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}
#theme_name #visitToRecord .dialog_container .dialog_main .add_record_form .el-col p {
  width: 36%;
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
#theme_name #visitToRecord .dialog_container .dialog_main .add_record_form .el-col p .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .add_record_form .el-col p span {
  width: 60px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .add_record_form .el-col .input_box {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  position: relative;
}
#theme_name #visitToRecord .dialog_container .dialog_main .add_record_form .el-col .input_box .icons {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .add_record_form .note p {
  width: 96px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail {
  height: 406px;
  overflow-y: scroll;
  padding-bottom: 60px;
  overflow: auto;
  flex-wrap: wrap;
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail::-webkit-scrollbar-track {
  background: #e4e7ed;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .detail_col {
  margin-top: 60px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .detail_col .detail_col_box {
  height: 250px;
  overflow-y: scroll;
  overflow: auto;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .detail_col .detail_col_box::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .detail_col .detail_col_box::-webkit-scrollbar-button {
  height: 10px;
  background-color: #e4e7ed;
  border-radius: 10px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .detail_col .detail_col_box::-webkit-scrollbar-track {
  background: #e4e7ed;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .detail_col .detail_col_box::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .detail_col .detail_col_box2 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col h5 {
  font-size: 14px;
  font-family: 'jingDianXingShu';
  word-spacing: 2px;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 40px !important;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col div {
  margin-bottom: 18px;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col div span {
  font-size: 14px;
  font-family: 'Microsoft Yahei';
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col div .tit {
  width: 40%;
  text-align: right;
  padding-right: 10px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col div .content {
  width: 60%;
  white-space: nowrap;
  text-align: left;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col div .content img {
  width: 50px;
  height: 50px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col div .content_album {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col div .content_album .imgs_box {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col div .content_album .imgs_box > p {
  font-size: 14px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-col div .content_album .imgs_box div {
  margin-bottom: 0px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-border {
  position: relative;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-border:after {
  content: '';
  width: 1px;
  height: 285px;
  position: absolute;
  right: 0;
  top: 10px;
}
#theme_name #visitToRecord .dialog_container .dialog_main .detail .el-border .el-col {
  padding-top: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
}

#theme_name.theme1 #visitToRecord .el-button--danger {
  background: #fef0f0;
  color: #fbc4c4;
}
#theme_name.theme1 #visitToRecord .el-button--danger:hover {
  background: #f56c6c;
  color: #fff;
}
#theme_name.theme1 #visitToRecord .active-warning {
  background: #e6a23c;
  color: #fff;
}
#theme_name.theme1 #visitToRecord .active-primary {
  background: #409eff;
  color: #fff;
}
#theme_name.theme1 #visitToRecord .dialog_footer .el-button--danger {
  height: 40px;
  background: #cf2e33;
}
#theme_name.theme1 #visitToRecord .active-danger {
  background: #f56c6c;
  color: #fff;
}
#theme_name.theme1 #visitToRecord .dialog_header .main_header .left_tips {
  color: #686874;
}
#theme_name.theme1 #visitToRecord .dialog_header .main_header .left_tips .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/kefu.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .dialog_header .main_header .right_tips {
  background-color: #cf2e33;
  color: #ffffff;
}
#theme_name.theme1 #visitToRecord .dialog_main_box .box .input_box {
  background-color: #ffffff;
}
#theme_name.theme1 #visitToRecord .add_record_form .el-col p {
  color: #686874;
}
#theme_name.theme1 #visitToRecord .add_record_form .el-col .input_box .icon_add {
  background: url("../../../assets/image/customService/visitToRecord/theme1/tianjia.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .el-col .input_box .icon_del {
  background: url("../../../assets/image/customService/visitToRecord/theme1/shanchu.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .contact .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/dianhua_.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .contact:hover .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/dianhua_hong.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .origin .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/gognzuoneirong.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .origin:hover .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/neirong.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .freePay .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/jine_hui.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .freePay:hover .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/jine.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .satisfied .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/manyidu.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .satisfied:hover .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/manyidu_hong.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .note .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/beizhu.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .note:hover .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/beizhu_hong.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .feiyong .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/feiyongmingcheng.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .add_record_form .feiyong:hover .icon {
  background: url("../../../assets/image/customService/visitToRecord/theme1/feiyongmingcheng_hong.png") no-repeat scroll center;
  background-size: 100% 100%;
}
#theme_name.theme1 #visitToRecord .detail {
  background-color: #ffffff;
}
#theme_name.theme1 #visitToRecord .detail .el-col h5 {
  color: #cf2e33;
  background: url("../../../assets/image/customService/visitToRecord/theme1/dianxian.png") no-repeat scroll center;
  background-size: 100% 100%;
  background-size: 30px 5px;
  background-position: 110px 50%;
}
#theme_name.theme1 #visitToRecord .detail .el-col div .tit {
  color: #d5d5d5;
}
#theme_name.theme1 #visitToRecord .detail .el-col div .content {
  color: #686874;
}
#theme_name.theme1 #visitToRecord .detail .el-border:after {
  background: #f2f2f2;
}
#theme_name.theme1 #visitToRecord .detail ul li span {
  color: #d5d5d5;
}
#theme_name.theme1 #visitToRecord .detail ul li .content {
  color: #686874;
}

/*# sourceMappingURL=index.css.map */
