@import "../common.scss";

#theme_name {
  #customService {
    .menu_list {
      margin: 0 auto;
      border-top: 1px solid $colorFE0;
      border-bottom: 1px solid $colorFE0;
      padding: 50px 150px;
      .menu_contain {
        width: 15%;
        text-align: center;
        span {
          height: 410px;
          font-size: 32px;
          text-align: center;
          letter-spacing: 20px;
          padding: 20px 5px;
          cursor: pointer;
          &:hover {
            color: white;
          }
        }
      }
    }
    .info_container{
      padding-top: 30px;
      position: relative;
      .date_change {
        position: absolute;
        top: 30px;
        right: 0;
        li {
          width: 90px;
          height: 40px;
          color: #999999;
          background-color: $colorFDF;
          text-align: center;
          line-height: 40px;
          border-radius: 3px 0 0 3px;
          margin-bottom: 10px;
          font-size: 18px;
          cursor: pointer;
        }
        .mark_li {
          background-color: $colorE33;
          color: white;
        }
      }
      .day_info{
        & > div {
          width: 25%;
          height: 300px;
          padding-left: 30px;
        }
        & > div > p {
          font-size: 16px;
        }
        .event_info {
          //border: 1px solid #00FDFF;
        }
        .attend_info {
          //border: 1px solid #008A7B;
        }
        .work_info {
          //border: 1px solid #9CCC65;
          & > p {
            margin-bottom: 65px;
          }
        }
      }
    }
  }
}

#theme_name.theme1 {
  #customService {
    .menu_list {
      .menu_contain {
        span {
          font-family: 'jingDianXingShu';
        }
      }
    }
  }
}

#theme_name.theme2 {
  #customService {

  }
}

#theme_name.theme3 {
  #customService {

  }
}

#theme_name.theme4 {
  #customService {

  }
}
