@import "../../common.scss";

#theme_name {
  #contractManagement {
    > div {
      .back_info {
        width: 100%;
        overflow: hidden;
        > div {
          width: 100%;
          background-color: white;
          padding: 30px;
          .content {
            min-height: 100px;
            div {
              width: 100%;
              max-height: 40px;
              &:first-child {
                text-align: right;
              }
              &:last-child {
                text-align: left;
              }
              &:nth-child(2) {
                position: relative;
                .circle {
                  width: 20px;
                  height: 20px;
                  border: 1px solid $colorE33;
                  box-sizing: border-box;
                  border-radius: 50%;
                  a {
                    width: 10px;
                    height: 10px;
                    background-color: $colorE33;
                    border-radius: 50%;
                  }
                }
                .line {
                  width: 1px;
                  height: 100px;
                  position: absolute;
                  top: 45px;
                  left: 50%;
                  background-color: $colorE33;
                  transform: translateX(-50%);
                }
              }
            }
          }
        }
      }
    }
    .base_house_info ,
    .account_info,
    .have_info,
    .other_info{
      background-color: white;
      padding: 10px 20px;
      margin: 10px 0;
      position: relative;
      .type {
        width: 50px;
        height: 30px;
        background-color: #67C23A;
        color: white;
        text-align: center;
        line-height: 30px;
        position: absolute;
        top: 50px;
        left: 0;
        border-radius: 0 5px 5px 0;
        font-family: 'jingDianXingShu';
      }
    }
  }
}

#theme_name.theme1 {
  #contractManagement {
    > div {

    }
  }
}
