@import "../common.scss";

#theme_name {
  #humanResource {
    .bottom_info {
      width: 100%;
      position: relative;
      padding: 0 100px;
      > div {
        height: 100%;
        padding: 30px;
        &:nth-child(2) {
          width: 40%;
        }
        span {
          display: block;
          margin-bottom: 50px;
        }
        p {
          margin-bottom: 30px;
        }
      }
      .mark_btn {
        position: absolute;
        top: 30px;
        right: 0;
        > li {
          width: 90px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          border-radius: 3px 0 0 3px;
          margin-bottom: 10px;
          font-size: 18px;
          cursor: pointer;
        }
      }
      .staff_list {
        flex-wrap: wrap;
        .staff_list_item {
          min-width: 15%;
          min-height: 100px;
          margin-bottom: 15px;
          margin-right: 15px;
          text-align: center;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
          a {
            color: $colorE33;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

#theme_name.theme1 {
  #humanResource {
    .bottom_info {
      background-color: white;
      .mark_btn {
        >li {
          color: #999999;
          background-color: $colorFDF;
        }
        .mark_choose {
          background-color: $colorE33;
          color: white;
        }
      }
    }
  }
}

#theme_name.theme2 {
  #humanResource {

  }
}

#theme_name.theme3 {
  #humanResource {

  }
}

#theme_name.theme4 {
  #humanResource {

  }
}
