@charset "UTF-8";
.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 4px; }

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2; }
  .action-bar div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .action-bar .check-count {
    margin-left: 30px;
    margin-right: 50px; }
    .action-bar .check-count i {
      font-style: normal;
      color: #ff4545; }
  .action-bar .action-bar-name {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .action-bar .action-bar-name span {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #9b9b9b;
      font-size: 18px;
      padding: 0 10px;
      cursor: pointer; }
    .action-bar .action-bar-name span:first-child {
      border-left: 0; }
  .action-bar .delete {
    color: #ff4545; }
  .action-bar .edit {
    color: #0c66ff; }
  .action-bar .check {
    color: #0bb07b; }

.colorE33 {
  color: #cf2e33; }

.color874 {
  color: #686874; }

#theme_name #personal_center {
  background-color: #FCFCFC;
  height: 100%;
  width: 100%; }
  #theme_name #personal_center .personal-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 15px;
    /*左边容器*/
    /*右边容器*/ }
    #theme_name #personal_center .personal-center-container .container-left {
      width: 18%;
      background-color: #ffffff;
      height: 100%; }
      #theme_name #personal_center .personal-center-container .container-left .container-left-up {
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-info {
          height: 60%;
          width: 100%;
          display: flex;
          display: -webkit-flex;
          align-items: center;
          justify-content: center;
          flex-direction: column; }
          #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-info .personal-info-photo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            margin-top: 30px;
            margin-bottom: 20px; }
          #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-info .personal-info-name {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 20px;
            height: 26px;
            line-height: 26px;
            color: #686874;
            font-weight: 700;
            margin-bottom: 10px; }
            #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-info .personal-info-name .personal-info-badge {
              cursor: default;
              user-select: none;
              position: absolute;
              top: 2px;
              right: -26px;
              height: 19px;
              width: 22px;
              display: flex;
              display: -webkit-flex;
              align-items: center;
              justify-content: center; }
              #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-info .personal-info-name .personal-info-badge span {
                display: inline-block;
                height: 19px;
                font-size: 10px;
                color: #cf2e33;
                display: flex;
                display: -webkit-flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: -2px; }
          #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-info .personal-info-status {
            font-size: 16px;
            line-height: 21px;
            width: 160px;
            height: 21px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: #686874; }
        #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-group-button {
          flex: 1;
          width: 100%;
          display: flex;
          justify-content: center; }
          #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-group-button .personal-group-button-container {
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-group-button .personal-group-button-container > div.group-button-item {
              width: 24%;
              height: 33%;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center; }
              #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-group-button .personal-group-button-container > div.group-button-item .group-button-item-icon {
                width: 21px;
                height: 21px; }
                #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-group-button .personal-group-button-container > div.group-button-item .group-button-item-icon.icon-collect {
                  height: 21px; }
                #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-group-button .personal-group-button-container > div.group-button-item .group-button-item-icon.icon-message {
                  height: 19px; }
                #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-group-button .personal-group-button-container > div.group-button-item .group-button-item-icon.icon-log {
                  height: 18px; }
              #theme_name #personal_center .personal-center-container .container-left .container-left-up .personal-group-button .personal-group-button-container > div.group-button-item .group-button-item-content {
                font-family: "Microsoft YaHei";
                padding-top: 20%;
                font-size: 14px;
                height: 19px;
                line-height: 19px;
                color: #686874;
                white-space: nowrap;
                text-overflow: ellipsis; }
        #theme_name #personal_center .personal-center-container .container-left .container-left-up .hr-horizontal {
          width: 80%;
          height: 1px;
          background-color: #d8d8d8; }
      #theme_name #personal_center .personal-center-container .container-left .container-left-down {
        height: 60%; }
        #theme_name #personal_center .personal-center-container .container-left .container-left-down ul {
          height: 100%; }
          #theme_name #personal_center .personal-center-container .container-left .container-left-down ul li {
            height: 20%;
            cursor: pointer; }
            #theme_name #personal_center .personal-center-container .container-left .container-left-down ul li:hover {
              background-color: rgba(216, 216, 216, 0.15); }
            #theme_name #personal_center .personal-center-container .container-left .container-left-down ul li.checked {
              background-color: rgba(216, 216, 216, 0.3); }
            #theme_name #personal_center .personal-center-container .container-left .container-left-down ul li .li-item {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding-left: 60px; }
              #theme_name #personal_center .personal-center-container .container-left .container-left-down ul li .li-item .li-item-icon {
                display: inline-block;
                width: 25px;
                height: 25px; }
              #theme_name #personal_center .personal-center-container .container-left .container-left-down ul li .li-item .li-item-content {
                height: 24px;
                font-size: 18px;
                line-height: 24px;
                color: #686874;
                padding-left: 20px; }
    #theme_name #personal_center .personal-center-container .container-right {
      width: 82%;
      flex: 1;
      height: 100%;
      padding: 0 15px 15px 15px; }
