@import "../common.scss";
//字体设置
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, input, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: 'DIN-Medium' !important;
}
//城市选择的地址
.location{
  padding-left: 50px;
  margin: auto 0;
  img{
    width: 17px;
    height: 21px;
    vertical-align: middle;
  }
  span{
    font-size: 14px;
    color: #fff;
  }
}

//单位(蓝色)
.unit_blue{
  font-size: 12px;
  color: #33C8FF;
  padding-left: 5px;
}
//单位(白色)
.unit_white{
  font-size: 12px;
  color: #fff;
  padding-left: 5px;
}
//边框设置
.border_bg {
  border: 2px solid;
  border-radius: 10px;
  border-image: linear-gradient(270deg, rgba(0, 255, 255, 0.3), rgba(0, 255, 255, 1), rgba(0, 255, 255, 0.3)) 2 2;
  background: rgba(51, 123, 255, 0.15);
}
//去除li标签的点
li{
  list-style-type:none;
}

//卡片
.red_card, .yellow_card , .green_card , .blue_card{
  border-radius:5px;
  color:#fff;
}
.red_card{
  background:linear-gradient(228deg,rgba(243,93,134,1) 0%,rgba(255,165,130,1) 100%);
}
.yellow_card{
  background:linear-gradient(228deg,rgba(255,158,29,1) 0%,rgba(255,222,128,1) 100%);
}
.green_card{
  background:linear-gradient(51deg,rgba(143,189,91,1) 0%,rgba(17,154,139,1) 100%);
}
.blue_card{
  background:linear-gradient(51deg,rgba(118,255,246,1) 0%,rgba(41,138,193,1) 100%);
}

//圆点图例
.title_legend{
  .legend_icon{
    display: inline-block;
    width:16px;
    height:16px;
    border-radius: 16px;
    margin-right: 10px;
  }
  .legend_name{
    font-size:16px;
    color: #fff;
  }
}

//方点图例
.warning_legend{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  li{
    color: #6B7298;
    font-size:10px;
    margin: 0 20px 5px 0;
    .square_iocn1, .square_iocn2,  .square_iocn3, .square_iocn4 {
      display: inline-block;
      width:11px;
      height:11px;
      margin-right: 3px;
    }
    .square_iocn1{
      background:#00CE28;
    }
    .square_iocn2{
      background:#FDC322;
    }
    .square_iocn3{
      background:#EF600C;
    }
    .square_iocn4{
      background:#F90505;
    }
  }
}
//进度条
.progress{
  .progress_list{
    display: flex;
    justify-content: space-between;
    span{
      display: inline-block;
      font-size:16px;
    }
    .progress_label{
      width: 100px;
      text-align: right;
    }
    .progress_bar{
      flex: 1;
      background:rgba(255,255,255,0.1);
      border-radius:10px;
      margin: 0 18px ;
      display: flex;
      .progress_bar_active{
        height: 100%;
        border-radius:10px;
      }
      .progress_bar_active0{
        background:linear-gradient(225deg,rgba(255,119,136,1) 0%,rgba(182,32,224,1) 100%);
      }
      .progress_bar_active1{
        background:linear-gradient(90deg,rgba(128,70,204,1) 0%,rgba(131,162,255,1) 100%);
      }
      .progress_bar_active2{
        background:linear-gradient(270deg,rgba(50,197,255,1) 0%,rgba(49,32,224,1) 100%);
      }
      .progress_bar_active3{
        background:linear-gradient(225deg,rgba(255,161,119,1) 0%,rgba(255,71,71,1) 100%);
      }
      .progress_bar_active4{
        background:linear-gradient(225deg,rgba(115,255,246,1) 0%,rgba(77,179,16,1) 100%);
      }
    }
    .progress_value{
      display: inline-block;
      width: 65px;
      color: #fff;
      text-align: left;
    }
  }
}

