@import "../common.scss";

#theme_name {
  #index {
    padding: 30px 150px 0;
    .main + .main {
      margin-left: 80px;
    }
    .main {
      width: 100%;
      cursor: pointer;
      opacity: 0;
      @include transform(translateY(-80px));
      @include transition(all, .4s);
      > p {
        margin-bottom: 30px;
        text-align: center;
        line-height: 40px;
      }
      .contents {
        width: 100%;
        height: 610px;
        @include transition(transform, .2s);
        div {
          cursor: pointer;
          height: 100%;
          align-items: center;
          p {
            width: 140px;
            min-height: 140px;
            max-height: 140px;
            margin: 45px 0 50px;
          }
          h1 {
            margin-bottom: 55px;
          }
          h2 {
            width: 80px;
            min-height: 40px;
            max-height: 40px;
          }
        }
      }
    }
    .translateDown {
      opacity: 1;
      @include transform(translateY(0));
    }
    .main:hover {
      .contents {
        @include transform(scale(1.03));
      }
    }
    footer {
      padding-top: 70px;
      span {
        width: 436px;
        height: 35px;
        b {
          display: none;
        }
      }
    }
    .moduleWriting {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 66;
      background-color: rgba(0, 0, 0, .5);
      > div {
        width: 890px;
        height: 560px;
        padding: 40px 50px 60px;
        .moduleTop {
          p {
            cursor: pointer;
          }
        }
        .moduleMain {
          .mainLeft {
            min-width: 320px;
            max-width: 320px;
            height: 300px;
            margin-right: 60px;
            img {
              @include radius(6px);
            }
          }
          .mainRight {
            height: 100%;
            padding-right: 100px;
            p, span {
              cursor: pointer;
              color: $color874;
            }
            p {
              font-size: 20px;
              margin-bottom: 30px;
            }
            span {
              font-size: 14px;
              @include line-clamp(3);
              line-height: 30px;
            }
          }
        }
        .moduleFoot {
          span {
            &:hover {
              background-color: $color8E33;
            }
            background-color: $color8FE0;
            @include radius(50%);
            padding: 6px;
            margin-right: 12px;
            cursor: pointer;
          }
          .spanHover {
            background-color: $color8E33;
          }
          i:hover {
            border-right-color: $color8E33;
          }
          b:hover {
            border-left-color: $color8E33;
          }
          i, b {
            cursor: pointer;
            border: 10px solid transparent;
          }
          i {
            border-right-color: $color8FE0;
            margin-right: 15px;
          }
          b {
            border-left-color: $color8FE0;
          }
        }
      }
    }
  }
}

#theme_name.theme1 {
  #index {
    .main {
      &:hover {
        > p {
          span {
            color: $colorFFF;
            background-color: $color8E33;
          }
        }
      }
      > p {
        span {
          width: 130px;
          background-color: $color8FE0;
          @include radius(221px);
        }
      }
      .contents {
        background-color: $colorFFF;
        @include boxShaw(0 10px 20px 0 rgba(223, 223, 223, 1));
        @include radius(10px);
      }
    }
    .moduleWriting {
      > div {
        background-color: $colorFFF;
        .moduleMain {
          .mainRight {
            p, span {
              color: $color874;
            }
          }
        }
      }
    }
  }
}

#theme_name.theme2 {
  #index {
    .main {
      > p {
        width: 224px;
      }
    }
    footer {
      span {
        width: 220px;
        height: 16px;
      }
    }
    .moduleWriting {
      > div {
        padding-top: 60px;
        .moduleTop {
          p:first-of-type {
            color: $color131;
          }
        }
        .moduleMain {
          .mainRight {
            p, span {
              color: $colorFFF;
            }
          }
        }
        .moduleFoot {
          span {
            &:hover {
              background-color: $color131;
            }
          }
          .spanHover {
            background-color: $color131;
          }
          i:hover {
            border-right-color: $color131;
          }
          b:hover {
            border-left-color: $color131;
          }
        }
      }
    }
  }
}

#theme_name.theme3 {
  #index {
    .main {
      &:hover {
        > p {
          span {
            background-color: $colorE46;
          }
        }
      }
      > p {
        span {
          width: 130px;
          background-color: $color8FE0;
          @include radius(221px);
        }
      }
      .contents {
        background-color: $colorFFF;
        @include radius(10px);
        div {
          p {
            width: 110px;
            min-height: 110px;
            max-height: 110px;
            margin: 60px 0;
          }
        }
      }
    }
    footer {
      padding-top: 36px;
      span {
        width: 360px;
        height: 80px;
      }
    }
    .moduleWriting {
      > div {
        padding: 60px 70px 60px 50px;
      }
    }
  }
}

#theme_name.theme4 {
  #index {
    .main {
      &:hover {
        > p {
          span {
            color: $colorFFF;
            background-color: $colorA7B;
          }
        }
      }
      > p {
        span {
          width: 130px;
          background-color: $color8FE0;
          @include radius(221px);
        }
      }
      .contents {
        background-color: $colorFFF;
        @include boxShaw(0 0 30px -10px $colorA7B);
        @include radius(10px);
      }
    }
    footer {
      padding-top: 50px;
      span {
        @include flex('items-center');
        color: $colorA7B;
        padding-left: 90px;
        i {
          width: 110px;
          height: 130px;
        }
        b {
          display: inline-block;
          margin-left: -90px;
        }
      }
    }
    .moduleWriting {
      > div {
        background-color: $colorFFF;
        .moduleFoot {
          span {
            &:hover {
              background-color: $colorA7B;
            }
          }
          .spanHover {
            background-color: $colorA7B;
          }
          i:hover {
            border-right-color: $colorA7B;
          }
          b:hover {
            border-left-color: $colorA7B;
          }
        }
      }
    }
  }
}
