.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2; }
  .action-bar div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .action-bar .check-count {
    margin-left: 30px;
    margin-right: 50px; }
    .action-bar .check-count i {
      font-style: normal;
      color: #ff4545; }
  .action-bar .action-bar-name {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .action-bar .action-bar-name span {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #9b9b9b;
      font-size: 18px;
      padding: 0 10px;
      cursor: pointer; }
    .action-bar .action-bar-name span:first-child {
      border-left: 0; }
  .action-bar .delete {
    color: #ff4545; }
  .action-bar .edit {
    color: #0c66ff; }
  .action-bar .check {
    color: #0bb07b; }

.colorE33 {
  color: #cf2e33; }

.color874 {
  color: #686874; }

#theme_name #workOrder {
  height: 100%; }
  #theme_name #workOrder .addOrder_dialog .el-col {
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start; }
    #theme_name #workOrder .addOrder_dialog .el-col .el-col-p {
      width: 33%;
      font-size: 14px;
      text-align: left;
      display: flex;
      display: -webkit-flex;
      align-items: center; }
      #theme_name #workOrder .addOrder_dialog .el-col .el-col-p .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px; }
    #theme_name #workOrder .addOrder_dialog .el-col .el-col-p1 {
      width: 92px; }
    #theme_name #workOrder .addOrder_dialog .el-col .input_box {
      width: 65%;
      display: flex;
      display: -webkit-flex;
      align-items: center; }
  #theme_name #workOrder .addOrder_dialog .el-col-box {
    cursor: pointer;
    height: 410px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start; }
    #theme_name #workOrder .addOrder_dialog .el-col-box .el-box {
      width: 67px;
      height: 67px;
      font-size: 18px;
      padding: 10px 12px;
      margin-bottom: 48px; }
  #theme_name #workOrder .addOrder_dialog .el-col-content {
    height: 410px;
    display: block;
    padding: 30px 65px; }
    #theme_name #workOrder .addOrder_dialog .el-col-content .info_search {
      width: 280px;
      height: 32px;
      border-radius: 16px;
      padding: 0 10px;
      box-sizing: border-box;
      margin-left: 60px;
      margin-bottom: 20px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .info_search .icon {
        display: inline-block;
        width: 14px;
        height: 16px; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .info_search input {
        border: none;
        height: 30px; }
    #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info .custmer_content {
      padding-left: 32px;
      font-size: 14px;
      margin-bottom: 40px;
      height: 40px; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info .custmer_content .el-radio__label {
        flex: 1; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info .custmer_content .el-col {
        margin-bottom: 0; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info .custmer_content .tit {
        width: 30%;
        text-align: right; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info .custmer_content .content_tit {
        width: 70%;
        text-align: left;
        padding-left: 12px; }
    #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 {
      padding: 0 97px 0 107px; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes {
        height: 275px; }
        #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content {
          height: 84px;
          border-bottom: 1px solid #f3f3f3;
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          justify-content: center; }
          #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content .order_content_box {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            margin-bottom: 10px;
            color: #686874; }
            #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content .order_content_box .order_title1 {
              width: 400px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              text-align: left; }
              #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content .order_content_box .order_title1 span {
                padding-right: 10px; }
            #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content .order_content_box .order_title2 {
              color: #c4c4c4; }
              #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content .order_content_box .order_title2 span {
                padding-right: 40px; }
            #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content .order_content_box .status1 {
              font-weight: 600;
              color: #0bb07b; }
            #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content .order_content_box .status2 {
              color: #ffad0d; }
        #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content2 {
          height: 57px; }
          #theme_name #workOrder .addOrder_dialog .el-col-content .custmer_info1 .order_content_boxes .order_content2 .order_content_box {
            margin-bottom: 0; }
    #theme_name #workOrder .addOrder_dialog .el-col-content .nothing {
      width: 100%;
      height: 300px;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      justify-content: center;
      display: flex;
      display: -webkit-flex;
      align-items: center; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .nothing .nothing_img {
        width: 70px;
        height: 180px;
        margin-bottom: 30px; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .nothing .nothing_words {
        font-size: 14px; }
    #theme_name #workOrder .addOrder_dialog .el-col-content .ending {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      color: #dfdfdf;
      font-size: 14px; }
      #theme_name #workOrder .addOrder_dialog .el-col-content .ending .ending_img {
        width: 100px;
        height: 18px; }

#theme_name.theme1 #workOrder .addOrder_dialog .el-col p {
  color: #686874; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .house_name {
    background: url("../../../assets/image/customService/maintenance/theme1/dizhi_hui.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .type {
    background: url("../../../assets/image/customService/maintenance/theme1/leixing_copy.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .post {
    background: url("../../../assets/image/customService/maintenance/theme1/paidan.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .handler {
    background: url("../../../assets/image/customService/maintenance/theme1/ren.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .org {
    background: url("../../../assets/image/customService/maintenance/theme1/bumen_hui.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .phone {
    background: url("../../../assets/image/customService/maintenance/theme1/dianhua_.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .endTime {
    background: url("../../../assets/image/customService/maintenance/theme1/shijian_hui.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .status {
    background: url("../../../assets/image/customService/maintenance/theme1/koukuanmingxi_hui.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .content {
    background: url("../../../assets/image/customService/maintenance/theme1/gognzuoneirong.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col p .upload {
    background: url("../../../assets/image/customService/maintenance/theme1/shangchuantupian.png") no-repeat scroll center;
    background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .house_name {
  background: url("../../../assets/image/customService/maintenance/theme1/dizhi.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .type {
  background: url("../../../assets/image/customService/maintenance/theme1/leixing.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .post {
  background: url("../../../assets/image/customService/maintenance/theme1/paidan_hong.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .handler {
  background: url("../../../assets/image/customService/maintenance/theme1/ren_hong.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .org {
  background: url("../../../assets/image/customService/maintenance/theme1/bumen.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .phone {
  background: url("../../../assets/image/customService/maintenance/theme1/dianhua_hong.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .endTime {
  background: url("../../../assets/image/customService/maintenance/theme1/shijian.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .status {
  background: url("../../../assets/image/customService/maintenance/theme1/jinji_hong.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .content {
  background: url("../../../assets/image/customService/maintenance/theme1/neirong.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col:hover .upload {
  background: url("../../../assets/image/customService/maintenance/theme1/tupian_hong.png") no-repeat scroll center;
  background-size: 100% 100%; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col-box .el-box {
  background: url("../../../assets/image/customService/maintenance/theme1/xinxi_hui.png") no-repeat scroll center;
  background-size: 100% 100%;
  color: #686874; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col-box .el-box-active {
  background: url("../../../assets/image/customService/maintenance/theme1/xinxi.png") no-repeat scroll center;
  background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col-box .el-box-active p {
    color: #ffffff; }
#theme_name.theme1 #workOrder .addOrder_dialog .el-col-content {
  background: #ffffff; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col-content .info_search {
    border: 1px solid #dfdfdf; }
    #theme_name.theme1 #workOrder .addOrder_dialog .el-col-content .info_search .icon {
      background: url("../../../assets/image/customService/maintenance/theme1/sousuo_xiao.png") no-repeat scroll center;
      background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col-content .custmer_content .tit {
    color: #d5d5d5; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col-content .custmer_content .content_tit {
    color: #686874; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col-content .nothing .nothing_img {
    background: url("../../../assets/image/customService/maintenance/theme1/shenmeyemeiyou.png") no-repeat scroll center;
    background-size: 100% 100%; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col-content .nothing .nothing_words {
    color: #dfdfdf; }
  #theme_name.theme1 #workOrder .addOrder_dialog .el-col-content .ending .ending_img {
    background: url("../../../assets/image/customService/maintenance/theme1/dixian.png") no-repeat scroll center;
    background-size: 100% 100%; }

/*# sourceMappingURL=index.css.map */
