.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("/static/font/JDJXINSHU.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("/static/font/ITCAVANTGARDESTD-MD.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("/static/font/BaiZhouRenZhe.otf"); }
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 4px; }

#theme_name #workOrder {
  height: 100%; }
  #theme_name #workOrder .orderTop, #theme_name #workOrder .orderList {
    background-color: #FFFFFF; }
  #theme_name #workOrder .orderTop {
    height: 80px; }
    #theme_name #workOrder .orderTop .orderTopLeft p {
      width: 42px;
      height: 50px;
      background-color: #DFDFDF;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      padding-bottom: 20px; }
      #theme_name #workOrder .orderTop .orderTopLeft p b {
        font-size: 30px; }
    #theme_name #workOrder .orderTop .orderTopLeft h1 {
      font-family: 'jingDianXingShu';
      font-size: 32px;
      padding: 0 40px;
      border-right: 1px solid #F2F2F2; }
    #theme_name #workOrder .orderTop .orderTopLeft h2 span {
      color: #D2D2D2;
      margin-left: 40px;
      cursor: pointer;
      padding-top: 6px;
      font-size: 18px; }
      #theme_name #workOrder .orderTop .orderTopLeft h2 span i {
        width: 16px;
        height: 3px;
        margin-top: 6px;
        background-color: transparent; }
    #theme_name #workOrder .orderTop .orderTopRight p {
      width: 30px;
      height: 30px;
      color: #FFFFFF;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      margin-right: 40px;
      cursor: pointer; }
  #theme_name #workOrder .orderList {
    margin-top: 10px;
    font-size: 14px;
    height: 88%; }
    #theme_name #workOrder .orderList .status {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center; }
      #theme_name #workOrder .orderList .status p {
        width: 90px;
        height: 30px;
        line-height: 30px;
        font-weight: bold; }

#theme_name.theme1 #workOrder > div .orderTopLeft p {
  background-color: #DFDFDF; }
#theme_name.theme1 #workOrder > div .orderTopLeft h1 {
  font-family: 'jingDianXingShu';
  border-right: 1px solid #F2F2F2; }
#theme_name.theme1 #workOrder > div .orderTopLeft h2 .chooseList {
  color: #CF2E33; }
  #theme_name.theme1 #workOrder > div .orderTopLeft h2 .chooseList i {
    background-color: #CF2E33; }
#theme_name.theme1 #workOrder > div .orderTopRight p:first-of-type {
  background-color: #CF2E33; }
  #theme_name.theme1 #workOrder > div .orderTopRight p:first-of-type b {
    font-size: 30px;
    padding-bottom: 7px; }

/*# sourceMappingURL=index.css.map */
