.flex {
  display: flex;
  display: -webkit-flex; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.bet-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between; }

.space-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center; }

.items-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }

.items-bet {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between; }

.items-center {
  display: flex;
  display: -webkit-flex;
  align-items: center; }

.items-start {
  display: flex;
  display: -webkit-flex;
  align-items: flex-start; }

.items-end {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end; }

.justify-center {
  display: flex;
  display: -webkit-flex;
  justify-content: center; }

.justify-around {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around; }

.justify-bet {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }

.justify-start {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start; }

.justify-end {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end; }

@font-face {
  font-family: 'jingDianXingShu';
  src: url("http://static.lejias.cn/lejiad17b0198e884e4e4420a5b58cf9f31f5.otf"); }
@font-face {
  font-family: 'mengFeiSiTe';
  src: url("http://static.lejias.cn/lejia554520b9f0c3f55796b39bcb82da665a.OTF"); }
@font-face {
  font-family: 'jianyue';
  src: url("http://static.lejias.cn/lejia770e3cb6b4dc27196abc5c3eb4da6e00.otf"); }
/*@font-face {
  font-family: 'jingDianXingShu';
  src: url('/static/font/JDJXINSHU.otf');
}

@font-face {
  font-family: 'mengFeiSiTe';
  src: url('/static/font/ITCAVANTGARDESTD-MD.OTF');
}

@font-face {
  font-family: 'jianyue';
  src: url('/static/font/BaiZhouRenZhe.otf');
}*/
.writingMode {
  writing-mode: vertical-rl;
  writing-mode: tb-rl; }

.line-clamp1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.line-clamp2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.line-clamp3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; }

.scroll_bar {
  overflow: auto; }
  .scroll_bar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-button {
    height: 10px;
    background-color: #e4e7ed;
    border-radius: 10px; }
  .scroll_bar::-webkit-scrollbar-track {
    background: #e4e7ed; }
  .scroll_bar::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 4px; }

.action-bar {
  width: 100%;
  padding: 0 40px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2; }
  .action-bar div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .action-bar .check-count {
    margin-left: 30px;
    margin-right: 50px; }
    .action-bar .check-count i {
      font-style: normal;
      color: #ff4545; }
  .action-bar .action-bar-name {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .action-bar .action-bar-name span {
      display: inline-block;
      text-align: center;
      border-left: 1px solid #9b9b9b;
      font-size: 18px;
      padding: 0 10px;
      cursor: pointer; }
    .action-bar .action-bar-name span:first-child {
      border-left: 0; }
  .action-bar .delete {
    color: #ff4545; }
  .action-bar .edit {
    color: #0c66ff; }
  .action-bar .check {
    color: #0bb07b; }

.colorE33 {
  color: #cf2e33; }

.color874 {
  color: #686874; }

#theme_name #star .mainList {
  width: 100%;
  height: 100%; }
  #theme_name #star .mainList .star_info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; }
    #theme_name #star .mainList .star_info .star_info_left {
      width: 200px;
      height: 100%;
      margin-left: 200px;
      position: relative; }
      #theme_name #star .mainList .star_info .star_info_left .star_info_avatar {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); }
        #theme_name #star .mainList .star_info .star_info_left .star_info_avatar img {
          width: 140px;
          height: 140px;
          border-radius: 50%; }
      #theme_name #star .mainList .star_info .star_info_left .star_info_title {
        width: 38px;
        height: 110px;
        position: absolute;
        z-index: 10;
        top: 27%;
        left: 30%;
        transform: translate(-50%, -50%); }
        #theme_name #star .mainList .star_info .star_info_left .star_info_title span {
          font-family: jingDianXingShu;
          font-size: 16px;
          color: #ffffff; }
      #theme_name #star .mainList .star_info .star_info_left .star_info_name {
        width: 38px;
        height: 110px;
        position: absolute;
        z-index: 10;
        top: 56%;
        left: 54%;
        transform: translate(-50%, -50%); }
        #theme_name #star .mainList .star_info .star_info_left .star_info_name span {
          font-family: jingDianXingShu;
          font-size: 16px; }
      #theme_name #star .mainList .star_info .star_info_left .star_info_department {
        width: 38px;
        height: 110px;
        position: absolute;
        z-index: 10;
        top: 61%;
        left: 73%;
        transform: translate(-50%, -50%); }
        #theme_name #star .mainList .star_info .star_info_left .star_info_department span {
          font-family: jingDianXingShu;
          font-size: 16px; }
    #theme_name #star .mainList .star_info .star_info_right {
      width: 1200px;
      height: 100%;
      color: #ffffff;
      margin-left: 200px; }
      #theme_name #star .mainList .star_info .star_info_right .main_info {
        width: 1200px;
        height: 600px;
        padding-right: 100px; }
        #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle {
          padding: 20px;
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 600px; }
          #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .detail-content-right {
            margin-left: 150px; }
            #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .detail-content-right .right-info-icons .icon-list {
              width: 50px;
              height: 50px;
              position: relative;
              margin-top: 10px; }
              #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .detail-content-right .right-info-icons .icon-list .icon-bg {
                display: block;
                width: 34px;
                height: 34px;
                cursor: pointer;
                border: 1px dashed #999999; }
              #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .detail-content-right .right-info-icons .icon-list .person-number {
                position: absolute;
                left: 84%;
                top: 2%;
                transform: translate(-50%, -70%);
                display: block;
                padding: 2px 6px;
                border-radius: 10px;
                font-size: 12px;
                background: #CF2E33;
                color: #FFFFFF; }
            #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .detail-content-right .right-info-icons .share-navbar .share-navbar-box {
              width: 180px;
              height: 40px;
              position: absolute;
              border-radius: 5px;
              background: #FFFFFF;
              left: -200px; }
              #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .detail-content-right .right-info-icons .share-navbar .share-navbar-box i {
                display: block;
                width: 26px;
                height: 26px;
                cursor: pointer; }
          #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .middle-info > h1 {
            font-size: 30px;
            color: #FFFFFF; }
          #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .middle-info .detail-box-bottom {
            width: 400px;
            padding: 20px 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; }
            #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .middle-info .detail-box-bottom .bottom-right p:nth-child(1) {
              margin-bottom: 8px;
              color: #FFFFFF; }
            #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .middle-info .detail-box-bottom .bottom-right p:nth-child(2) {
              color: #FFFFFF; }
            #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .middle-info .detail-box-bottom .bottom-right .mar-right {
              margin-right: 50px; }
          #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .middle-info .middle-img {
            width: 888px; }
            #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .middle-info .middle-img img {
              width: 437px;
              height: 220px; }
          #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .middle-info .content, #theme_name #star .mainList .star_info .star_info_right .main_info .detail-content-middle .middle-info .desc {
            width: 888px;
            text-align: justify;
            font-size: 18px;
            color: #FFFFFF;
            line-height: 27px;
            margin-top: 10px;
            margin-bottom: 10px; }
  #theme_name #star .mainList .staff_info {
    width: 100%;
    height: 100%;
    padding-top: 80px; }
    #theme_name #star .mainList .staff_info .staff_list_top {
      width: 324px;
      height: 98px;
      margin: 0 auto;
      text-align: center; }
      #theme_name #star .mainList .staff_info .staff_list_top span {
        color: #ffffff;
        font-family: jingDianXingShu;
        line-height: 98px;
        font-size: 30px;
        letter-spacing: 2px; }
    #theme_name #star .mainList .staff_info .staff_list_info {
      width: 100%;
      padding-top: 80px;
      padding-left: 200px;
      padding-right: 200px;
      margin: 0 auto; }
      #theme_name #star .mainList .staff_info .staff_list_info div {
        width: 314px;
        height: 377px;
        cursor: pointer; }
        #theme_name #star .mainList .staff_info .staff_list_info div span {
          display: block;
          width: 216px;
          height: 309px; }
  #theme_name #star .mainList .birthday_info {
    width: 100%;
    height: 100%;
    position: relative; }
    #theme_name #star .mainList .birthday_info .today_birthday {
      width: 100%;
      height: 50%;
      padding-left: 175px;
      padding-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      #theme_name #star .mainList .birthday_info .today_birthday .today_birthday_title {
        width: 98px;
        height: 102px;
        position: relative; }
        #theme_name #star .mainList .birthday_info .today_birthday .today_birthday_title span {
          display: block;
          width: 64px;
          position: absolute;
          top: 44%;
          left: 52%;
          transform: translate(-50%, -50%);
          font-size: 32px;
          font-family: jingDianXingShu;
          color: #ffffff; }
      #theme_name #star .mainList .birthday_info .today_birthday .today_birthday_list {
        width: 800px;
        margin-left: -175px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        #theme_name #star .mainList .birthday_info .today_birthday .today_birthday_list .birthday_box {
          width: 160px;
          height: auto; }
          #theme_name #star .mainList .birthday_info .today_birthday .today_birthday_list .birthday_box > img {
            width: calc((200px*1.73205080)/2);
            height: 200px;
            clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%); }
          #theme_name #star .mainList .birthday_info .today_birthday .today_birthday_list .birthday_box > div {
            margin-top: 10px; }
            #theme_name #star .mainList .birthday_info .today_birthday .today_birthday_list .birthday_box > div span {
              font-family: jingDianXingShu;
              font-size: 14px; }
      #theme_name #star .mainList .birthday_info .today_birthday .fix_birthday_btn {
        cursor: pointer;
        width: 100px;
        height: 30px;
        text-align: center;
        background: #DFDFDF;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px; }
        #theme_name #star .mainList .birthday_info .today_birthday .fix_birthday_btn span {
          font-family: jingDianXingShu;
          font-size: 14px;
          line-height: 30px; }
    #theme_name #star .mainList .birthday_info .months_birthday {
      width: 100%;
      height: 50%;
      padding-right: 175px;
      padding-left: 175px;
      padding-top: 50px;
      background: #E8E8E8; }
      #theme_name #star .mainList .birthday_info .months_birthday .months_birthday_title {
        margin-bottom: 30px; }
        #theme_name #star .mainList .birthday_info .months_birthday .months_birthday_title span {
          font-size: 30px;
          font-family: jingDianXingShu; }
      #theme_name #star .mainList .birthday_info .months_birthday .months_birthday_list .birthday_box {
        width: 160px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        #theme_name #star .mainList .birthday_info .months_birthday .months_birthday_list .birthday_box > img {
          width: 150px;
          height: 150px;
          border-radius: 50%; }
        #theme_name #star .mainList .birthday_info .months_birthday .months_birthday_list .birthday_box > div {
          margin-top: 10px; }
          #theme_name #star .mainList .birthday_info .months_birthday .months_birthday_list .birthday_box > div span {
            font-family: jingDianXingShu;
            font-size: 14px; }
    #theme_name #star .mainList .birthday_info .switch_icon_box {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: #FFFFFF;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      transform: rotate(45deg); }
      #theme_name #star .mainList .birthday_info .switch_icon_box span {
        display: block;
        width: 28px;
        height: 28px; }
#theme_name #star .dialog_header .write_wishes {
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer; }
#theme_name #star .dialog_header span {
  color: #CF2E33;
  font-size: 14px;
  margin-left: 10px; }
#theme_name #star .dialog_main .wishes-lists {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  #theme_name #star .dialog_main .wishes-lists > img {
    width: 50px;
    height: 50px; }
  #theme_name #star .dialog_main .wishes-lists > div {
    text-align: left;
    margin-left: 20px;
    color: #202020; }
    #theme_name #star .dialog_main .wishes-lists > div h3 {
      font-size: 18px; }
    #theme_name #star .dialog_main .wishes-lists > div p {
      line-height: 26px; }
#theme_name #star .form_item_container {
  align-items: flex-start; }
  #theme_name #star .form_item_container .item_content {
    width: 100%; }

/*# sourceMappingURL=lejiaStas.css.map */
